Repository tracim/tracim, pull requests merged in 2019-08, with the labels that each got.

#2124 [Nice to have in 2.4] Scroll to 'active' content (ie opened content or opened folder)
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend_lib/src/component/ListItemWrapper/ListItemWrapper.jsx
  functionnal_tests/cypress/integration/workspace/scroll_to_active_content.js
Labels: frontend

#2109 [Nice to have in 2.4] Fix/2038 fix description change not refresh
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  functionnal_tests/cypress/integration/a/operation_workspace_advanced.js
  functionnal_tests/cypress/support/generic_selector_commands.js
Labels: frontend

#2164 Fix/2149 fix the link to resume writing from a draft
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_lib/src/component/DisplayState/DisplayState.jsx
Labels: frontend

#2176 Fix/2172 Rename edit button for collabora files in app file
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/src/container/File.jsx
  frontend_lib/package.json
  frontend_lib/src/component/Button/GenericButton.jsx
  frontend_lib/src/component/OptionComponent/NewVersionBtn.jsx
  frontend_lib/src/index.js
  frontend_lib/test/component/GenericButton.spec.js
  frontend_lib/test/component/NewVersionBtn.spec.js
Labels: frontend

#2175 [#2174] app file now always opens in view mode when switching content
  frontend_app_file/src/container/File.jsx
  functionnal_tests/cypress/integration/app_file/switch_between_file_spec.js
  functionnal_tests/cypress/support/commands.js
  functionnal_tests/cypress/support/db_commands.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend

#2188 Fix/573 Fix profiles descriptions and roles descriptions
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/src/helper.js
Labels: frontend

#2131 [Nice to have in 2.4] Add Unit tests for some components in frontend_lib
  frontend_lib/package.json
  frontend_lib/src/component/Delimiter/Delimiter.jsx
  frontend_lib/src/component/DisplayState/DisplayState.jsx
  frontend_lib/src/component/Input/Checkbox.jsx
  frontend_lib/src/component/Input/RadioBtn/RadioBtn.jsx
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/OptionComponent/ArchiveDeleteContent.jsx
  frontend_lib/src/component/OptionComponent/NewVersionBtn.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedOption.jsx
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Revision.jsx
  frontend_lib/src/helper.js
  frontend_lib/test/.mocharc.js
  frontend_lib/test/Helper.spec.js
  frontend_lib/test/component/ArchiveDeleteContent.spec.js
  frontend_lib/test/component/Avatar.spec.js
  frontend_lib/test/component/Badge.spec.js
  frontend_lib/test/component/Breadcrumbs.spec.js
  frontend_lib/test/component/BtnSwitch.spec.js
  frontend_lib/test/component/CardPopup.spec.js
  frontend_lib/test/component/CardPopupCreateContent.spec.js
  frontend_lib/test/component/Checkbox.spec.js
  frontend_lib/test/component/Comment.spec.js
  frontend_lib/test/component/Delimiter.spec.js
  frontend_lib/test/component/DisplayState.spec.js
  frontend_lib/test/component/ErrorFlashMessageTemplateHtml.spec.js
  frontend_lib/test/component/IconButton.spec.js
  frontend_lib/test/component/IconWithWarning.spec.js
  frontend_lib/test/component/ListItemWrapper.spec.js
  frontend_lib/test/component/NewMemberForm.spec.js
  frontend_lib/test/component/PageContent.spec.js
  frontend_lib/test/component/PageTitle.spec.js
  frontend_lib/test/component/PageWrapper.spec.js
  frontend_lib/test/component/PopinFixed.spec.js
  frontend_lib/test/component/PopinFixedContent.spec.js
  frontend_lib/test/component/PopinFixedHeader.spec.js
  frontend_lib/test/component/PopinFixedOption.spec.js
  frontend_lib/test/component/RadioBtn.spec.js
  frontend_lib/test/component/Revision.spec.js
  frontend_lib/test/component/SelectStatus.spec.js
  frontend_lib/test/component/TextAreaApp.spec.js
  frontend_lib/test/component/Timeline.spec.js
  frontend_lib/test/setup.js
Labels: frontend, test

#2278 Fix/2276 fix timeline buttons not visible
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
  functionnal_tests/cypress/integration/app_thread/operation_allcontent_delete_thread.js
Labels: frontend

#2287 [#2258] Center the cancel button icon in ShareDownload
  frontend_lib/src/component/ShareDownload/ShareDownload.styl
Labels: frontend

#2286 [#2276] Fix the form position in the Timeline
  frontend_lib/src/component/Timeline/Timeline.styl
Labels: frontend

#2283 [#2282] Fix css in sidebar of the app
  frontend/package.json
  frontend/src/component/GuestPage/DownloadForm.jsx
  frontend/src/component/GuestPage/UploadForm.jsx
  frontend_app_share_folder_advanced/package.json
  frontend_app_share_folder_advanced/src/component/NewUpload.jsx
  frontend_lib/package.json
  frontend_lib/src/component/ShareDownload/NewShareDownload.jsx
  frontend_lib/src/component/Timeline/Comment.styl
Labels: frontend

#2295 [#2294] Repsonsive fix for status icon in app header
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.styl
Labels: frontend

#2285 [#2265] Fix properties in app file and replace the arrow in PopinFixedRightPart
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/src/component/FileProperties.jsx
  frontend_app_file/src/component/FileProperties.styl
  frontend_app_file/src/container/File.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedRightPart.jsx
Labels: frontend

#2301 [#2300] Handle long words in comments of timeline
  frontend_lib/src/component/Timeline/Comment.styl
Labels: frontend

#2313 Fix translations issues for share upload
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/src/i18n.js
  frontend_app_share_folder_advanced/i18next.scanner/en/translation.json
  frontend_app_share_folder_advanced/i18next.scanner/fr/translation.json
Labels: frontend

#2324 new endpoint to get upload permission info
  backend/tracim_backend/applications/upload_permissions/controller.py
  backend/tracim_backend/applications/upload_permissions/schema.py
  backend/tracim_backend/tests/functional/test_upload_permission.py
Labels: backend

#2311 [#2310] Remove the editTitle button in ShareFolderAdvanced header
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/test/component/PopinFixedHeader.spec.js
Labels: frontend

#2307 [#2306] Add number of actives shares in files properties
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/package.json
  frontend_app_file/src/component/FileProperties.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_file/test/component/FileProperties.spec.js
Labels: frontend
