Repository tracim/tracim, pull requests merged in 2019-09, with the labels that each got.

#2257 Fix/2031 limit number of sharespaces
  backend/development.ini.sample
  backend/tests_configs.ini
  backend/tracim_backend/config.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/agenda/agenda.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/lib/webdav/resources.py
  backend/tracim_backend/tests/functional/test_account.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/account_controller.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend/src/action-creator.async.js
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/Tracim.jsx
Labels: backend

#2340 lowercase email for shared_content and upload permission
  backend/tracim_backend/applications/share/lib.py
  backend/tracim_backend/applications/upload_permissions/lib.py
Labels: backend

#2343 do not show inbox content in webdav
  backend/tracim_backend/lib/webdav/dav_provider.py
  backend/tracim_backend/lib/webdav/resources.py
Labels: backend

#2331 Feature/2028 limit size of file upload
  backend/development.ini.sample
  backend/tests_configs.ini
  backend/tracim_backend/config.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/system.py
  backend/tracim_backend/lib/webdav/resources.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/tests/utils.py
  backend/tracim_backend/views/contents_api/file_controller.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: backend

#2362 migration script to fix postgresql issue with sequence
  backend/tracim_backend/migration/versions/f985419d2205_fix__sequence_naming_with_postgresql.py
Labels: backend

#2353 handle no file given case validation error
  backend/tracim_backend/applications/upload_permissions/controller.py
  backend/tracim_backend/applications/upload_permissions/schema.py
  backend/tracim_backend/applications/upload_permissions/validators.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/tests/functional/test_upload_permission.py
  backend/tracim_backend/views/contents_api/file_controller.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: backend

#2348 access to content using contentlib with default filter
  backend/tracim_backend/applications/share/controller.py
  backend/tracim_backend/applications/share/lib.py
  backend/tracim_backend/applications/share/models.py
  backend/tracim_backend/applications/share/models_in_context.py
  backend/tracim_backend/tests/functional/test_share_content.py
Labels: backend

#2336 Feature/2029 limit size of workspace
  backend/development.ini.sample
  backend/tests_configs.ini
  backend/tracim_backend/config.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/webdav/resources.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/tests/models/test_workspace.py
  backend/tracim_backend/views/contents_api/file_controller.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: backend

#2369 max workspace size and max workspace per user in config endpoint
  backend/tracim_backend/lib/core/system.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: backend

#2335 [#2289] Modifications needed in upload form
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/src/action-creator.async.js
  frontend/src/component/GuestPage/UploadForm.jsx
  frontend/src/container/GuestUpload.jsx
Labels: frontend

#2304 [#2303] Display password input as option in ShareFolderAdvanced
  frontend_app_share_folder_advanced/i18next.scanner/en/translation.json
  frontend_app_share_folder_advanced/i18next.scanner/fr/translation.json
  frontend_app_share_folder_advanced/package.json
  frontend_app_share_folder_advanced/src/component/NewUpload.jsx
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_app_share_folder_advanced/test/.mocharc.js
  frontend_app_share_folder_advanced/test/component/NewUpload.spec.js
  frontend_app_share_folder_advanced/test/hocMock/translate.js
  frontend_app_share_folder_advanced/test/setup.js
  frontend_lib/src/component/ShareDownload/ShareDownload.styl
  functionnal_tests/cypress/integration/share/new_share_upload_spec.js
Labels: frontend

#2315 [#2299] Fix share file feature visiblity according to member role's
  frontend_app_file/src/container/File.jsx
  frontend_lib/src/component/ShareDownload/ShareDownloadManagement.jsx
  frontend_lib/src/component/ShareLink/ShareLink.jsx
Labels: frontend

#2364 Fix/2349 activation of share feature per workspace
  backend/tracim_backend/applications/share/authorization.py
  backend/tracim_backend/applications/share/controller.py
  backend/tracim_backend/applications/upload_permissions/authorization.py
  backend/tracim_backend/applications/upload_permissions/controller.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/migration/versions/cd9f985612c5_add_pubic_download_enabled_and_public_.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/functional/test_share_content.py
  backend/tracim_backend/tests/functional/test_upload_permission.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/reducer/currentWorkspace.js
  frontend_app_file/src/container/File.jsx
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/component/OptionalFunctionalities.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  functionnal_tests/cypress/integration/share/new_share_download_spec.js
  functionnal_tests/cypress/integration/share/share_download_page_spec.js
Labels: backend, frontend

#2271 Fix/xxx template mail fix
  backend/development.ini.sample
  backend/tests_configs.ini
  backend/tracim_backend/applications/share/config.py
  backend/tracim_backend/applications/upload_permissions/config.py
  backend/tracim_backend/applications/upload_permissions/email_manager.py
  backend/tracim_backend/locale/en/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/fr/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/templates/mail/shared_content_to_receiver_body_html.mak
  backend/tracim_backend/templates/mail/upload_permission_to_emitter_body_html.mak
  backend/tracim_backend/templates/mail/upload_permission_to_receiver_body_html.mak
Labels: backend

#2376 Fix/2372 remove collabora from content type endpoint
  backend/tracim_backend/config.py
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/component/Workspace/OpenCreateContentApp.jsx
  frontend/src/container/WorkspaceContent.jsx
Labels: frontend

#2384 add workspace size check on public upload
  backend/tracim_backend/applications/upload_permissions/controller.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/tests/functional/test_upload_permission.py
Labels: backend

#2363 delete node_module folder not necessary to build image
  tools_docker/Debian_Uwsgi/Dockerfile
Labels: deployment

#2390 [#2389] fix app collabora edit btn + btn in dashboard + creation labe…
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/src/container/Dashboard.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_workspace/webpack.config.js
Labels: frontend
