Repository tracim/tracim, pull requests merged in 2019-12, with the labels that each got.

#2576 [#2538] Change lazyloading to 'progressive' when autoplay is enabled
  frontend_app_gallery/src/component/Carousel.jsx
  frontend_app_gallery/src/container/Gallery.jsx
Labels: Gallery, frontend

#2589 allow bypassing revision deletion check using context manager and tra…
  backend/tracim_backend/models/revision_protection.py
  backend/tracim_backend/models/setup_models.py
  backend/tracim_backend/models/tracim_session.py
  backend/tracim_backend/tests/models/test_content.py
Labels: backend

#2578 [for 2.6.0] Fix/2541 hide lightbox buttons in app gallery when mouse not active
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/src/css/index.styl
Labels: Gallery, frontend

#2579 [for 2.6.0] Fix/2551 add a separation between thumbnails and mainPreview in app gallery
  frontend_app_gallery/src/css/index.styl
Labels: Gallery, frontend

#2387 [for 2.6.0] Fix/1656 move role to frontend lib and refacto
  frontend/src/appFactory.js
  frontend/src/component/Account/Notification.jsx
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Dashboard/RecentActivity.jsx
  frontend/src/component/Dashboard/UserStatus.jsx
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/component/Workspace/OpenShareFolderApp.jsx
  frontend/src/component/Workspace/ShareFolder.jsx
  frontend/src/container/AppFullscreenRouter.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/helper.js
  frontend/src/reducer/user.js
  frontend/test/component/WorkspaceListItem.spec.js
  frontend/test/fixture/user/globalManagerAsMember.js
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/helper.js
  frontend_app_agenda/src/helper.js
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/src/index.js
  frontend_app_file/src/container/File.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/index.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_share_folder_advanced/src/index.js
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/src/component/ShareDownload/ShareDownloadManagement.jsx
  frontend_lib/src/component/ShareLink/ShareLink.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/debug.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/component/NewMemberForm.spec.js
  frontend_lib/test/component/PopinFixedHeader.spec.js
  frontend_lib/test/component/Timeline.spec.js
  functionnal_tests/cypress/integration/share/switch_upload_propery_in_workspace_spec.js
Labels: frontend

#2585 [for 2.6.0] Feature/2574 gallery app unit tests
  frontend_app_gallery/src/component/Carousel.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/test/component/Carousel.spec.js
  frontend_app_gallery/test/component/Gallery.spec.js
  frontend_app_gallery/test/component/MainPreview.spec.js
  frontend_app_gallery/test/component/ThumbnailPreview.spec.js
  frontend_app_gallery/test/setup.js
  run_frontend_unit_test.sh
Labels: Gallery, frontend

#2599 Refactor/1656 harmonize role and profile
  frontend/src/appFactory.js
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Dashboard/RecentActivity.jsx
  frontend/src/component/Dashboard/UserStatus.jsx
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/component/Workspace/Folder.styl
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/component/Workspace/OpenShareFolderApp.jsx
  frontend/src/component/Workspace/ShareFolder.jsx
  frontend/src/container/AppFullscreenRouter.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/helper.js
  frontend/src/reducer/user.js
  frontend/test/component/WorkspaceListItem.spec.js
  frontend/test/fixture/user/globalManagerAsMember.js
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/src/index.js
  frontend_app_file/src/container/File.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/index.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_share_folder_advanced/src/index.js
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/src/component/ShareDownload/ShareDownloadManagement.jsx
  frontend_lib/src/component/ShareLink/ShareLink.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/debug.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/component/NewMemberForm.spec.js
  frontend_lib/test/component/PopinFixedHeader.spec.js
  frontend_lib/test/component/Timeline.spec.js
Labels: frontend
