Repository tracim/tracim, pull requests merged in 2019-11, with the labels that each got.

#2507 Fix/2500 fix broken cypress test
  functionnal_tests/cypress/integration/app_html-document/operation_dashboard_dashboardbutton_create_html-document.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_dashboard.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_activity.js
Labels: frontend, test

#2505 [#2501] When load new content in app file, always load the first page
  frontend_app_file/src/container/File.jsx
Labels: frontend

#2508 Fix/2392 workspacelist and currentworkspace consistency
  frontend/src/reducer/workspaceList.js
  frontend_app_workspace_advanced/src/component/OptionalFunctionalities.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  functionnal_tests/cypress/integration/share/switch_upload_propery_in_workspace_spec.js
Labels: frontend

#2527 use description instead of descriptions in marshmallow schema
  backend/tracim_backend/views/agenda_api/schemas.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: documentation

#2530 WIP Feature/2512 app gallery
  backend/tracim_backend/config.py
  build_full_frontend.sh
  color.json.sample
  frontend/dist/assets/tracim/appInterface.js
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/src/appFactory.js
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/AppFullscreenRouter.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/helper.js
  frontend/src/i18n.js
  frontend_app_file/src/container/File.jsx
  frontend_app_gallery/.editorconfig
  frontend_app_gallery/.gitignore
  frontend_app_gallery/README.md
  frontend_app_gallery/build_gallery.sh
  frontend_app_gallery/dist/app
  frontend_app_gallery/dist/assets
  frontend_app_gallery/dist/index.html
  frontend_app_gallery/i18next.scanner.js
  frontend_app_gallery/i18next.scanner/en/translation.json
  frontend_app_gallery/i18next.scanner/fr/translation.json
  frontend_app_gallery/package.json
  frontend_app_gallery/src/Lightbox.js
  frontend_app_gallery/src/action.async.js
  frontend_app_gallery/src/component/Carousel.jsx
  frontend_app_gallery/src/component/CarouselArrow.jsx
  frontend_app_gallery/src/component/MainPreview.jsx
  frontend_app_gallery/src/component/ThumbnailPreview.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/src/css/index.styl
  frontend_app_gallery/src/debug.js.sample
  frontend_app_gallery/src/helper.js
  frontend_app_gallery/src/i18n.js
  frontend_app_gallery/src/index.dev.js
  frontend_app_gallery/src/index.js
  frontend_app_gallery/test/.mocharc.js
  frontend_app_gallery/test/component/MainPreview.spec.js
  frontend_app_gallery/test/setup.js
  frontend_app_gallery/webpack.config.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_activity.js
  functionnal_tests/cypress/support/generic_selector_commands.js
  install_frontend_dependencies.sh
Labels: frontend
