Repository tracim/tracim, pull requests merged in 2020-08, with the labels that each got.

#3397 Fix/3393 Fix wrong version number in html document app
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
Labels: frontend, manually tested, v3.0

#3420 Fix/3418 pushpin install
  frontend/src/util/tinymceInit.js
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/container/File.jsx
  tools_docker/Debian_Uwsgi/Dockerfile
Labels: manually tested

#3376 Feature/2840 add notification wall
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Workspace/Folder.styl
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/NotificationWall.styl
  frontend/src/css/index.styl
  frontend/src/reducer/notificationPage.js
  frontend/src/reducer/root.js
  frontend/src/reducer/searchResult.js
  frontend/src/util/LiveMessageManager.js
  frontend/src/util/helper.js
  frontend/test/apiMock.js
  frontend/test/fixture/content/content.js
  frontend/test/src/container/AdminAccount.spec.js
  frontend/test/src/container/Dashboard.spec.js
  frontend/test/src/container/NotificationWall.spec.js
  frontend/test/src/reducer/notificationList.spec.js
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/test/container/AdminWorkspaceUser.spec.js
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_agenda/test/Agenda.spec.js
  frontend_app_collaborative_document_edition/test/PopupCreateOfficeDocument.spec.js
  frontend_app_custom-form/src/css/index.styl
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/css/index.styl
  frontend_app_file/test/component/File.spec.js
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/test/container/FolderAdvanced.spec.js
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/test/container/Gallery.spec.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_thread/test/container/Thread.spec.js
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_app_workspace_advanced/test/src/container/WorkspaceAdvanced.spec.js
  frontend_lib/src/component/Button/GenericButton.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/tracimLiveMessage.js
  functionnal_tests/cypress/integration/search/see_more_button_spec.js
Labels: frontend

#3359 Fix/3331 redistribute column sizes
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.jsx
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.styl
  functionnal_tests/cypress/integration/admin/content_admin_user.js
Labels: frontend

#3408 Feature/3323 Add notification button in header
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Header/MenuActionListItem/Notification.jsx
  frontend/src/component/Header/MenuActionListItem/NotificationButton.jsx
  frontend/src/component/Header/MenuActionListItem/NotificationButton.styl
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/css/Header.styl
  frontend/src/css/NotificationWall.styl
  frontend/src/reducer/notificationPage.js
  frontend/src/reducer/workspaceContentList.js
  frontend/src/util/helper.js
  frontend/test/src/component/NotificationButton.spec.js
  frontend/test/src/container/NotificationWall.spec.js
  frontend/test/src/reducer/notificationList.spec.js
  functionnal_tests/cypress/integration/app_file/switch_between_file_spec.js
  functionnal_tests/cypress/integration/app_html-document/tiny_mce__can_type_content_spec.js
  functionnal_tests/cypress/integration/app_interface/switching_different_apps_feature_spec.js
Labels: frontend

#3427 Feature/3322 add mark all notifications as read
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Dashboard/RecentActivity.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/css/NotificationWall.styl
  frontend/src/reducer/notificationPage.js
  frontend/test/apiMock.js
  frontend/test/src/component/RecentActivity.spec.js
  frontend/test/src/container/NotificationWall.spec.js
  frontend/test/src/reducer/notificationPage.spec.js
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  functionnal_tests/cypress/integration/app_thread/delete_content.js
  functionnal_tests/cypress/integration/notification_wall/mark_as_read_spec.js
  functionnal_tests/cypress/integration/notification_wall/notification_button_header_spec.js
  functionnal_tests/cypress/integration/notification_wall/notification_wall_navigation_spec.js
  functionnal_tests/cypress/integration/notification_wall/translation_spec.js
Labels: frontend, manually tested

#3358 Fix/3336 don't show message changing language at agenda
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_agenda/test/Agenda.spec.js
Labels: frontend

#3439 feat(backend): forbid usage of group mentions in usernames
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/core/mention.py
  backend/tracim_backend/lib/core/system.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/models/event.py
  backend/tracim_backend/models/mention.py
  backend/tracim_backend/tests/commands/test_commands.py
  backend/tracim_backend/tests/functional/test_account.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/tests/library/test_event.py
  backend/tracim_backend/tests/library/test_user_api.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/system_controller.py
  backend/tracim_backend/views/core_api/user_controller.py
Labels: manually tested

#3444 feat(frontend): avoid username collision with group mentions
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Account/PersonalData.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Home.jsx
  frontend/src/util/helper.js
  frontend/test/src/component/PersonalData.spec.js
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/AdminAccount.spec.js
  frontend/test/src/container/Home.spec.js
  frontend_app_admin_workspace_user/src/action.async.js
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/helper.js
  frontend_lib/src/action.async.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/apiMock.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
  functionnal_tests/cypress/integration/admin/content_admin_user.js
  functionnal_tests/cypress/integration/login/username_popup_spec.js
  yarn.lock
Labels: manually tested

#3449 Feature/3429 Add author avatar in the notification wall
  frontend/src/container/NotificationWall.jsx
  frontend/src/css/NotificationWall.styl
  functionnal_tests/cypress/integration/notification_wall/notification_wall_navigation_spec.js
Labels: frontend

#3446 Feature/3326 Change browser tab title and icon according to notification not read number
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend/src/action-creator.sync.js
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/ForgotPassword.jsx
  frontend/src/container/ForgotPasswordNoEmailNotif.jsx
  frontend/src/container/GuestDownload.jsx
  frontend/src/container/GuestUpload.jsx
  frontend/src/container/Home.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/ResetPassword.jsx
  frontend/src/container/SearchResult.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/reducer/notificationPage.js
  frontend/src/reducer/system.js
  frontend/src/util/helper.js
  frontend/test/fixture/notification/notificationPage.js
  frontend/test/src/container/Home.spec.js
  frontend/test/src/container/Tracim.spec.js
  frontend/test/src/reducer/system.spec.js
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/src/container/PopupCreateOfficeDocument.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/container/PopupCreateFolder.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/test/setup.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/container/PopupCreateHtmlDocument.jsx
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_thread/src/container/PopupCreateThread.jsx
  frontend_app_thread/src/container/Thread.jsx
Labels: frontend

#3445 Feat/3411 add span wrapping mention
  frontend/src/util/tinymceInit.js
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/i18next.scanner/en/translation.json
  frontend_app_html-document/i18next.scanner/fr/translation.json
  frontend_app_html-document/i18next.scanner/pt/translation.json
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_thread/i18next.scanner/en/translation.json
  frontend_app_thread/i18next.scanner/fr/translation.json
  frontend_app_thread/i18next.scanner/pt/translation.json
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/dist/index.html
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.dev.js
  frontend_lib/src/index.js
  frontend_lib/test/helper.spec.js
  frontend_lib/test/setup.js
Labels: frontend

#3435 Fix/3331 add height at header table
  frontend_app_admin_workspace_user/src/css/index.styl
Labels: frontend

#3474 Chore/3473 Set Yarn 2 version to 2.1.1
  install_frontend_dependencies.sh
Labels: frontend
