Repository tracim/tracim, pull requests merged in 2020-10, with the labels that each got.

#3674 Feat/3577 update create space popup
  frontend/src/component/Header/MenuActionListItem/AdminLink.styl
  frontend/src/component/Header/MenuActionListItem/DropdownLang.styl
  frontend/src/component/Header/MenuActionListItem/MenuProfil.styl
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/css/Generic.styl
  frontend/src/css/NotificationWall.styl
  frontend/src/util/helper.js
  frontend_app_admin_workspace_user/src/component/AdminWorkspace.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_gallery/i18next.scanner/en/translation.json
  frontend_app_gallery/i18next.scanner/fr/translation.json
  frontend_app_gallery/i18next.scanner/pt/translation.json
  frontend_app_gallery/src/component/CarouselArrow.jsx
  frontend_app_thread/package.json
  frontend_app_thread/test/container/Thread.spec.js
  frontend_app_workspace/i18next.scanner/en/translation.json
  frontend_app_workspace/i18next.scanner/fr/translation.json
  frontend_app_workspace/i18next.scanner/pt/translation.json
  frontend_app_workspace/package.json
  frontend_app_workspace/src/action.async.js
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_app_workspace/src/css/index.styl
  frontend_app_workspace/test/.mocharc.js
  frontend_app_workspace/test/apiMock.js
  frontend_app_workspace/test/container/PopupCreateWorkspace.spec.js
  frontend_app_workspace/test/setup.js
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/Button/GenericButton.styl
  frontend_lib/src/component/CardPopup/CardPopupCreateContent.jsx
  frontend_lib/src/component/CardPopup/CardPopupCreateContent.styl
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
  frontend_lib/src/component/Input/SingleChoiceList/SingleChoiceList.jsx
  frontend_lib/src/component/Input/SingleChoiceList/SingleChoiceList.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/src/component/PopinFixed/PopinFixedRightPart.jsx
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/component/NewMemberForm.spec.js
  frontend_lib/test/component/SingleChoiceList.spec.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/integration/admin/content_admin_workspace.js
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
  functionnal_tests/cypress/integration/workspace/create_workspace_spec.js
  functionnal_tests/cypress/integration/workspace/navigation_create_workspace.js
Labels: frontend

#3165 Fix/3163 linting errors on tracim frontend lib
  frontend_lib/package.json
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Badge/Badge.jsx
  frontend_lib/src/component/CardPopup/CardPopup.jsx
  frontend_lib/src/component/CardPopup/CardPopupCreateContent.jsx
  frontend_lib/src/component/DropdownMenu/DropdownMenu.jsx
  frontend_lib/src/component/FileDropzone/FileUploadList.jsx
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.jsx
  frontend_lib/src/component/Input/Checkbox.jsx
  frontend_lib/src/component/Input/RadioBtn/RadioBtn.jsx
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.jsx
  frontend_lib/src/component/Layout/PageTitle.jsx
  frontend_lib/src/component/ListItemWrapper/ListItemWrapper.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/OptionComponent/ArchiveDeleteContent.jsx
  frontend_lib/src/component/PopinFixed/PopinFixed.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedContent.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedRightPart.jsx
  frontend_lib/src/component/ShareDownload/NewShareDownload.jsx
  frontend_lib/src/component/ShareDownload/ShareDownload.jsx
  frontend_lib/src/component/ShareDownload/ShareDownloadManagement.jsx
  frontend_lib/src/component/ShareLink/ShareLink.jsx
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/debugData.js
  frontend_lib/src/helper.js
  frontend_lib/src/tracimComponent.js
  frontend_lib/test/component/PopinFixedHeader.spec.js
Labels: frontend, low priority

#3667 Feat/3579 update sidebar
  frontend/dist/assets/images/applat.png
  frontend/src/action-creator.sync.js
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/Sidebar.styl
  frontend/src/reducer/workspaceList.js
  frontend/src/util/helper.js
  frontend/test/fixture/workspace/firstWorkspace.js
  frontend/test/src/component/WorkspaceListItem.spec.js
  frontend/test/src/container/Sidebar.spec.js
  frontend/test/src/helper.spec.js
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/fixtures/baseChildWorkspace.json
  functionnal_tests/cypress/fixtures/baseWorkspace.json
  functionnal_tests/cypress/integration/app_file/navigation_create_file.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_allcontent.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_dashboard.js
  functionnal_tests/cypress/integration/sidebar/sidebar_tree_view_spec.js
Labels: frontend, manually tested

#3678 Feat/2948 semi automatic docker test
  .gitignore
  .travis.yml
  backend/doc/setting.md
  backend/setup.cfg
  tools_docker/test_docker/README.md
  tools_docker/test_docker/__init__.py
  tools_docker/test_docker/fixtures.py
  tools_docker/test_docker/setup_test.sh
  tools_docker/test_docker/test_config.sample.env
  tools_docker/test_docker/test_dockers.py
  tools_docker/test_docker/tracim.sample.env
Labels: backend, docker, low priority

#3686 [for 3.1.5] Fix/3685 force delete user
  backend/tracim_backend/command/__init__.py
  backend/tracim_backend/command/cleanup.py
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/core/mention.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/commands/test_commands.py
Labels: backend

#3687 [for 3.2.0] Feature/3549 support child space in webdav
  backend/tracim_backend/applications/upload_permissions/lib.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/lib/webdav/__init__.py
  backend/tracim_backend/lib/webdav/dav_provider.py
  backend/tracim_backend/lib/webdav/resources.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/functional/test_daemons.py
  backend/tracim_backend/tests/functional/test_mail_notification.py
  backend/tracim_backend/tests/functional/test_webdav.py
  backend/tracim_backend/tests/library/test_webdav.py
  backend/tracim_backend/tests/utils.py
Labels: backend

#3723 Feat/3572 add parent access plugin
  backend/official_plugins/tracim_backend_parent_access/README.md
  backend/official_plugins/tracim_backend_parent_access/__init__.py
  backend/tracim_backend/lib/core/userworkspace.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/tests/plugins/test_parent_access_plugin.py
  functionnal_tests/cypress/integration/login/username_popup_spec.js
Labels: backend

#3732 Feat/3587 join spaces
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/library/test_event.py
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Home/Home.styl
  frontend/src/component/Home/HomeNoWorkspace.jsx
  frontend/src/container/Home.jsx
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/SearchResult.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/JoinWorkspace.styl
  frontend/src/css/Sidebar.styl
  frontend/src/css/Tracim.styl
  frontend/src/reducer/accessibleWorkspaceList.js
  frontend/src/reducer/root.js
  frontend/src/reducer/user.js
  frontend/src/reducer/workspaceList.js
  frontend/src/reducer/workspaceSubscriptionList.js
  frontend/src/util/helper.js
  frontend/test/src/component/HomeNoWorkspace.spec.js
  frontend/test/src/container/JoinWorkspace.spec.js
  frontend/test/src/container/Sidebar.spec.js
  frontend/test/src/container/Tracim.spec.js
  frontend_app_admin_workspace_user/test/setup.js
  frontend_app_agenda/test/setup.js
  frontend_app_collaborative_document_edition/test/setup.js
  frontend_app_file/test/setup.js
  frontend_app_folder_advanced/test/setup.js
  frontend_app_gallery/test/setup.js
  frontend_app_html-document/test/setup.js
  frontend_app_thread/test/setup.js
  frontend_app_workspace/test/setup.js
  frontend_app_workspace_advanced/test/setup.js
  frontend_lib/package.json
  frontend_lib/src/component/Button/IconButton.jsx
  frontend_lib/src/component/Input/TextInput.jsx
  frontend_lib/src/component/Input/TextInput.styl
  frontend_lib/src/css/IconButton.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/src/tracimLiveMessage.js
  frontend_lib/test/component/IconButton.spec.js
  frontend_lib/test/setup.js
  functionnal_tests/cypress/fixtures/onRequestWorkspace.json
  functionnal_tests/cypress/fixtures/openWorkspace.json
  functionnal_tests/cypress/integration/join_workspace/join_workspace_page.spec.js
  functionnal_tests/cypress/integration/sidebar/sidebar_buttons.spec.js
  functionnal_tests/cypress/integration/workspace/create_workspace_spec.js
  functionnal_tests/cypress/integration/workspace/navigation_create_workspace.js
  functionnal_tests/cypress/support/urls_commands.js
  package.json
  yarn.lock
Labels: frontend

#3720 Feat/3588 add subscriptions to advanced dashboard
  frontend/src/component/Header/MenuActionListItem/AdminLink.jsx
  frontend/src/component/Header/MenuActionListItem/DropdownLang.jsx
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/test/src/component/HomeNoWorkspace.spec.js
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/fr/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/component/OptionalFeatures.jsx
  frontend_app_workspace_advanced/src/component/SpaceSubscriptionsRequests.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_app_workspace_advanced/test/apiMock.js
  frontend_app_workspace_advanced/test/src/component/SpaceSubscriptionsRequests.spec.js
  frontend_app_workspace_advanced/test/src/container/WorkspaceAdvanced.spec.js
  frontend_lib/src/component/DropdownMenu/DropdownMenu.jsx
  frontend_lib/src/component/DropdownMenu/DropdownMenuItem.jsx
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.jsx
  frontend_lib/src/component/Lists/ListItemWrapper/ListItemWrapper.jsx
  frontend_lib/src/component/Lists/ListItemWrapper/ListItemWrapper.styl
  frontend_lib/src/component/Lists/NoHoverListItem/NoHoverListItem.jsx
  frontend_lib/src/component/Lists/NoHoverListItem/NoHoverListItem.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/PopinFixed/PopinFixedRightPartContent.jsx
  frontend_lib/src/component/UserInfo/UserInfo.jsx
  frontend_lib/src/component/UserInfo/UserInfo.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/index.js
  frontend_lib/test/component/DropdownMenu.spec.js
  frontend_lib/test/component/DropdownMenuItem.spec.js
  frontend_lib/test/component/ListItemWrapper.spec.js
  frontend_lib/test/component/NoHoverListItem.spec.js
  frontend_lib/test/component/PopinFixedRightPartContent.spec.js
  frontend_lib/test/component/UserInfo.spec.js
Labels: frontend

#3733 Feat/3599 display subscription notifications
  backend/tracim_backend/lib/core/event.py
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/css/NotificationWall.styl
  frontend/src/reducer/notificationPage.js
  frontend/test/src/container/JoinWorkspace.spec.js
  frontend/test/src/reducer/notificationPage.spec.js
  frontend/test/src/reducer/workspaceList.spec.js
Labels: frontend

#3757 Fix/3751 add flash messages to join page
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/JoinWorkspace.jsx
Labels: frontend

#3759 Fix/3748 request access button changing by itself
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/test/src/component/UserSpacesConfig.spec.js
  frontend/test/src/container/ReduxTlmDispatcher.spec.js
Labels: frontend

#3762 Fix/3752 always add user to all ancestors
  backend/official_plugins/tracim_backend_parent_access/__init__.py
  backend/tracim_backend/tests/plugins/test_parent_access_plugin.py
Labels: backend

#3764 Fix/3749 always show dropdown menu at sidebar on mobile
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
Labels: frontend

#3756 Fix/3684 Translations and icons
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/test/src/container/NotificationWall.spec.js
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  functionnal_tests/cypress/integration/join_workspace/join_workspace_page.spec.js
Labels: frontend

#3766 Fix/3765 IconButton height depends on it content
  frontend_lib/src/component/Button/IconButton.styl
Labels: frontend
