Repository tracim/tracim, pull requests merged in 2020-04, with the labels that each got.

#2799 [For 2.6.3] fix(back): add 2 more index in content_revisions database table
  backend/tracim_backend/migration/versions/ce074202abb2_add_content_id_and_workspace_id_index_.py
  backend/tracim_backend/models/data.py
Labels: backend, database related

#2670 [For 2.6.3] Use multifield for elasticsearch indexing
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/es_models.py
Labels: backend

#2794 [For 2.6.3] Fix/2688 Add cypress and unit test for #2683
  frontend/test/src/component/RecentActivity.spec.js
  functionnal_tests/cypress/integration/app_file/switch_between_file_spec.js
  functionnal_tests/cypress/integration/app_folder/app_folder_spec.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend, test

#2821 [For 2.6.3] Feature/2687 improve email quality
  backend/setup.cfg
  backend/setup.py
  backend/tracim_backend/applications/share/email_manager.py
  backend/tracim_backend/applications/upload_permissions/email_manager.py
  backend/tracim_backend/lib/mail_notifier/notifier.py
  backend/tracim_backend/lib/mail_notifier/utils.py
  backend/tracim_backend/tests/functional/test_mail_notification.py
  backend/tracim_backend/tests/library/test_utils.py
Labels: Email, backend

#2825 [For 2.6.3] avoid logging exception string value, log traceback instead
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/mail_fetcher/email_fetcher.py
  backend/tracim_backend/lib/mail_notifier/notifier.py
  backend/tracim_backend/lib/mail_notifier/sender.py
  backend/tracim_backend/lib/utils/logger.py
  backend/tracim_backend/models/context_models.py
Labels: backend, verified

#2795 [For 2.6.3] fix(backend): add smtp implicit encryption support
  backend/development.ini.sample
  backend/doc/setting.md
  backend/tracim_backend/applications/share/lib.py
  backend/tracim_backend/applications/upload_permissions/lib.py
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/mail_fetcher/email_fetcher.py
  backend/tracim_backend/lib/mail_notifier/notifier.py
  backend/tracim_backend/lib/mail_notifier/sender.py
  backend/tracim_backend/lib/mail_notifier/utils.py
  backend/tracim_backend/tests/functional/test_mail_notification.py
Labels: Email, backend, verified

#2819 [For 2.6.3] Fix/2811 fix reference header fallback
  backend/doc/setting.md
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/mail_fetcher/email_fetcher.py
  backend/tracim_backend/lib/mail_notifier/notifier.py
  backend/tracim_backend/lib/mail_notifier/utils.py
  backend/tracim_backend/tests/functional/test_daemons.py
  backend/tracim_backend/tests/functional/test_mail_notification.py
  backend/tracim_backend/tests/library/test_email_fetcher.py
Labels: Email, backend, verified

#2854 New stable version of tracim: release_02.06.03
  backend/development.ini.sample
  backend/doc/setting.md
  backend/setup.cfg
  backend/setup.py
  backend/tracim_backend/applications/share/email_manager.py
  backend/tracim_backend/applications/share/lib.py
  backend/tracim_backend/applications/upload_permissions/email_manager.py
  backend/tracim_backend/applications/upload_permissions/lib.py
  backend/tracim_backend/config.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/mail_fetcher/email_fetcher.py
  backend/tracim_backend/lib/mail_notifier/notifier.py
  backend/tracim_backend/lib/mail_notifier/sender.py
  backend/tracim_backend/lib/mail_notifier/utils.py
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/es_models.py
  backend/tracim_backend/lib/utils/logger.py
  backend/tracim_backend/migration/versions/ce074202abb2_add_content_id_and_workspace_id_index_.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/functional/test_daemons.py
  backend/tracim_backend/tests/functional/test_mail_notification.py
  backend/tracim_backend/tests/library/test_email_fetcher.py
  backend/tracim_backend/tests/library/test_utils.py
  changelog.md
  frontend/src/version.json
  frontend/test/src/component/RecentActivity.spec.js
  functionnal_tests/cypress/integration/app_file/switch_between_file_spec.js
  functionnal_tests/cypress/integration/app_folder/app_folder_spec.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: verified

#2633 [2.6.X] add editorconfig file for python
  .editorconfig
  frontend/.editorconfig
  frontend_app_admin_workspace_user/.editorconfig
  frontend_app_agenda/.editorconfig
  frontend_app_collaborative_document_edition/.editorconfig
  frontend_app_folder_advanced/.editorconfig
  frontend_app_gallery/.editorconfig
  frontend_app_html-document/.editorconfig
  frontend_app_share_folder_advanced/.editorconfig
  frontend_app_thread/.editorconfig
  frontend_app_workspace/.editorconfig
  frontend_app_workspace_advanced/.editorconfig
  frontend_lib/.editorconfig
  functionnal_tests/.editorconfig
Labels: backend, frontend, low priority, verified

#2718 [For 2.6.x] fix: remove requirement to run the Black pre-commit hook with python3.6
  .pre-commit-config.yaml
  CONTRIBUTING.md
Labels: backend

#2805 Add documentation for alembic migration
  backend/doc/migration.md
Labels: backend

#2716 [for 2.6.x] fix/1515 Display a loading message when the img is loading in app file
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/src/component/PreviewComponent.jsx
  frontend_app_file/src/component/PreviewComponent.styl
  frontend_app_file/src/helper.js
  frontend_app_file/test/component/PreviewComponent.spec.js
Labels: frontend, verified

#2781 [for 2.6.x] Fix/2693 Scroll to workspace created in Sidebar
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/container/Tracim.jsx
  functionnal_tests/cypress/integration/workspace/create_workspace_spec.js
Labels: frontend, verified

#2765 [For 2.6.x] Fix/2679 Input and tinyMCE auto focus
  frontend/dist/assets/tracim/tinymceInit.js
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
Labels: frontend, verified

#2782 [for 2.6.x] Fix/1444 Hide disabled user in workspace advanced dashboard
  backend/tracim_backend/lib/core/userworkspace.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend/src/action-creator.async.js
  frontend/src/container/Dashboard.jsx
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
  functionnal_tests/cypress/support/db_commands.js
Labels: backend, frontend, verified

#2820 [For 2.6.x] Fix/2454 Parse simple text in comment saved to get clickable links
  frontend_lib/package.json
  frontend_lib/src/appContentFactory.js
Labels: frontend, verified

#2792 [for 2.6.x] Fix/2791 Wrong warning message when disconnecting from Gallery App
  frontend/src/container/AppFullscreenRouter.jsx
  frontend/test/src/container/AppFullscreenRouter.spec.js
Labels: frontend, verified

#2800 [for 2.6.x] fix/2406 Change style to rich text button displayed in apps which is confusing
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
  frontend_lib/test/component/Timeline.spec.js
Labels: frontend

#2809 [For 2.6.x] Fix #2595 / add a overflow wrap for fix long strings
  frontend_app_html-document/src/css/index.styl
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Comment.styl
  functionnal_tests/cypress/integration/timeline/comment_size__spec.js
Labels: frontend, verified

#2772 [for 2.6.x] Fix/2764 TinyMCE height responsivity
  frontend/dist/assets/tracim/tinymceInit.js
  frontend/src/css/Generic.styl
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
  frontend_lib/src/component/Input/TextAreaApp/TextAreaApp.styl
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
Labels: frontend, verified

#2869 [#1409] add a tabindex to focus the rigth button
  frontend_lib/src/component/Input/TextAreaApp/TextAreaApp.jsx
Labels: frontend, verified

#2717 [for 2.6.x] Fix/2681 breadcrumbs consistency in workspace content
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/ForgotPassword.jsx
  frontend/src/container/ForgotPasswordNoEmailNotif.jsx
  frontend/src/container/GuestDownload.jsx
  frontend/src/container/GuestUpload.jsx
  frontend/src/container/Home.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/ResetPassword.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/component/Breadcrumbs/Breadcrumbs.jsx
  frontend_lib/test/component/Breadcrumbs.spec.js
  functionnal_tests/cypress/integration/app_file/switch_between_file_spec.js
  functionnal_tests/cypress/support/generic_selector_commands.js
Labels: frontend, verified

#2806 [for 2.6.x] Fix/2661 Display error message when preview not available in app gallery
  frontend_app_file/src/component/PreviewComponent.jsx
  frontend_app_file/src/helper.js
  frontend_app_file/test/component/PreviewComponent.spec.js
  frontend_app_gallery/i18next.scanner/en/translation.json
  frontend_app_gallery/i18next.scanner/fr/translation.json
  frontend_app_gallery/src/component/MainPreview.jsx
  frontend_app_gallery/src/component/ThumbnailPreview.jsx
  frontend_app_gallery/src/css/index.styl
  frontend_app_gallery/test/component/MainPreview.spec.js
  frontend_app_gallery/test/component/ThumbnailPreview.spec.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
Labels: frontend

#2780 [for 2.6.x] Feature/2701 add ctrl click feature to folder
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/WorkspaceContent.jsx
  functionnal_tests/cypress/integration/workspace/folder_in_workspace_content.spec.js
Labels: frontend, verified

#2758 [For 2.6.x] Allow a custom Tracim repo to build the Docker image
  tools_docker/Debian_Uwsgi/Dockerfile
  tools_docker/README.md
Labels: deployment

#2760 [For 2.6.x] Fix the size of rotated images in the gallery application
  frontend_app_gallery/src/component/MainPreview.jsx
  frontend_app_gallery/src/css/index.styl
  frontend_app_gallery/test/component/MainPreview.spec.js
  frontend_app_gallery/test/setup.js
  functionnal_tests/cypress/integration/app_gallery/app_gallery_spec.js
Labels: frontend

#2748 [For 2.x]Feature/2743 add portugues language
  backend/development.ini.sample
  backend/tracim_backend/locale/pt/LC_MESSAGES/tracim_backend.po
  frontend/dist/assets/images/flag_pt.png
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Header/MenuActionListItem/AdminLink.jsx
  frontend/src/i18n.js
  frontend/src/img/flag_pt.png
  frontend/src/reducer/lang.js
  frontend_app_admin_workspace_user/build_admin_workspace_user.sh
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/src/i18n.js
  frontend_app_agenda/build_agenda.sh
  frontend_app_agenda/i18next.scanner/pt/translation.json
  frontend_app_agenda/src/i18n.js
  frontend_app_collaborative_document_edition/build_app.sh
  frontend_app_collaborative_document_edition/i18next.scanner/en/translation.json
  frontend_app_collaborative_document_edition/i18next.scanner/fr/translation.json
  frontend_app_collaborative_document_edition/i18next.scanner/pt/translation.json
  frontend_app_file/build_file.sh
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_folder_advanced/build_folder.sh
  frontend_app_folder_advanced/i18next.scanner/en/translation.json
  frontend_app_folder_advanced/i18next.scanner/fr/translation.json
  frontend_app_folder_advanced/i18next.scanner/pt/translation.json
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_gallery/build_gallery.sh
  frontend_app_gallery/i18next.scanner/pt/translation.json
  frontend_app_gallery/src/i18n.js
  frontend_app_html-document/build_html-document.sh
  frontend_app_html-document/i18next.scanner/pt/translation.json
  frontend_app_share_folder_advanced/build_share_folder.sh
  frontend_app_share_folder_advanced/i18next.scanner/en/translation.json
  frontend_app_share_folder_advanced/i18next.scanner/fr/translation.json
  frontend_app_share_folder_advanced/i18next.scanner/pt/translation.json
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_thread/build_thread.sh
  frontend_app_thread/i18next.scanner/pt/translation.json
  frontend_app_thread/src/i18n.js
  frontend_app_workspace/build_workspace.sh
  frontend_app_workspace/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/build_workspace_advanced.sh
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/helper.js
  frontend_lib/src/i18n.js
  frontend_lib/src/index.js
  i18next.option.js
Labels: frontend

#2789 [For 2.6.x] Fix/2569 Fix generated avatars when using spaces in the public name
  frontend/src/component/Account/PersonalData.jsx
  frontend_lib/src/component/Avatar/Avatar.jsx
  frontend_lib/test/component/Avatar.spec.js
  functionnal_tests/cypress/integration/account/account_main_page.js
Labels: frontend

#2668 Refactor/941 remove group system for profile
  backend/tracim_backend/command/__init__.py
  backend/tracim_backend/command/database.py
  backend/tracim_backend/command/user.py
  backend/tracim_backend/config.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/fixtures/content.py
  backend/tracim_backend/fixtures/ldap.py
  backend/tracim_backend/fixtures/users.py
  backend/tracim_backend/lib/cleanup/cleanup.py
  backend/tracim_backend/lib/core/group.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/core/userworkspace.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/lib/utils/authorization.py
  backend/tracim_backend/migration/versions/3de3e7f2b049_remove_permission_table.py
  backend/tracim_backend/migration/versions/4f72874ba193_add_profile_slug.py
  backend/tracim_backend/models/auth.py
  backend/tracim_backend/models/setup_models.py
  backend/tracim_backend/tests/commands/test_commands.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/functional/test_account.py
  backend/tracim_backend/tests/functional/test_caldav.py
  backend/tracim_backend/tests/functional/test_elasticsearch_search.py
  backend/tracim_backend/tests/functional/test_session.py
  backend/tracim_backend/tests/functional/test_simple_search.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/tests/functional/test_webdav.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/tests/library/test_authorization_checker.py
  backend/tracim_backend/tests/library/test_content_api.py
  backend/tracim_backend/tests/library/test_group_api.py
  backend/tracim_backend/tests/library/test_simple_search.py
  backend/tracim_backend/tests/library/test_upload_permission.py
  backend/tracim_backend/tests/library/test_user_api.py
  backend/tracim_backend/tests/library/test_workspace.py
  backend/tracim_backend/tests/models/test_permission.py
  backend/tracim_backend/tests/utils.py
  backend/tracim_backend/views/core_api/user_controller.py
Labels: backend, need discussion

#2889 Fix/2444 button differentiation in collaborative file
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/css/index.styl
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.styl
  frontend_lib/src/component/OptionComponent/NewVersionBtn.jsx
  frontend_lib/src/component/OptionComponent/NewVersionBtn.styl
  frontend_lib/test/component/NewVersionBtn.spec.js
Labels: frontend

#2891 Fix/1613 add browserstack logo and message
  README.md
  logo_browserstack.png
Labels: frontend

#2896 Fix/1613 add browserstack logo and message
  README.md
Labels: frontend

#2575 [for 2.6.X] working default value for templates and more
  backend/development.ini.sample
  backend/doc/cli.md
  backend/tests_configs.ini
  backend/tracim_backend/applications/agenda/application.py
  backend/tracim_backend/applications/collaborative_document_edition/application.py
  backend/tracim_backend/applications/share/application.py
  backend/tracim_backend/applications/upload_permissions/application.py
  backend/tracim_backend/command/devtools.py
  backend/tracim_backend/config.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/functional/test_daemons.py
  backend/tracim_backend/tests/functional/test_mail_notification.py
  backend/tracim_backend/tests/functional/test_reset_password.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/tests/library/test_config.py
  backend/tracim_backend/tests/utils.py
  tools_docker/Debian_Uwsgi/common.sh
  tools_docker/Debian_Uwsgi/entrypoint.sh
Labels: backend, low priority, verified

#2902 Fix/1855 add user's agenda at adminis view
  frontend/src/action-creator.async.js
  frontend/src/container/AdminAccount.jsx
  functionnal_tests/cypress/integration/admin/content_admin_user.js
Labels: frontend, verified

#2898 Fix/2673 Lighter background color on hover for content in list
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend/src/component/Account/MenuSubComponent.styl
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Dashboard/MemberList.styl
  frontend/src/component/Dashboard/RecentActivity.jsx
  frontend/src/component/Dashboard/RecentActivity.styl
  frontend/src/component/Header/MenuActionListItem/AdminLink.jsx
  frontend/src/component/Header/MenuActionListItem/AdminLink.styl
  frontend/src/component/Header/MenuActionListItem/DropdownLang.jsx
  frontend/src/component/Header/MenuActionListItem/DropdownLang.styl
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/component/Header/MenuActionListItem/MenuProfil.styl
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend/src/component/Workspace/BtnExtandedAction.styl
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/component/Workspace/Folder.styl
  frontend/src/component/Workspace/ShareFolder.jsx
  frontend/src/component/common/Input/SubDropdownCreateButton.jsx
  frontend/src/component/common/Input/SubDropdownCreateButton.styl
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.jsx
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.styl
  frontend_lib/src/component/ListItemWrapper/ListItemWrapper.jsx
  frontend_lib/src/component/ListItemWrapper/ListItemWrapper.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/test/component/ListItemWrapper.spec.js
Labels: frontend, verified

#2913 [For 2.7.0] Fix upload icon in FileDropzone
  frontend_lib/src/component/FileDropzone/FileDropzone.jsx
Labels: frontend, verified

#2922 [for 3.0.0] Fix switching_different_workspace_advanced cypress test
  functionnal_tests/cypress/integration/admin/switching_different_workspace_advanced.js
Labels: frontend, test
