Repository tracim/tracim, pull requests merged in 2020-09, with the labels that each got.

#3470 Merge 3.0.4 in develop
  backend/requirements.txt
  backend/setup.cfg
  backend/setup.py
  changelog.md
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/package.json
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/util/LiveMessageManager.js
  frontend/src/version.json
  frontend/test/.mocharc.js
  frontend/test/apiMock.js
  frontend/test/setup.js
  frontend/test/src/LiveMessageManager.spec.js
  install_frontend_dependencies.sh
  yarn.lock
Labels: backend, frontend

#3468 fix/2801 Fix Quicksand bold font-weight in Tracim
  frontend/dist/assets/font/Quicksand/Quicksand-Light.ttf
  frontend/dist/assets/font/Quicksand/Quicksand-Medium.ttf
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend_app_admin_workspace_user/dist/index.html
  frontend_app_agenda/dist/index.html
  frontend_app_collaborative_document_edition/dist/index.html
  frontend_app_custom-form/dist/index.html
  frontend_app_file/dist/index.html
  frontend_app_folder_advanced/dist/index.html
  frontend_app_gallery/dist/index.html
  frontend_app_html-document/dist/index.html
  frontend_app_share_folder_advanced/dist/index.html
  frontend_app_thread/dist/index.html
  frontend_app_workspace/dist/index.html
  frontend_app_workspace_advanced/dist/index.html
Labels: frontend

#3503 Feature/2849 display prompt to notify all members
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
  frontend_lib/src/component/PromptMessage/PromptMessage.jsx
  frontend_lib/src/component/PromptMessage/PromptMessage.styl
  frontend_lib/test/component/PromptMessage.spec.js
Labels: frontend

#3433 Feat/2843 Add the mention autocompletion process
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/views/core_api/user_controller.py
  frontend/src/util/tinymceInit.js
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
  frontend_app_html-document/src/helper.js
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/i18next.scanner.js
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/package.json
  frontend_lib/src/action.async.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Input/MentionAutoComplete/MentionAutoComplete.jsx
  frontend_lib/src/component/Input/MentionAutoComplete/MentionAutoComplete.styl
  frontend_lib/src/component/Timeline/CommentTextArea.jsx
  frontend_lib/src/component/Timeline/CommentTextArea.styl
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
  frontend_lib/src/index.js
  frontend_lib/src/mention.js
  frontend_lib/src/tinymceAutoCompleteHelper.js
  frontend_lib/test/appContentFactory.spec.js
  frontend_lib/test/component/CommentTextArea.spec.js
  frontend_lib/test/component/Timeline.spec.js
  functionnal_tests/cypress/integration/app_html-document/translation.js
  functionnal_tests/cypress/integration/generic_frontend/operation_tinymce.js
  functionnal_tests/cypress/integration/login/username_popup_spec.js
  functionnal_tests/cypress/support/commands.js
Labels: frontend

#3469 Feat/3430 tooltips on the notification wall
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/NotificationWall.jsx
  frontend/test/src/container/NotificationWall.spec.js
  frontend_app_collaborative_document_edition/i18next.scanner/fr/translation.json
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
Labels: frontend

#3533 add cascade between event and message
  backend/tracim_backend/migration/versions/41449c86b94b_add_cascade_to_events.py
  backend/tracim_backend/models/event.py
Labels: backend

#3514 Fix/3513 translate unknown shared space string
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/Dashboard.jsx
  frontend/src/container/WorkspaceContent.jsx
Labels: frontend

#3534 fix(frontend,html): display notify all message only when viewing
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  functionnal_tests/cypress/integration/app_html-document/notify_all_content_message_spec.js
Labels: frontend

#3537 Fix/3528 handle notifications for anonymized and deleted users
  backend/tracim_backend/lib/core/event.py
  frontend/src/action-creator.async.js
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/src/tracimComponent.js
  frontend_lib/src/tracimLiveMessage.js
  frontend_lib/test/helper.spec.js
Labels: frontend

#3471 remove deprecated parameters
  backend/doc/setting.md
  backend/tracim_backend/config.py
Labels: backend, low priority

#3509 Fix/3472 forbid mentioning a user not in the workspace
  backend/requirements.txt
  backend/tracim_backend/__init__.py
  backend/tracim_backend/applications/content_html_document/controller.py
  backend/tracim_backend/applications/content_thread/controller.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/mention.py
  backend/tracim_backend/lib/core/userworkspace.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/models/setup_models.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/functional/test_comments.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/tests/library/test_mention.py
  backend/tracim_backend/views/contents_api/comment_controller.py
Labels: backend

#3504 doc: change travis status url
  README.md
Labels: documentation

#3603 Fix/3580 exact match for mention me
  frontend_lib/package.json
  frontend_lib/src/mention.js
  frontend_lib/test/mention.spec.js
Labels: manually tested

#3606 Fix/3524 correctly handle disconnection reconnection
  frontend/src/container/Tracim.jsx
  frontend/src/util/LiveMessageManager.js
Labels: manually tested

#3593 Chore/3596 refactor API functions in the frontend
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend_app_admin_workspace_user/src/action.async.js
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_agenda/src/action.async.js
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_collaborative_document_edition/src/action.async.js
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/src/helper.js
  frontend_app_custom-form/src/action.async.js
  frontend_app_custom-form/src/component/JsonForm/CustomFields/UsersSelectField.jsx
  frontend_app_custom-form/src/helper.js
  frontend_app_file/src/action.async.js
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_folder_advanced/src/action.async.js
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_gallery/src/action.async.js
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_html-document/src/action.async.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_share_folder_advanced/src/action.async.js
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_thread/src/action.async.js
  frontend_app_workspace/src/action.async.js
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/package.json
  frontend_lib/src/action.async.js
  frontend_lib/src/index.js
Labels: frontend

#3611 Fix/3548 various improvements for mention autocompletion
  frontend/src/util/tinymceInit.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Timeline/CommentTextArea.jsx
  frontend_lib/src/index.js
  frontend_lib/src/tinymceAutoCompleteHelper.js
  functionnal_tests/cypress/integration/generic_frontend/operation_tinymce.js
Labels: frontend, manually tested

#3558 Fix/3547 avoid handling tlm twice in the frontend
  frontend/src/util/LiveMessageManager.js
  frontend/test/setup.js
  frontend/test/src/LiveMessageManager.spec.js
Labels: frontend

#3615 Feature/3601 default space role per space
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/migration/versions/d67be8359ca7_add_default_user_role_to_workspace.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend_app_workspace/src/action.async.js
  functionnal_tests/cypress/fixtures/baseWorkspace.json
  functionnal_tests/cypress/integration/admin/content_admin_workspace.js
  functionnal_tests/cypress/support/db_commands.js
Labels: backend, frontend

#3619 Feat/3477 filter notifications and set l10n messages
  backend/development.ini.sample
  backend/doc/setting.md
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_message.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
  backend/tracim_backend/views/frontend.py
  frontend/dist/index.mak
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/package.json
  frontend/src/action-creator.async.js
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/css/NotificationWall.styl
  frontend/test/setup.js
  frontend/test/src/container/NotificationWall.spec.js
  frontend_lib/src/tracimLiveMessage.js
  functionnal_tests/cypress/integration/workspace/add_members__as_admin_spec.js
Labels: backend, frontend

#3644 Fix/3643 broken realtime notifications
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_lib/test/component/CommentTextArea.spec.js
Labels: manually tested

#3648 Feature/3625 remove workspace level actions in webdav
  backend/doc/known_issues.md
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/lib/webdav/__init__.py
  backend/tracim_backend/lib/webdav/dav_provider.py
  backend/tracim_backend/lib/webdav/resources.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/library/test_webdav.py
Labels: manually tested

#3613 Feat/3540 accessible workspaces
  backend/requirements-dev.txt
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
Labels: backend
