Repository tracim/tracim, pull requests merged in 2020-06, with the labels that each got.

#3121 add TLM connection opening from Login.jsx
  frontend/src/action-creator.sync.js
  frontend/src/container/Header.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/reducer/root.js
  frontend/src/reducer/tlmManager.js
  frontend/src/util/LiveMessageManager.js
  frontend/test/src/reducer/tlmManager.spec.js
Labels: frontend

#3087 Feature/3066 refactor TLM frontend_app_html-document
  frontend/src/container/Dashboard.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/util/helper.js
  frontend_app_html-document/README.md
  frontend_app_html-document/i18next.scanner/en/translation.json
  frontend_app_html-document/i18next.scanner/fr/translation.json
  frontend_app_html-document/i18next.scanner/pt/translation.json
  frontend_app_html-document/package.json
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/container/PopupCreateHtmlDocument.jsx
  frontend_app_html-document/test/component/HtmlDocument.spec.js
  frontend_app_html-document/test/setup.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/DisplayState/DisplayState.jsx
  frontend_lib/src/component/DisplayState/DisplayState.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/src/tracimComponent.js
  frontend_lib/src/tracimLiveMessage.js
  frontend_lib/test/appContentFactory.spec.js
  functionnal_tests/cypress/integration/app_html-document/delete_content.js
  functionnal_tests/cypress/integration/app_thread/delete_content.js
  functionnal_tests/cypress/integration/search/search_contents_spec.js
Labels: frontend

#3085 refactor account me endpoint with redirection
  backend/setup.cfg
  backend/tracim_backend/tests/functional/test_account.py
  backend/tracim_backend/views/core_api/account_controller.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: backend

#3138 Fix/3102 add unit tests to frontend_app_html_document
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/debug.js.sample
  frontend_app_html-document/test/.mocharc.js
  frontend_app_html-document/test/apiMock.js
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_app_html-document/test/fixture/content/contentHtmlDocument.js
  frontend_app_html-document/test/fixture/content/htmlDocument.js
  frontend_app_html-document/test/setup.js
  frontend_lib/.gitignore
  frontend_lib/test/fixture/author.js
  frontend_lib/test/fixture/tracimLiveMessage/commentTlm.js
  frontend_lib/test/index.js
  frontend_lib/webpack.config.js
Labels: frontend

#2980 Make setup_default_backend.sh fail fast
  setup_default_backend.sh
Labels: backend

#3083 [For 3.0.0] Feature/3065 Refactor the app file to support TLM
  frontend/src/container/Dashboard.jsx
  frontend_app_file/i18next.scanner.js
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_file/package.json
  frontend_app_file/src/component/FileProperties.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_file/src/debug.js.sample
  frontend_app_file/test/.mocharc.js
  frontend_app_file/test/apiMock.js
  frontend_app_file/test/component/File.spec.js
  frontend_app_file/test/component/FileProperties.spec.js
  frontend_app_file/test/fixture/content/contentFile.js
  frontend_app_file/test/fixture/content/file.js
  frontend_app_file/test/fixture/content/shareList.js
  frontend_app_file/test/setup.js
  frontend_lib/test/fixture/tracimLiveMessageData/commentTlm.js
  functionnal_tests/cypress/integration/app_file/add_file_as_user_spec.js
Labels: frontend, verified

#3131 feat(backend): integrate pushpin and custom rq worker for TLMs
  backend/doc/apache.md
  tools_docker/Debian_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi/apache2.conf.sample
  tools_docker/Debian_Uwsgi/common.sh
  tools_docker/Debian_Uwsgi/entrypoint.sh
  tools_docker/Debian_Uwsgi/supervisord_tracim.conf
Labels: backend

#3132 Fix/3128 clarify username validity at forms and email requirement
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/PersonalData.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Home.jsx
  frontend/src/css/Home.styl
  frontend/test/src/component/PersonalData.spec.js
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/fr/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/integration/account/create_user_spec.js
  functionnal_tests/cypress/integration/login/username_popup_spec.js
Labels: frontend

#3136 Fix/2942 update search at add member to ws
  frontend/src/action-creator.async.js
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Dashboard/MemberList.styl
  frontend/src/container/Dashboard.jsx
  frontend/src/reducer/currentWorkspace.js
  frontend/test/src/component/MemberList.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/test/component/NewMemberForm.spec.js
  functionnal_tests/cypress/fixtures/defaultAdmin.json
  functionnal_tests/cypress/integration/workspace/add_members__as_admin_spec.js
  functionnal_tests/cypress/integration/workspace/add_members__unknown_users__as_user_wm_spec.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_memberlist.js
Labels: frontend

#3139 Fix/3135 updade handleContentModified at frontend_app_html_doument
  frontend_app_html-document/src/container/HtmlDocument.jsx
Labels: frontend

#3150 Feature/2850 handle tlm in account
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Account/UserInfo.jsx
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Dashboard/UserStatus.jsx
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/component/Home/HomeHasWorkspace.jsx
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/component/Workspace/OpenShareFolderApp.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/AppFullscreenRouter.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/SearchResult.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/reducer/user.js
  frontend/test/apiMock.js
  frontend/test/hocMock/redux/user/user.js
  frontend/test/src/component/HomeHasWorkspace.spec.js
  frontend/test/src/component/MemberList.spec.js
  frontend/test/src/component/MenuProfil.spec.js
  frontend/test/src/component/UserInfo.spec.js
  frontend/test/src/component/UserStatus.spec.js
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/Dashboard.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend/test/src/reducer/user.spec.js
  frontend_app_admin_workspace_user/src/action.async.js
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/helper.js
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_agenda/src/helper.js
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_html-document/src/action.async.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/container/PopupCreateHtmlDocument.jsx
  frontend_app_thread/src/action.async.js
  frontend_app_thread/src/container/PopupCreateThread.jsx
  frontend_app_thread/test/container/Thread.spec.js
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/test/src/component/WorkspaceMemberList.spec.js
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/debug.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/component/Timeline.spec.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/fixtures/baseUser.json
  functionnal_tests/cypress/integration/app_thread/translation.js
Labels: frontend

#3162 fix(front): switch video mime type from whitelist to blacklist
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/helper.js
  frontend_app_file/test/helper.spec.js
Labels: frontend

#3158 Feature/2850 handle TLM at AdminAccount.jsx
  frontend/src/action-creator.async.js
  frontend/src/container/AdminAccount.jsx
  frontend/test/apiMock.js
  frontend/test/src/container/AdminAccount.spec.js
Labels: frontend, verified

#3170 fix(frontend) force minimal version of yarn
  install_frontend_dependencies.sh
  yarn.lock
Labels: frontend, verified

#3134 fix(backend): reenable multi-thread waitress in cypress test
  backend/cypress_test.ini
Labels: backend

#3176 [for 3.0.0] Update timeline according to TLM in app File
  frontend_app_file/src/container/File.jsx
  frontend_app_file/test/component/File.spec.js
Labels: frontend

#3189 [for 3.0.0] Refactor CustomEvent handlers in app workspace
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_app_workspace/test/container/PopupCreateWorkspace.spec.js
Labels: frontend

#3194 Fix/3184 add redux tlm dispatcher component
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/reducer/currentWorkspace.js
  frontend/src/reducer/workspaceList.js
  frontend/test/src/container/Dashboard.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
Labels: frontend

#3192 Feature/3111 handle tlm app workspace advanced
  frontend_app_workspace_advanced/package.json
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/debug.js.sample
  frontend_app_workspace_advanced/test/.mocharc.js
  frontend_app_workspace_advanced/test/apiMock.js
  frontend_app_workspace_advanced/test/setup.js
  frontend_app_workspace_advanced/test/src/component/WorkspaceMemberList.spec.js
  frontend_app_workspace_advanced/test/src/container/WorkspaceAdvanced.spec.js
  frontend_lib/test/fixture/sidebarEntryList.js
  frontend_lib/test/fixture/tracimLiveMessageData/commentTlm.js
  frontend_lib/test/fixture/user.js
  frontend_lib/test/fixture/workspace.js
  frontend_lib/test/index.js
Labels: frontend, verified

#3193 Feature/3108 refactor CustomEvent handlers in app share folder
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_share_folder_advanced/src/debug.js
  frontend_app_share_folder_advanced/src/debug.js.sample
  frontend_app_share_folder_advanced/test/.mocharc.js
  frontend_app_share_folder_advanced/test/apiMock.js
  frontend_app_share_folder_advanced/test/container/ShareFolderAdvanced.spec.js
  frontend_app_share_folder_advanced/test/setup.js
Labels: frontend, v3.0

#3153 Feature/3107 handle TLM for app Gallery
  frontend_app_gallery/i18next.scanner/en/translation.json
  frontend_app_gallery/i18next.scanner/fr/translation.json
  frontend_app_gallery/i18next.scanner/pt/translation.json
  frontend_app_gallery/src/component/Carousel.jsx
  frontend_app_gallery/src/component/GallerySlider.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/test/component/Carousel.spec.js
  frontend_app_gallery/test/component/Gallery.spec.js
  frontend_app_gallery/test/container/Gallery.spec.js
  frontend_app_gallery/test/fixture/content/pictures.js
  functionnal_tests/cypress/integration/app_gallery/app_gallery_spec.js
  yarn.lock
Labels: frontend, v3.0

#3164 Feature/2850 handle TLM at Header.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/reducer/user.js
  frontend/test/apiMock.js
  frontend/test/src/container/Header.spec.js
  frontend/test/src/reducer/user.spec.js
Labels: frontend, v3.0

#3166 Feature/2850 handle TLM at Home.jsx
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.sync.js
  frontend/src/container/Home.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/reducer/currentWorkspace.js
  frontend/src/reducer/user.js
  frontend/src/reducer/workspaceList.js
  frontend/test/hocMock/redux/appList/appListAsSidebarEntry.js
  frontend/test/src/container/Home.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend/test/src/reducer/user.spec.js
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/container/File.jsx
Labels: frontend, v3.0

#3220 Feature/2850 Handle custom events at Tracim.jsx
  frontend/src/container/Tracim.jsx
  frontend/test/src/container/Tracim.spec.js
Labels: frontend, v3.0

#3221 Feature/2850 Refactor TLM in the Account component with ReduxTlmDispatcher
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/test/src/container/Account.spec.js
Labels: frontend, v3.0

#3200 Feature/3104 handle TLM for app Agenda and make refresh warning coherent between apps
  frontend_app_agenda/i18next.scanner/en/translation.json
  frontend_app_agenda/i18next.scanner/fr/translation.json
  frontend_app_agenda/i18next.scanner/pt/translation.json
  frontend_app_agenda/package.json
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_agenda/src/css/index.styl
  frontend_app_agenda/src/helper.js
  frontend_app_agenda/test/.mocharc.js
  frontend_app_agenda/test/Agenda.spec.js
  frontend_app_agenda/test/apiMock.js
  frontend_app_agenda/test/setup.js
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_file/test/component/File.spec.js
  frontend_app_file/test/helper.spec.js
  frontend_app_html-document/i18next.scanner/en/translation.json
  frontend_app_html-document/i18next.scanner/fr/translation.json
  frontend_app_html-document/i18next.scanner/pt/translation.json
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_app_thread/i18next.scanner/en/translation.json
  frontend_app_thread/i18next.scanner/fr/translation.json
  frontend_app_thread/i18next.scanner/pt/translation.json
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/DisplayState/DisplayState.jsx
  frontend_lib/src/component/FileDropzone/FileDropzone.jsx
  frontend_lib/src/component/FileDropzone/FileUploadList.jsx
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.jsx
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.styl
  frontend_lib/src/index.js
Labels: frontend, v3.0

#3202 limit content event to workspace members only
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/tests/library/test_event.py
Labels: manually tested

#3140 Feature/2850 handle TLM in workspace content list
  frontend/src/action-creator.sync.js
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/reducer/currentWorkspace.js
  frontend/src/reducer/workspaceContentList.js
  frontend/src/reducer/workspaceShareFolderContentList.js
  frontend/src/util/helper.js
  frontend/test/fixture/content/content.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend/test/src/reducer/workspaceContent.spec.js
  frontend/test/src/reducer/workspaceShareFolderContentList.spec.js
  functionnal_tests/cypress/integration/app_html-document/delete_content.js
Labels: frontend, v3.0

#3161 Feature/3091 allow redis backend storage for session without reissue time
  README.md
  backend/cypress_test.ini
  backend/development.ini.sample
  backend/doc/setting.md
  backend/tests_configs.ini
  backend/tracim_backend/__init__.py
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/utils/authentification.py
  backend/tracim_backend/tests/functional/test_session.py
  backend/tracim_backend/views/core_api/session_controller.py
  tools_docker/Debian_Uwsgi/common.sh
Labels: backend

#3228 Feature/2850 handle TLM in Sidebar
  frontend/src/action-creator.sync.js
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/reducer/workspaceList.js
  frontend/src/util/helper.js
  frontend/test/src/container/Sidebar.spec.js
  frontend/test/src/reducer/workspaceList.spec.js
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/customEvent.js
  frontend_lib/src/helper.js
Labels: frontend, manually tested, v3.0

#3232 move the handling of the TLM member.created when user is creating a workspace for his own
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/Sidebar.jsx
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
Labels: frontend, manually tested

#3237 Fix/3236 FlashMessage error is always displayed when moving content
  frontend/src/container/WorkspaceContent.jsx
  frontend/test/apiMock.js
  frontend/test/src/container/WorkspaceContent.spec.js
Labels: frontend, manually tested, v3.0

#3234 add keepalive and stream opened event
  backend/tracim_backend/lib/core/live_messages.py
  backend/tracim_backend/tests/functional/test_live_messages.py
  backend/tracim_backend/views/core_api/user_controller.py
Labels: v3.0

#3240 fix(frontend): set revision number in timeline to revision count + 1
  frontend_lib/src/helper.js
  frontend_lib/test/helper.spec.js
  frontend_lib/test/index.js
Labels: frontend, manually tested, v3.0
