Repository tracim/tracim, pull requests merged in 2020-07, with the labels that each got.

#3244 Fix/3241 add a more specific error message and update translations
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/appContentFactory.js
  yarn.lock
Labels: frontend, manually tested, v3.0

#3251 fix(backend): Make sure the context is deleted and the session not re…
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/webdav/authentification.py
  backend/tracim_backend/lib/webdav/middlewares.py
Labels: v3.0

#3246 Fix/3245 update workspace member function
  frontend/src/reducer/workspaceList.js
  frontend/test/src/reducer/workspaceList.spec.js
Labels: frontend, manually tested, v3.0

#3256 Fix/3254 fix blank page at Account
  frontend/src/component/Account/Notification.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
Labels: frontend, manually tested, v3.0

#3249 Fix/3247 Handle move content in a new workspace in Redux reducer
  frontend/src/reducer/currentWorkspace.js
  frontend/src/reducer/workspaceContentList.js
  frontend/src/reducer/workspaceShareFolderContentList.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend/test/src/reducer/workspaceContent.spec.js
  frontend/test/src/reducer/workspaceShareFolderContentList.spec.js
Labels: frontend, manually tested, v3.0

#3262 unallow reader to update content
  backend/tracim_backend/lib/webdav/resources.py
Labels: manually tested

#3270 Fix/3268 don't show the message when username lenght is 0
  frontend/src/container/Home.jsx
  frontend/test/src/container/Home.spec.js
Labels: frontend, v3.0

#3259 Fix/3257 fix blank page at AdminAccount
  frontend/src/container/AdminAccount.jsx
  frontend/test/src/container/AdminAccount.spec.js
Labels: frontend, v3.0

#3272 fixed the folder loading mecanism
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/reducer/workspaceContentList.js
  frontend/src/reducer/workspaceShareFolderContentList.js
  frontend/test/apiMock.js
  frontend/test/fixture/content/content.js
  frontend/test/fixture/workspace/firstWorkspace.js
  frontend/test/src/container/WorkspaceContent.spec.js
  frontend/test/src/reducer/workspaceContentList.spec.js
  frontend/test/src/reducer/workspaceShareFolderContentList.spec.js
Labels: frontend, v3.0

#3276 Fix/3274 make the password field fixed on the screen
  frontend_app_admin_workspace_user/package.json
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/test/component/AddUserForm.spec.js
  frontend_app_admin_workspace_user/test/container/AdminWorkspaceUser.spec.js
  frontend_app_admin_workspace_user/test/setup.js
Labels: frontend, manually tested, v3.0

#3253 Fix/3242 Timeline fix auto-scroll when new items arrives from TLM
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/helper.js
  frontend_lib/test/component/Timeline.spec.js
  frontend_lib/test/fixture/contentCommentList.js
  frontend_lib/test/fixture/contentRevisionList.js
Labels: frontend, manually tested, v3.0

#3283 Fix/3282 Fix the flash message when the user set his username for the first time
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/Home.jsx
  functionnal_tests/cypress/integration/login/username_popup_spec.js
Labels: frontend, manually tested, v3.0

#3280 Fix/3250 standardize the display of usernames
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Home.jsx
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/AdminAccount.spec.js
  frontend/test/src/container/Home.spec.js
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
Labels: frontend, v3.0

#3290 Fix/3289 fix error message at file description
  frontend_app_file/src/container/File.jsx
  functionnal_tests/cypress/integration/app_file/file_properties_spec.js
Labels: frontend, v3.0

#3294 Fix/3291 handle user.modified TLM at appFeatures
  frontend_app_file/src/container/File.jsx
  frontend_app_file/test/component/File.spec.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_thread/test/container/Thread.spec.js
Labels: frontend, v3.0

#3288 Fix/3286 handle large input in the table at Admin page
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  functionnal_tests/cypress/integration/admin/content_admin_user.js
Labels: frontend

#3297 Fix/3295 update the download video sentence
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_file/src/component/FileComponent.jsx
Labels: frontend, manually tested

#3252 Fix/3238 standardize and factorize refresh messages
  frontend/src/reducer/workspaceContentList.js
  frontend/src/reducer/workspaceShareFolderContentList.js
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_agenda/src/css/index.styl
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_file/test/component/File.spec.js
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/debug.js.sample
  frontend_app_folder_advanced/test/container/FolderAdvanced.spec.js
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_thread/test/container/Thread.spec.js
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.jsx
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.styl
  frontend_lib/src/css/Variable.styl
Labels: frontend, v3.0

#3299 Fix/3296 display public name at auto complete
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/container/Dashboard.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/index.dev.js
  frontend_lib/test/component/NewMemberForm.spec.js
Labels: frontend, manually tested, v3.0

#3284 Fix/3279 fix wrong error message for long usernames
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Home.jsx
  frontend/src/util/helper.js
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/fr/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/helper.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
  functionnal_tests/cypress/integration/account/create_user_spec.js
  functionnal_tests/cypress/integration/admin/content_admin_user.js
Labels: frontend, v3.0

#3304 Fix/3303 fix order Radium at frontend_app_admin_workspace_user
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
Labels: frontend, manually tested, v3.0

#3308 Fix/3225 put a default language if user don't have
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/reducer/user.js
  functionnal_tests/cypress/integration/login/new_user_first_login_spec.js
Labels: frontend, manually tested, v3.0

#3298 feat(frontend): improve display of allowed characters label
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/Password.jsx
  frontend/src/component/Account/PersonalData.jsx
  frontend/src/component/Account/PersonalData.styl
  frontend/src/container/Home.jsx
  frontend/src/css/Home.styl
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  functionnal_tests/cypress/integration/account/content_account_spec.js
  functionnal_tests/cypress/integration/admin/content_admin_user.js
Labels: frontend, manually tested, v3.0

#3311 Fix/3310 put ellipsis on overflow of username and full name
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Dashboard/MemberList.styl
  frontend/test/src/component/MemberList.spec.js
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  functionnal_tests/cypress/integration/workspace/content_dashboard_memberlist.js
Labels: frontend, manually tested, v3.0

#3277 feat(frontend): handle TLM reconnection in case of error and not received keep-alives
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/package.json
  frontend/src/action-creator.sync.js
  frontend/src/component/FlashMessage.jsx
  frontend/src/component/FlashMessage.styl
  frontend/src/container/Header.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/reducer/root.js
  frontend/src/reducer/tlm.js
  frontend/src/reducer/tlmManager.js
  frontend/src/util/LiveMessageManager.js
  frontend/test/setup.js
  frontend/test/src/LiveMessageManager.spec.js
  frontend/test/src/container/Header.spec.js
  frontend/test/src/reducer/tlmManager.spec.js
  frontend_lib/src/customEvent.js
  yarn.lock
Labels: manually tested

#3313 Fix/3312 add a scroll if content is bigger than screen
  frontend_app_file/src/component/FileProperties.styl
Labels: frontend, manually tested, v3.0

#3285 adapt uwsgi and apache config
  backend/README.md
  backend/doc/apache.md
  functionnal_tests/cypress/integration/workspace/add_members__as_admin_spec.js
  tools_docker/Debian_Uwsgi/apache2.conf.sample
  tools_docker/Debian_Uwsgi/common.sh
  tools_docker/Debian_Uwsgi/entrypoint.sh
  tools_docker/Debian_Uwsgi/uwsgi.ini.sample
Labels: manually tested

#3355 Fix/3316 handle user tlm at dashboard and adv dashboard
  frontend/src/reducer/currentWorkspace.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/test/src/container/WorkspaceAdvanced.spec.js
Labels: frontend

#3354 Fix/3335 Update AdminWorkspace when a user is removed from the workspace
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/test/container/AdminWorkspaceUser.spec.js
Labels: frontend

#3357 Feat/3185 Control the app redirection after creating a content with HTTP API return code
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_html-document/src/container/PopupCreateHtmlDocument.jsx
  frontend_app_thread/src/container/PopupCreateThread.jsx
  functionnal_tests/cypress/integration/app_file/add_file_as_user_spec.js
  functionnal_tests/cypress/integration/app_thread/delete_content.js
Labels: frontend

#3353 Fix/3337 refresh gallery preview when a content is modified
  frontend_app_gallery/src/component/MainPreview.jsx
  frontend_app_gallery/src/component/ThumbnailPreview.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/test/container/Gallery.spec.js
  frontend_app_gallery/test/fixture/content/pictures.js
Labels: frontend, manually tested

#3360 fix horizontal scroll
  frontend_app_workspace_advanced/src/css/index.styl
Labels: frontend

#3356 Fix/3342 Update breadcrumbs and head title when a content is modified
  frontend_app_file/src/container/File.jsx
  frontend_app_file/test/component/File.spec.js
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/test/container/FolderAdvanced.spec.js
  frontend_app_html-document/package.json
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_app_thread/package.json
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_thread/test/container/Thread.spec.js
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/test/appContentFactory.spec.js
  yarn.lock
Labels: frontend, manually tested

#3364 Fix/3363 Get a more specific message when adding user with a invalid password
  frontend_app_admin_workspace_user/package.json
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/test/apiMock.js
  frontend_app_admin_workspace_user/test/container/AdminWorkspaceUser.spec.js
  yarn.lock
Labels: frontend, manually tested

#3379 fix(docker): set uwsgi configuration correctly for docker
  tools_docker/Debian_Uwsgi/common.sh
Labels: docker, manually tested

#3377 fix(docker): use last pushpin version
  tools_docker/Debian_Uwsgi/Dockerfile
Labels: manually tested

#3378 fix(docker): move pushpin and redis log to docker volume
  tools_docker/Debian_Uwsgi/common.sh
  tools_docker/Debian_Uwsgi/entrypoint.sh
Labels: docker, manually tested

#3384 fix(docker): fix non explicit regex about live_message in apache config
  backend/doc/apache.md
  backend/doc/setting.md
  tools_docker/Debian_Uwsgi/apache2.conf.sample
Labels: manually tested

#3388 [for 3.0.0] fix(docker): add chmod command for zurl log file and fix wrong syntax
  tools_docker/Debian_Uwsgi/common.sh
Labels: manually tested

#3391 Fix/3389 put refresh button at left
  frontend_app_agenda/src/css/index.styl
  frontend_app_file/src/container/File.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/css/index.styl
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_thread/src/css/index.styl
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.styl
Labels: frontend, manually tested

#3396 add documentation about how accessing old API path for public download with apache
  backend/doc/apache.md
Labels: documentation, v3.0
