Repository tracim/tracim, pull requests merged in 2020-12, with the labels that each got.

#3934 Fix/3927 add group mention translations
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  functionnal_tests/cypress/integration/generic_frontend/group_mentions_spec.js
  functionnal_tests/cypress/integration/generic_frontend/operation_tinymce.js
Labels: frontend

#3955 Fix/3542 margins between paragraphs in comments
  frontend_lib/src/component/Timeline/Comment.styl
  frontend_lib/src/component/Timeline/Timeline.styl
  functionnal_tests/cypress/integration/timeline/comment_size__spec.js
  functionnal_tests/cypress/support/db_commands.js
Labels: frontend

#3932 Fix/3722 Add confirm popup to invalid mentions
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/i18next.scanner/en/translation.json
  frontend_app_html-document/i18next.scanner/fr/translation.json
  frontend_app_html-document/i18next.scanner/pt/translation.json
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/ConfirmPopup/ConfirmPopup.jsx
  frontend_lib/src/component/Input/TextAreaApp/TextAreaApp.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
  frontend_lib/src/index.js
  frontend_lib/src/mention.js
  frontend_lib/test/apiMock.js
  frontend_lib/test/appContentFactory.spec.js
  frontend_lib/test/mention.spec.js
  functionnal_tests/cypress/integration/admin/content_admin_workspace.js
  functionnal_tests/cypress/integration/app_file/add_invalid_mentions_spec.js
  functionnal_tests/cypress/integration/app_html-document/add_invalid_mentions_spec.js
  functionnal_tests/cypress/integration/app_thread/add_invalid_mentions_spec.js
Labels: backend, frontend

#3976 Feat/3901 change wording for profile
  backend/tracim_backend/app_models/workspace_menu_entries.py
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/PersonalData.jsx
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/component/TabBar/TabBar.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/util/helper.js
  frontend/test/hocMock/redux/appList/appListAsSidebarEntry.js
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/fr/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/test/component/AddUserForm.spec.js
  frontend_app_agenda/i18next.scanner/en/translation.json
  frontend_app_agenda/i18next.scanner/fr/translation.json
  frontend_app_agenda/i18next.scanner/pt/translation.json
  frontend_app_gallery/i18next.scanner/en/translation.json
  frontend_app_gallery/i18next.scanner/fr/translation.json
  frontend_app_gallery/i18next.scanner/pt/translation.json
  frontend_app_workspace/i18next.scanner/en/translation.json
  frontend_app_workspace/i18next.scanner/fr/translation.json
  frontend_app_workspace/i18next.scanner/pt/translation.json
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_app_workspace_advanced/src/debug.js.sample
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/UserInfo/UserInfo.jsx
  frontend_lib/test/fixture/sidebarEntryList.js
  functionnal_tests/cypress/integration/account/translation.js
  functionnal_tests/cypress/integration/activity_feed/common.spec.js
  functionnal_tests/cypress/integration/app_file/switch_between_file_spec.js
  functionnal_tests/cypress/integration/app_interface/switching_between_tabs_spec.js
  functionnal_tests/cypress/integration/app_interface/switching_workspace_feature_spec.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_allcontent.js
  functionnal_tests/cypress/integration/sidebar/translation.js
Labels: frontend

#3996 feat(backend): add user follow and followers apis
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/migration/versions/58ae85582ba0_create_user_followers_table.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/social.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
Labels: backend
