Repository tracim/tracim, pull requests merged in 2020-05, with the labels that each got.

#2928 [For 3.0.0] Feature/2917 adding username to user at redux
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/container/Account.jsx
  frontend/src/reducer/user.js
  frontend/test/fixture/user/globalManager.js
  frontend/test/src/container/Account.spec.js
  frontend/test/src/reducer/user.spec.js
  frontend_app_admin_workspace_user/src/helper.js
  frontend_app_agenda/src/helper.js
  frontend_lib/src/debug.js
  functionnal_tests/cypress/fixtures/baseUser.json
  functionnal_tests/cypress/fixtures/defaultAdmin.json
Labels: frontend

#2944 [For 3.0.0] Feature/2930 add username at search user
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Dashboard.jsx
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/AppFullscreenRouter.spec.js
  frontend/test/src/reducer/user.spec.js
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.dev.js
  frontend_lib/src/index.js
  frontend_lib/test/component/NewMemberForm.spec.js
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
  functionnal_tests/cypress/integration/workspace/add_members__as_admin_spec.js
  functionnal_tests/cypress/integration/workspace/add_members__known_users__as_user_wm_spec.js
  functionnal_tests/cypress/integration/workspace/add_members__unknown_users__as_user_wm_spec.js
  functionnal_tests/cypress/support/db_commands.js
Labels: frontend

#2934 [For 3.0.0] Feature/2927 allow login with username
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/container/Login.jsx
  functionnal_tests/cypress/fixtures/baseUser.json
  functionnal_tests/cypress/fixtures/defaultAdmin.json
  functionnal_tests/cypress/integration/login/content_login_page.js
  functionnal_tests/cypress/integration/login/login_after_disconnection.js
  functionnal_tests/cypress/integration/login/navigation_home-page_to_login-page.js
Labels: frontend

#3000 fix(test): run unit tests of frontend applications
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/test/CollaboraEditionFrame.spec.js
  frontend_app_collaborative_document_edition/test/setup.js
  frontend_app_custom-form/package.json
  run_frontend_unit_test.sh
Labels: verified

#2983 fix: some errors in the GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Labels: verified

#3010 [For 2.7.3] Fix/2993 fix responsive and portuguese translation in TinyMCE
  frontend/dist/assets/tinymce-4.7.13/js/tinymce/langs/pt_PT.js
  frontend/dist/assets/tracim/tinymceInit.js
  frontend/src/css/Generic.styl
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
Labels: frontend, verified

#3014 Feature/2950 add popup at login if username null
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Home.jsx
  frontend/src/css/Home.styl
  frontend/src/helper.js
  functionnal_tests/cypress/fixtures/defaultAdmin.json
  functionnal_tests/cypress/integration/login/username_popup_spec.js
Labels: frontend

#3037 [For 2.7.4] fix(front): fix tinymce height in responsive
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
Labels: frontend, verified

#2994 Feature/2945 add username on admin screens
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/fr/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/src/action.async.js
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_admin_workspace_user/src/helper.js
  functionnal_tests/cypress/integration/account/create_user_spec.js
  functionnal_tests/cypress/integration/login/login_after_disconnection.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend

#3034 Feature/2940 allow reset password with username
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/container/ForgotPassword.jsx
  frontend/src/css/ForgotPassword.styl
  frontend/test/src/container/ForgotPassword.spec.js
Labels: frontend

#2992 [For 3.0.0] Feature/2943 add username in AdminUser/Account info
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/component/Account/Password.jsx
  frontend/src/component/Account/PersonalData.jsx
  frontend/src/component/Account/PersonalData.styl
  frontend/src/component/Account/UserInfo.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/css/Home.styl
  frontend/test/src/component/PersonalData.spec.js
  frontend/test/src/component/UserInfo.spec.js
  frontend/test/src/container/Account.spec.js
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_lib/src/component/FileDropzone/FileUploadList.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/integration/account/content_account.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
  functionnal_tests/cypress/integration/admin/content_admin_user.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend

#3077 feat(backend): allow a user to identify on WebDAV using his username
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/utils/authentification.py
  backend/tracim_backend/lib/webdav/authentification.py
  backend/tracim_backend/lib/webdav/dav_provider.py
  backend/tracim_backend/tests/functional/test_webdav.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/reset_password_controller.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/workspace_controller.py
Labels: backend

#3063 feat(backend): RQ database worker
  .travis.yml
  backend/README.md
  backend/daemons/mail_fetcher.py
  backend/daemons/mail_notifier.py
  backend/tests_configs.ini
  backend/tracim_backend/lib/rq/__init__.py
  backend/tracim_backend/lib/rq/worker.py
  backend/tracim_backend/lib/utils/daemon.py
  backend/tracim_backend/tests/library/test_rq.py
Labels: backend

#3097 Fix/3096 update configEnv path at installation script
  install_frontend_dependencies.sh
Labels: frontend

#3093 feature(backend): refactor user command with support of username
  backend/development.ini.sample
  backend/doc/cli.md
  backend/doc/setting.md
  backend/tests_configs.ini
  backend/tracim_backend/__init__.py
  backend/tracim_backend/command/__init__.py
  backend/tracim_backend/command/cleanup.py
  backend/tracim_backend/command/user.py
  backend/tracim_backend/lib/cleanup/cleanup.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/mail_fetcher/email_fetcher.py
  backend/tracim_backend/lib/utils/authentification.py
  backend/tracim_backend/tests/commands/test_commands.py
  backend/tracim_backend/tests/functional/test_session.py
  backend/tracim_backend/tests/library/test_cleanup.py
Labels: backend

#3074 implement live message for dashboard
  .travis.yml
  backend/cypress_test.ini
  backend/doc/live_message_setup.md
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/migration/versions/3c92f57c52b2_added_events_and_messages_tables.py
  backend/tracim_backend/models/event.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend/package.json
  frontend/src/action-creator.sync.js
  frontend/src/container/Dashboard.jsx
  frontend/src/reducer/currentWorkspace.js
  frontend/test/apiMock.js
  frontend/test/fixture/content/content.js
  frontend/test/fixture/user/globalManagerAsMember.js
  frontend/test/fixture/user/globalManagerFromApi.js
  frontend/test/fixture/workspace/firstWorkspace.js
  frontend/test/hocMock/redux/appList/appListAsSidebarEntry.js
  frontend/test/hocMock/redux/user/user.js
  frontend/test/hocMock/withRouter.js
  frontend/test/src/component/OpenContentApp.spec.js
  frontend/test/src/container/Dashboard.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/tracimComponent.js
  frontend_lib/src/tracimLiveMessage.js
  functionnal_tests/cypress.json.sample
  pushpin_cypress_config/pushpin.conf
  pushpin_cypress_config/routes
Labels: frontend, verified
