Repository tracim/tracim, pull requests merged in 2020-01, with the labels that each got.

#2598 [for 2.6.0] Fix hidden sidebar arrow on ios
  frontend/src/css/Sidebar.styl
Labels: frontend

#2587 [for 2.6.0] Feature/2583 gallery app cypress tests
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  functionnal_tests/cypress/integration/app_gallery/app_gallery_spec.js
  functionnal_tests/cypress/support/db_commands.js
  functionnal_tests/cypress/support/generic_selector_commands.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: Gallery, frontend

#2577 [for 2.6.0] Fix/2540 fix breadcrumbs folder link in app gallery
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/test/component/Gallery.spec.js
Labels: Gallery, frontend

#2614 Fix/2607 collabora fix url build
  frontend_app_collaborative_document_edition/package.json
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/test/.mocharc.js
  frontend_app_collaborative_document_edition/test/CollaboraEditionFrame.spec.js
  frontend_app_collaborative_document_edition/test/setup.js
  run_frontend_unit_test.sh
Labels: frontend

#2624 add create test_storage_dir script to make pytest command work almost out of the box from new fresh install
  backend/README.md
  backend/create_test_storage_dir.sh
  setup_default_backend.sh
Labels: backend, low priority

#2616 harmonized ROLE and PROFILE object to match backend + refactor
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/component/Workspace/ShareFolder.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/test/src/component/BtnExtandedAction.spec.js
  frontend/test/src/helper.spec.js
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/src/index.js
  frontend_app_file/src/container/File.jsx
  frontend_app_folder_advanced/src/index.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_share_folder_advanced/dist/index.html
  frontend_app_share_folder_advanced/src/index.js
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/src/component/ShareDownload/ShareDownloadManagement.jsx
  frontend_lib/src/component/ShareLink/ShareLink.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/debug.js
  frontend_lib/src/helper.js
Labels: frontend

#2619 Fix/1484 consistent python version using setup cfg for metadata
  backend/setup.cfg
  backend/setup.py
  backend/tracim_backend/lib/core/system.py
Labels: backend

#2642 do not load gallery frontend app twice
  frontend/dist/index.mak
Labels: frontend, verified

#2639 add browser cache policy on docker images
  backend/doc/apache.md
  frontend_lib/src/index.js
  tools_docker/Debian_Uwsgi/apache2.conf.sample
  tools_docker/Debian_Uwsgi/entrypoint.sh
Labels: verified

#2643 [for 2.6.0] Fix/2574 unit tests for gallery app
  .travis.yml
  frontend_app_gallery/package.json
  frontend_app_gallery/test/.mocharc.js
  frontend_app_gallery/test/apiMock.js
  frontend_app_gallery/test/component/Gallery.spec.js
Labels: frontend

#2622 Fix/2551 separation between thumbnails and normal preview and remove bottom margin in app Gallery
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/src/css/index.styl
  functionnal_tests/cypress/integration/app_gallery/app_gallery_spec.js
Labels: frontend, verified

#2600 [for 2.6.0] Multi upload in app file
  backend/tracim_backend/config.py
  frontend/src/component/GuestPage/UploadForm.jsx
  frontend/src/container/GuestUpload.jsx
  frontend/src/css/GuestPage.styl
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/package.json
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_file/src/debug.js.sample
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/src/component/FileDropzone/FileDropzone.jsx
  frontend_lib/src/component/FileDropzone/FileUploadList.jsx
  frontend_lib/src/component/FileDropzone/FileUploadList.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_file/add_file__as_user_spec.js
  functionnal_tests/cypress/integration/app_file/add_file_as_user_spec.js
  functionnal_tests/cypress/support/generic_selector_commands.js
Labels: frontend, verified

#2621 [#2541] hide arrows buttons when auto play enabled and add hover style in app gallery
  frontend_app_gallery/src/component/Carousel.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/src/css/index.styl
  functionnal_tests/cypress/integration/app_gallery/app_gallery_spec.js
Labels: frontend, verified

#2653 Merge frontend fix for #617 into `fix/617__reorganise_apps`
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/test/fixture/app/gallery.js
  frontend/test/hocMock/redux/appList/appList.js
  frontend/test/src/component/BtnExtandedAction.spec.js
  frontend_app_workspace_advanced/src/component/OptionalFeatures.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
Labels: frontend

#2644 [for 2.6.0] Fix/2611 Hide/show collabora/libreoffice button in dropdown according to config
  frontend/src/container/WorkspaceContent.jsx
Labels: frontend, verified

#2602 [for 2.6.0] Dynamic title tag according to current page
  backend/tracim_backend/lib/core/system.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/component/Workspace/OpenCreateContentApp.jsx
  frontend/src/component/Workspace/OpenShareFolderApp.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/ForgotPassword.jsx
  frontend/src/container/ForgotPasswordNoEmailNotif.jsx
  frontend/src/container/GuestDownload.jsx
  frontend/src/container/GuestUpload.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Home.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/ResetPassword.jsx
  frontend/src/container/SearchResult.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/test/setup.js
  frontend/test/src/component/OpenCreateContentApp.spec.js
  frontend/test/src/container/ForgotPassword.spec.js
  frontend/test/src/container/Home.spec.js
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_agenda/i18next.scanner/en/translation.json
  frontend_app_agenda/i18next.scanner/fr/translation.json
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_collaborative_document_edition/i18next.scanner/en/translation.json
  frontend_app_collaborative_document_edition/i18next.scanner/fr/translation.json
  frontend_app_collaborative_document_edition/src/action.async.js
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/src/container/PopupCreateOfficeDocument.jsx
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_folder_advanced/i18next.scanner/en/translation.json
  frontend_app_folder_advanced/i18next.scanner/fr/translation.json
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/container/PopupCreateFolder.jsx
  frontend_app_gallery/i18next.scanner/en/translation.json
  frontend_app_gallery/i18next.scanner/fr/translation.json
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_html-document/i18next.scanner/en/translation.json
  frontend_app_html-document/i18next.scanner/fr/translation.json
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/container/PopupCreateHtmlDocument.jsx
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_thread/i18next.scanner/en/translation.json
  frontend_app_thread/i18next.scanner/fr/translation.json
  frontend_app_thread/src/container/PopupCreateThread.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_lib/src/customEvent.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
Labels: frontend

#2647 Hide the mouse cursor when fullscreen mode is enabled in app gallery
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend_app_gallery/src/container/Gallery.jsx
Labels: frontend, verified
