Repository tracim/tracim, pull requests merged in 2020-11, with the labels that each got.

#3773 Fix/3771 Fix margin when space is active
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
Labels: frontend

#3777 Fix/3776 list of vendors
  frontend/webpack.optimized.config.js
  frontend_app_admin_workspace_user/package.json
  frontend_app_admin_workspace_user/webpack.optimized.config.js
  frontend_app_agenda/webpack.optimized.config.js
  frontend_app_collaborative_document_edition/webpack.optimized.config.js
  frontend_app_custom-form/webpack.optimized.config.js
  frontend_app_file/webpack.optimized.config.js
  frontend_app_folder_advanced/webpack.optimized.config.js
  frontend_app_gallery/package.json
  frontend_app_gallery/webpack.optimized.config.js
  frontend_app_html-document/webpack.optimized.config.js
  frontend_app_share_folder_advanced/webpack.optimized.config.js
  frontend_app_thread/webpack.optimized.config.js
  frontend_app_workspace/webpack.optimized.config.js
  frontend_app_workspace_advanced/webpack.optimized.config.js
  frontend_lib/webpack.optimized.config.js
  frontend_vendors/README.md
  frontend_vendors/package.json
  frontend_vendors/src/index.js
  frontend_vendors/src/list.js
  frontend_vendors/webpack.list.config.js
Labels: frontend

#3789 Fix/3750 user creation and plugins
  backend/official_plugins/tracim_backend_autoinvite/__init__.py
  backend/official_plugins/tracim_backend_parent_access/__init__.py
  backend/tracim_backend/tests/plugins/test_parent_access_plugin.py
Labels: backend

#3803 Fix/3771 border active space should not move the title at sidebar
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/container/Sidebar.jsx
Labels: frontend

#3804 Feat/3774 update allowed space type at creation popup
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/workspace/navigation_create_workspace.js
Labels: frontend

#3818 Feat/3589 add main pages layout
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Dashboard/AgendaInfo.styl
  frontend/src/component/Dashboard/UserStatus.styl
  frontend/src/component/Dashboard/WebdavInfo.styl
  frontend/src/component/TabBar/Tab.jsx
  frontend/src/component/TabBar/TabBar.jsx
  frontend/src/component/TabBar/TabBar.styl
  frontend/src/component/Workspace/Folder.styl
  frontend/src/container/Dashboard.jsx
  frontend/src/container/SearchResult.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/css/Account.styl
  frontend/src/css/Dashboard.styl
  frontend/src/css/JoinWorkspace.styl
  frontend/src/css/Tracim.styl
  frontend/src/css/Workspace.styl
  frontend/src/reducer/currentWorkspace.js
  frontend/src/util/helper.js
  frontend/test/fixture/workspace/firstWorkspace.js
  frontend/test/hocMock/withRouter.js
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/Dashboard.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend_lib/src/component/Breadcrumbs/Breadcrumbs.styl
  frontend_lib/src/component/Layout/PageTitle.jsx
  frontend_lib/src/component/Layout/PageWrapper.styl
  frontend_lib/src/css/IconButton.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/test/component/PageTitle.spec.js
  functionnal_tests/cypress/integration/admin/switching_different_workspace_advanced.js
  functionnal_tests/cypress/integration/app_custom-form/operation_dashboard_dashboardbutton_create_custom-form.js
  functionnal_tests/cypress/integration/app_html-document/operation_dashboard_dashboardbutton_create_html-document.js
  functionnal_tests/cypress/integration/app_interface/switching_between_tabs_spec.js
  functionnal_tests/cypress/integration/app_thread/operation_dashboard_dashboardbutton_create_thread.js
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
  functionnal_tests/cypress/integration/search/search_page_spec.js
  functionnal_tests/cypress/integration/share/switch_upload_propery_in_workspace_spec.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_allcontent.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_dashboard.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_calendar.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_calltoaction.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_headerdetail.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_memberlist.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_userstatus.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_webdav.js
  functionnal_tests/cypress/integration/workspace/navigation_dashbord_link-for-calendar.js
  functionnal_tests/cypress/integration/workspace/navigation_dashbord_link-for-webdav.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend

#3840 Fix/3836 define pushpin version
  README.md
  backend/docker-compose.yml
  tools_docker/Debian_Uwsgi/Dockerfile
Labels: manually tested

#3839 Fix/3820 update default space at creation popup
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
Labels: frontend

#3845 Fix/3805 allow change default role
  frontend/src/reducer/currentWorkspace.js
  frontend/test/fixture/workspace/firstWorkspace.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend_app_workspace/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
Labels: frontend

#3854 Fix/3847 update icon and sidebar menu order
  backend/tracim_backend/app_models/workspace_menu_entries.py
  backend/tracim_backend/lib/core/application.py
  backend/tracim_backend/tests/library/test_application_api.py
  frontend/test/hocMock/redux/appList/appListAsSidebarEntry.js
Labels: backend, frontend

#3856 Fix/3850 ajust tab border
  frontend/src/component/TabBar/TabBar.styl
Labels: frontend

#3860 Fix/3848 add margin at refresh activity feed button
  frontend/src/css/ActivityFeed.styl
Labels: frontend

#3865 Fix/3863 align dashboard icon
  frontend/src/component/TabBar/TabBar.styl
Labels: frontend

#3843 Feat/3657 Activity feed previews
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend/src/action-creator.async.js
  frontend/src/component/Activity/ContentWithPreviewActivity.jsx
  frontend/src/component/Activity/Preview.jsx
  frontend/src/component/Activity/Preview.styl
  frontend/src/container/ActivityFeed.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/util/activity.js
  frontend/test/setup.js
  frontend/webpack.config.js
  frontend_app_file/src/component/PreviewComponent.styl
  frontend_lib/package.json
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/helper.js
  frontend_lib/src/htmlRemoveInteractivity.js
  frontend_lib/src/index.js
  frontend_lib/src/screenSizes.json
  frontend_lib/test/htmlRemoveInteractivity.spec.js
  functionnal_tests/cypress/integration/activity_feed/workspace_activity_feed.spec.js
Labels: frontend

#3878 Fix/3875 add margins between the preview and the activity
  frontend/src/component/Activity/Preview.styl
Labels: frontend

#3871 Feat/3827 add activities action menu
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Activity/ContentActivityHeader.jsx
  frontend/src/component/Activity/ContentActivityHeader.styl
  frontend/src/component/Activity/ContentWithPreviewActivity.jsx
  frontend/src/component/Activity/ContentWithoutPreviewActivity.jsx
  frontend/src/component/Activity/Preview.jsx
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/container/ActivityFeed.jsx
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
  functionnal_tests/cypress/integration/activity_feed/action_menu_spec.js
Labels: frontend

#3879 Fix/3876 Update unavailable preview icon size and padding
  frontend/src/component/Activity/Preview.styl
Labels: frontend

#3882 Fix/3873 update background and overflow div of preview
  frontend/src/component/Activity/Preview.jsx
  frontend/src/component/Activity/Preview.styl
  functionnal_tests/cypress/integration/activity_feed/common.spec.js
Labels: frontend

#3885 Feat/3874 Preview improvements
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/component/Activity/MemberActivity.jsx
  frontend/src/component/Activity/Preview.jsx
  frontend/src/component/Activity/Preview.styl
  frontend_app_file/test/component/File.spec.js
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
  frontend_app_share_folder_advanced/test/setup.js
  frontend_lib/src/component/DistanceDate.jsx
  frontend_lib/src/component/HTMLContent/HTMLContent.jsx
  frontend_lib/src/component/HTMLContent/HTMLContent.styl
  frontend_lib/src/component/Layout/PageWrapper.jsx
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Comment.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/helper.js
  frontend_lib/src/htmlRemoveInteractivity.js
  frontend_lib/src/index.js
  frontend_lib/test/helper.spec.js
Labels: frontend

#3897 Fix/3877 update dropdown menu details
  frontend/src/component/Activity/ContentActivityHeader.jsx
  frontend/src/component/Activity/ContentActivityHeader.styl
  frontend/src/component/Header/MenuActionListItem/AdminLink.jsx
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
Labels: frontend
