Repository tracim/tracim, pull requests merged in 2020-02, with the labels that each got.

#2667 [2.6.X] html tag for email template
  backend/tracim_backend/lib/mail_notifier/notifier.py
  backend/tracim_backend/templates/mail/content_update_body_html.mak
  backend/tracim_backend/templates/mail/created_account_body_html.mak
  backend/tracim_backend/templates/mail/new_upload_event_body_html.mak
  backend/tracim_backend/templates/mail/reset_password_body_html.mak
  backend/tracim_backend/templates/mail/shared_content_to_emitter_body_html.mak
  backend/tracim_backend/templates/mail/shared_content_to_receiver_body_html.mak
  backend/tracim_backend/templates/mail/upload_permission_to_emitter_body_html.mak
  backend/tracim_backend/templates/mail/upload_permission_to_receiver_body_html.mak
Labels: backend

#2664 Refactor unit tests of frontend and frontend_lib
  frontend/test/apiMock.js
  frontend/test/src/action-creator.async.spec.js
  frontend/test/src/component/BtnExtandedAction.spec.js
  frontend/test/src/component/Button.spec.js
  frontend/test/src/component/ContentTypeBtn.spec.js
  frontend/test/src/component/DropdownCreateButton.spec.js
  frontend/test/src/component/DropdownLang.spec.js
  frontend/test/src/component/FlashMessage.spec.js
  frontend/test/src/component/Help.spec.js
  frontend/test/src/component/HomeNoWorkspace.spec.js
  frontend/test/src/component/InputGroupTest.spec.js
  frontend/test/src/component/MemberList.spec.js
  frontend/test/src/component/MenuProfil.spec.js
  frontend/test/src/component/MenuSubComponent.spec.js
  frontend/test/src/component/MoreInfo.spec.js
  frontend/test/src/component/Notification.spec.js
  frontend/test/src/component/OpenContentApp.spec.js
  frontend/test/src/component/OpenCreateContentApp.spec.js
  frontend/test/src/component/Password.spec.js
  frontend/test/src/component/PersonalData.spec.js
  frontend/test/src/component/RecentActivity.spec.js
  frontend/test/src/component/Search.spec.js
  frontend/test/src/component/SubDropdownCreateButton.spec.js
  frontend/test/src/component/Timezone.spec.js
  frontend/test/src/component/UserStatus.spec.js
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/AppFullscreenRouter.spec.js
  frontend/test/src/container/ForgotPassword.spec.js
  frontend/test/src/container/Home.spec.js
  frontend/test/src/container/Tracim.spec.js
  frontend_lib/test/appContentFactory.spec.js
  frontend_lib/test/component/ArchiveDeleteContent.spec.js
  frontend_lib/test/component/BtnSwitch.spec.js
  frontend_lib/test/component/CardPopup.spec.js
  frontend_lib/test/component/CardPopupCreateContent.spec.js
  frontend_lib/test/component/Checkbox.spec.js
  frontend_lib/test/component/DisplayState.spec.js
  frontend_lib/test/component/GenericButton.spec.js
  frontend_lib/test/component/IconButton.spec.js
  frontend_lib/test/component/NewMemberForm.spec.js
  frontend_lib/test/component/NewShareDownload.spec.js
  frontend_lib/test/component/NewVersionBtn.spec.js
  frontend_lib/test/component/PopinFixedHeader.spec.js
  frontend_lib/test/component/RadioBtn.spec.js
  frontend_lib/test/component/Revision.spec.js
  frontend_lib/test/component/SelectStatus.spec.js
  frontend_lib/test/component/TextAreaApp.spec.js
  frontend_lib/test/component/Timeline.spec.js
Labels: frontend, test

#2691 Fix/2669 Wrong url after uploading a file
  frontend_app_file/src/container/PopupCreateFile.jsx
  functionnal_tests/cypress/integration/app_file/add_file_as_user_spec.js
Labels: frontend

#2685 [for 2.6.1] fix roles translation in frontend_lib
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
Labels: frontend

#2686 [for 2.6.1] fix some permissions right for some roles
  frontend/src/component/Dashboard/RecentActivity.jsx
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/component/Workspace/BtnExtandedAction.jsx
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/test/src/component/BtnExtandedAction.spec.js
  frontend_app_file/src/container/File.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
Labels: frontend

#2689 [For 2.6.1] Fix/2674 filename when updating file and no preview
  frontend_app_file/src/container/File.jsx
  frontend_lib/src/component/FileDropzone/FileDropzone.jsx
  frontend_lib/test/component/FileDropzone.spec.js
Labels: frontend

#2690 [For 2.6.1] Fix/2665 fix workspace to open in sidebar after creating one
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  functionnal_tests/cypress/integration/workspace/create_workspace_spec.js
Labels: frontend

#2662 [For 2.6.1] Fix/1891 display sidebar expand button on IOS
  frontend/src/container/Sidebar.jsx
  frontend/src/css/Sidebar.styl
Labels: frontend

#2696 [for 2.6.1] Add instructions to run frontend unit tests in the readme of tracim
  README.md
Labels: documentation, frontend

#2695 [For 2.6.x] Fix/1342 don't auto cut url with same domain in tinyMCE
  frontend/dist/assets/tracim/tinymceInit.js
Labels: frontend

#2694 [For 2.6.x] Fix/2676 Put uploaded files as readed
  frontend_app_file/src/container/PopupCreateFile.jsx
  functionnal_tests/cypress/integration/app_file/add_file_as_user_spec.js
  functionnal_tests/cypress/support/generic_selector_commands.js
Labels: UX, frontend
