Repository tracim/tracim, pull requests merged in 2021-05, with the labels that each got.

#4569 feat(frontend): add label input on settings parameters page
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/MenuSubComponent.jsx
  frontend/src/component/Account/Password.jsx
  frontend/src/component/Account/PersonalData.jsx
  frontend/src/component/Account/PersonalData.styl
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/test/src/component/Password.spec.js
  frontend/test/src/component/PersonalData.spec.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
Labels: frontend

#4672 Fix/4646 unmount appFeature synchronously
  frontend/src/util/appInterface.js
  frontend_app_file/src/index.js
  frontend_app_html-document/src/index.js
  frontend_app_thread/src/index.js
Labels: frontend, manually tested

#4678 Feat/4673 add a config to disable parent space choice
  backend/development.ini.sample
  backend/doc/env_settings.md
  backend/doc/setting.md
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/core/system.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
Labels: backend, frontend, manually tested
