Repository tracim/tracim, pull requests merged in 2021-01, with the labels that each got.

#4002 Fix/3785 do not display notification if it's accepted request
  frontend/src/component/Home/HomeNoWorkspace.jsx
  frontend/src/container/NotificationWall.jsx
Labels: frontend

#4026 Feat/4023 direct user to the activity feed on page load
  frontend/src/component/Home/HomeHasWorkspace.jsx
  frontend/src/container/Tracim.jsx
  functionnal_tests/cypress/integration/home_page/content_home_page.js
  functionnal_tests/cypress/integration/home_page/translation.js
  functionnal_tests/cypress/integration/login/navigation_login-page_to_home-page.js
  functionnal_tests/cypress/support/db_commands.js
Labels: frontend

#4003 Fix/3790 update wording for join notification
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/NotificationWall.jsx
  frontend/src/reducer/notificationPage.js
  frontend/test/src/container/NotificationWall.spec.js
  frontend/test/src/reducer/notificationPage.spec.js
Labels: frontend, manually tested

#4022 Fix/3578 switch between workspaces, same app
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/component/Workspace/OpenShareFolderApp.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/util/appInterface.js
  frontend/test/src/component/OpenContentApp.spec.js
  frontend_app_custom-form/src/container/PopupCreateCustomForm.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/customEvent.js
  functionnal_tests/cypress/integration/app_interface/switching_different_apps_feature_spec.js
  functionnal_tests/cypress/integration/app_interface/switching_same_apps_feature_spec.js
Labels: frontend

#4032 Gitattribute file + remove unused wsidav config fie
  .gitattributes
  backend/wsgidav.conf.sample
Labels: low priority

#4048 Feat/3829 Add public profile page
  frontend/dist/assets/images/default_cover_image.png
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/component/PublicProfile/ProfileMainBar.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/PublicProfile.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/PublicProfile.styl
  frontend/src/css/index.styl
  frontend/src/img/default_cover_image.png
  frontend_lib/src/component/Avatar/Avatar.jsx
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/profile/profile_interface_spec.js
  functionnal_tests/cypress/integration/profile/translation_spec.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend

#4052 Feat/4047 add navigation to profile via activity feed
  frontend/src/component/Activity/ContentActivityHeader.jsx
  frontend/src/component/Activity/MemberActivity.jsx
  frontend/src/component/TimedEvent.jsx
  frontend/src/component/TimedEvent.styl
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/ProfileNavigation/ProfileNavigation.jsx
  frontend_lib/src/component/ProfileNavigation/ProfileNavigation.styl
  frontend_lib/src/index.js
  functionnal_tests/cypress/fixtures/defaultAdmin.json
  functionnal_tests/cypress/integration/activity_feed/activity_spec.js
  functionnal_tests/cypress/integration/activity_feed/common_spec.js
Labels: frontend

#4107 Fix/4104 Gallery app in dev mode
  frontend/src/container/PublicProfile.jsx
  frontend/webpack.config.js
  frontend_app_gallery/build_gallery.sh
Labels: frontend

#4115 Fix/4113 update account notifications wording
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/NotificationWall.jsx
Labels: frontend

#4118 fix(front): set <Form /> (rjsf) as a controlled component
  .travis.yml
  frontend/src/component/PublicProfile/CustomFormManager.jsx
  functionnal_tests/cypress/fixtures/baseOtherUser.json
  functionnal_tests/cypress/integration/profile/edit_react_json_schema_form.js
Labels: frontend, public-profile

#4125 Fix/4109 Null check in the activity feed component
  frontend/src/util/activity.js
  frontend/test/src/activity.spec.js
Labels: frontend

#4112 Fix/4102 hide edit button when empty json at profile
  frontend/src/container/PublicProfile.jsx
  frontend/test/src/container/PublicProfile.spec.js
  yarn.lock
Labels: frontend
