Repository tracim/tracim, pull requests merged in 2021-07, with the labels that each got.

#4774 fix(frontend, backend): add link lifetime to mail + proper message
  backend/tracim_backend/locale/de/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/en/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/fr/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/pt/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/templates/mail/reset_password_body_html.mak
  backend/tracim_backend/tests/functional/test_mail_notification.py
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/ResetPassword.jsx
Labels: backend, frontend

#4782 Fix/3559 better handle autocomplete position
  frontend/src/util/tinymceInit.js
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_lib/src/component/Timeline/CommentTextArea.jsx
  frontend_lib/src/component/Timeline/EditCommentPopup.jsx
  frontend_lib/src/component/Timeline/EditCommentPopup.styl
Labels: frontend

#4793 Feat: Prepare new release 3.9
  backend/README.md
  backend/setup.cfg
  changelog.md
  frontend/src/version.json
  tools_docker/Debian_Uwsgi/supervisord_tracim.conf
Labels: documentation

#4798 Fix/4352 add cypress tests
  frontend/test/src/component/ContentTypeBtn.spec.js
  frontend/test/src/component/UserStatus.spec.js
  functionnal_tests/cypress/integration/app_interface/switching_between_tabs_spec.js
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
  functionnal_tests/cypress/integration/dashboard/button_list__spec.js
  functionnal_tests/cypress/integration/dashboard/information_spec.js
  functionnal_tests/cypress/integration/dashboard/recente_activities_spec.js
  functionnal_tests/cypress/integration/emojireactions/emojireactions.spec.js
  functionnal_tests/cypress/integration/emojireactions/emojireactions_spec.js
  functionnal_tests/cypress/integration/favorites/favorites_spec.js
  functionnal_tests/cypress/integration/links/send_link_comment_spec.js
  functionnal_tests/cypress/integration/publication/file_spec.js
  functionnal_tests/cypress/integration/publication/options_spec.js
  functionnal_tests/cypress/integration/publication/publication_translation_spec.js
  functionnal_tests/cypress/integration/publication/publications.spec.js
  functionnal_tests/cypress/integration/publication/text_spec.js
  functionnal_tests/cypress/integration/publication/translation_spec.js
  functionnal_tests/cypress/integration/timeline/edit_comment_spec.js
  functionnal_tests/cypress/integration/timeline/file_spec.js
  functionnal_tests/cypress/support/commands.js
Labels: frontend

#4808 Fix/4805 fix url exception
  frontend_lib/src/helper.js
Labels: frontend

#4827 Fix/4826 fix wrong naming at search
  frontend/src/action-creator.async.js
Labels: frontend
