Repository tracim/tracim, pull requests merged in 2021-12, with the labels that each got.

#5038 feat: add tracimcli command to move space
  backend/setup.py
  backend/tracim_backend/command/__init__.py
  backend/tracim_backend/command/space.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/tests/commands/test_commands.py
Labels: backend, low priority

#5151 Fix/4907 created revision should come first
  frontend_lib/src/helper.js
  frontend_lib/test/helper.spec.js
Labels: manually tested, frontend

#5120 Fix(frontend/backend) improve performances on space or user list in administration page
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
  frontend_app_admin_workspace_user/src/component/AdminWorkspace.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/test/container/AdminWorkspaceUser.spec.js
Labels: frontend, backend, performance, p1, app-admin

#5150 Feat/5129 improve kanban
  backend/tests_configs.ini
  backend/tracim_backend/applications/content_file/controller.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/storage.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend/src/util/i18n.js
  frontend_app_kanban/i18next.scanner/de/translation.json
  frontend_app_kanban/i18next.scanner/en/translation.json
  frontend_app_kanban/i18next.scanner/fr/translation.json
  frontend_app_kanban/i18next.scanner/pt/translation.json
  frontend_app_kanban/src/component/Kanban.jsx
  frontend_app_kanban/src/component/Kanban.styl
  frontend_app_kanban/src/component/KanbanCard.jsx
  frontend_app_kanban/src/component/KanbanCardEditor.jsx
  frontend_app_kanban/src/component/KanbanColumnHeader.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_kanban/src/container/PopupCreateKanban.jsx
  frontend_app_kanban/src/css/Kanban.styl
  frontend_app_kanban/src/css/index.styl
  frontend_app_kanban/src/helper.js
  frontend_app_kanban/test/setup.js
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/action.async.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_interface/switching_same_apps_feature_spec.js
  functionnal_tests/cypress/integration/app_kanban/kanban_columns_spec.js
  functionnal_tests/cypress/integration/app_kanban/navigation_create_kanban_spec.js
  functionnal_tests/cypress/integration/app_kanban/translations_spec.js
  functionnal_tests/cypress/support/db_commands.js
Labels: frontend, backend

#5159 Fix/5156 access revisions and update popups
  frontend_app_kanban/i18next.scanner/de/translation.json
  frontend_app_kanban/i18next.scanner/en/translation.json
  frontend_app_kanban/i18next.scanner/fr/translation.json
  frontend_app_kanban/i18next.scanner/pt/translation.json
  frontend_app_kanban/package.json
  frontend_app_kanban/src/component/Kanban.jsx
  frontend_app_kanban/src/component/KanbanCard.jsx
  frontend_app_kanban/src/component/KanbanCardEditor.jsx
  frontend_app_kanban/src/component/KanbanColumnEditor.jsx
  frontend_app_kanban/src/component/KanbanColumnHeader.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_kanban/src/css/Kanban.styl
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.jsx
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.styl
Labels: manually tested, frontend

#5162 Fix/5136 better redirect when closing popup from admin space list
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  functionnal_tests/cypress/integration/app_workspace_advanced/navigation_workspace_advanced_spec.js
  functionnal_tests/cypress/integration/app_workspace_advanced/read_mode_only_spec.js
  functionnal_tests/cypress/integration/app_workspace_advanced/translation.js
  functionnal_tests/cypress/integration/app_workspace_advanced/translation_spec.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: manually tested, frontend

#5163 Feat/5113 add draw collabora template
  backend/tracim_backend/templates/open_documents/default.odg
Labels: backend

#5171 Feat/5164 new design for kanban
  frontend_app_kanban/i18next.scanner/de/translation.json
  frontend_app_kanban/i18next.scanner/en/translation.json
  frontend_app_kanban/i18next.scanner/fr/translation.json
  frontend_app_kanban/i18next.scanner/pt/translation.json
  frontend_app_kanban/src/component/Kanban.jsx
  frontend_app_kanban/src/component/KanbanCard.jsx
  frontend_app_kanban/src/component/KanbanCard.styl
  frontend_app_kanban/src/component/KanbanCardEditor.jsx
  frontend_app_kanban/src/component/KanbanColumnEditor.jsx
  frontend_app_kanban/src/component/KanbanColumnHeader.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_kanban/src/css/Kanban.styl
  frontend_app_kanban/src/css/index.styl
  frontend_app_kanban/webpack.config.js
  frontend_lib/src/component/Input/DateInput/DateInput.jsx
  frontend_lib/src/component/Input/TextInput.jsx
  frontend_lib/src/component/Input/TextInput.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_kanban/translations_spec.js
Labels: frontend

#5184 fix(docker): workaround to a behavior change in setuptools.
  tools_docker/Debian_New_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi/Dockerfile
Labels: manually tested

#5180 Enable notifications for comments in Kanban Boards
  backend/tracim_backend/tests/functional/test_contents.py
  frontend/src/action-creator.async.js
  frontend/src/container/ReduxTlmDispatcher.jsx
Labels: manually tested

#5158 Fix/5117 header disappear on mobile (part 2)
  frontend/src/container/WorkspaceContent.jsx
  frontend_app_kanban/src/component/Kanban.jsx
Labels: frontend

#5178 feat(frontend): add scroll per column on kanban
  frontend_app_kanban/i18next.scanner/de/translation.json
  frontend_app_kanban/i18next.scanner/en/translation.json
  frontend_app_kanban/i18next.scanner/fr/translation.json
  frontend_app_kanban/i18next.scanner/pt/translation.json
  frontend_app_kanban/src/component/Kanban.jsx
  frontend_app_kanban/src/component/KanbanCard.styl
  frontend_app_kanban/src/css/index.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
Labels: manually tested, frontend

#5213 misc(docker): Use bullseye's pushpin to build test & dev image.
  concourse/scripts/backend-full-tests
  concourse/scripts/end-to-end-cypress-tests
  tools_docker/pushpin/Dockerfile
  tools_docker/pushpin/start.sh
Labels: docker, backend, CI

#5201 Feat/5199 scroll by dragging cards
  frontend_app_kanban/src/component/KanbanCard.styl
  frontend_app_kanban/src/css/index.styl
  frontend_lib/src/component/Tags/NewTagForm.jsx
  frontend_lib/test/component/NewTagForm.spec.js
  functionnal_tests/cypress/integration/app_workspace_advanced/read_mode_only_spec.js
Labels: frontend

#5200 fix(frontend, kanban): avoid resetting scroll when updating.
  frontend_app_kanban/src/component/Kanban.jsx
  frontend_app_kanban/src/css/index.styl
  frontend_app_kanban/test/component/Kanban.spec.js
  frontend_app_kanban/test/setup.js
Labels: frontend

#5206 fix(frontend, kanban): display message on creation errors.
  frontend_app_kanban/src/container/PopupCreateKanban.jsx
  frontend_app_kanban/src/debug.js.sample
  frontend_app_kanban/test/container/PopupCreateKanban.spec.js
  frontend_app_kanban/test/setup.js
Labels: frontend

#5204 Fix/5202 better handle search and popup kanban
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/util/helper.js
  frontend/src/util/tinymceInit.js
  frontend_app_kanban/src/component/KanbanCardEditor.jsx
Labels: frontend

#5208 Fix/5205 handle popup kanban overflow
  frontend_app_kanban/src/css/index.styl
Labels: frontend

#5216 Fix/5181 no clickable tooltip space content
  frontend/package.json
  frontend/src/component/Account/UserInfo.jsx
  frontend/src/component/ContentListItem.styl
  frontend/src/component/FeedItem/FeedItemHeader.styl
  frontend/src/component/GuestPage/DownloadForm.jsx
  frontend/src/component/GuestPage/UploadForm.jsx
  frontend/src/component/TimedEvent.styl
  frontend/test/src/container/AdminAccount.spec.js
  frontend/test/src/container/NotificationWall.spec.js
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/test/setup.js
  frontend_app_folder_advanced/package.json
  frontend_app_kanban/test/setup.js
  frontend_app_share_folder_advanced/package.json
  frontend_app_share_folder_advanced/src/component/NewUpload.jsx
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_lib/src/component/Layout/PageTitle.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/src/component/Popover/Popover.jsx
  frontend_lib/src/component/ProfileNavigation/ProfileNavigation.styl
  frontend_lib/src/component/ShareDownload/NewShareDownload.jsx
  frontend_lib/src/index.js
  frontend_lib/test/component/PopinFixed.spec.js
  frontend_lib/test/component/PopinFixedContent.spec.js
  frontend_lib/test/index.js
  frontend_lib/test/testHelper.js
  yarn.lock
Labels: frontend
