Repository tracim/tracim, pull requests merged in 2021-11, with the labels that each got.

#5015 feat(ci): avoid running tests if the changes are not related.
  concourse/pipelines/pull-request.yml
  concourse/scripts/backend-full-tests
  concourse/scripts/backend-lint
  concourse/scripts/backend-quick-tests
  concourse/scripts/end-to-end-cypress-tests
  concourse/scripts/frontend-unit-tests
  concourse/scripts/util-lib.sh
Labels: CI

#5053 fix(backend): ensure image url is absolute.
  backend/tracim_backend/lib/core/url_preview.py
  backend/tracim_backend/tests/functional/test_preview_link.py
Labels: manually tested, backend, add to changelog

#5054 fix(frontend): reset local storage when a new publication is created
  frontend/src/container/Publications.jsx
  frontend/test/src/container/Publications.spec.js
Labels: manually tested, frontend, add to changelog

#5058 Ensure a maximum length for tokens when indexing in elasticsearch
  backend/tracim_backend/lib/search/elasticsearch_search/es_models.py
Labels: manually tested, backend

#5002 [NOT MERGE before 3.10] feat(backend): /api/doc now redirect to /api/doc/
  backend/tracim_backend/views/frontend.py
Labels: backend

#5003 [NOT MERGE before 3.10]Misc/3941 move send global flash message to helper
  frontend/src/container/GuestDownload.jsx
  frontend/src/container/GuestUpload.jsx
  frontend/src/container/WIPcomponent.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/test/container/AdminWorkspaceUser.spec.js
  frontend_app_admin_workspace_user/test/setup.js
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_collaborative_document_edition/src/container/PopupCreateOfficeDocument.jsx
  frontend_app_custom-form/src/component/JsonForm/CustomFields/UsersSelectField.jsx
  frontend_app_custom-form/src/container/CustomForm.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/container/PopupCreateFolder.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/container/PopupCreateHtmlDocument.jsx
  frontend_app_share_folder_advanced/src/container/ShareFolderAdvanced.jsx
  frontend_app_thread/src/container/PopupCreateThread.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/tags/content_tags_spec.js
Labels: frontend, frontend-lib

#5063 Fix issues with bad mention: return 400 instead of 500
  backend/tracim_backend/lib/core/mention.py
  backend/tracim_backend/tests/fixtures.py
  backend/tracim_backend/tests/functional/test_comments.py
  backend/tracim_backend/views/contents_api/comment_controller.py
Labels: manually tested, backend

#5042 fix(backend): allow removing favorite even if not anymore in workspace
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/tests/functional/test_favorites.py
  backend/tracim_backend/views/core_api/favorite_content_controller.py
Labels: manually tested, backend

#5057 Fix/5046 404 error for page not found case
  backend/requirements.txt
  backend/setup.py
  backend/tracim_backend/__init__.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/tests/functional/test_not_found.py
  backend/tracim_backend/views/base.py
  backend/tracim_backend/views/frontend.py
Labels: manually tested, backend

#5094 Add some precisions in the comments
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#5100 avoid json fields filter
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/core/mention.py
  backend/tracim_backend/tests/functional/test_message.py
  backend/tracim_backend/tests/utils.py
Labels: backend

#5099 update to preview-generator 0.27
  backend/requirements.txt
  backend/setup.py
Labels: manually tested, backend

#5089 misc(backend): Add call timeout to the backend as a parameter
  backend/development.ini.sample
  backend/doc/env_settings.md
  backend/doc/setting.md
  backend/tests_configs.ini
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/core/system.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend/src/container/PublicProfile.jsx
  functionnal_tests/cypress/integration/workspace/create_workspace_spec.js
Labels: manually tested, backend, p2

#5085 Add {{time}} to failed and declined call popup
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/Tracim.jsx
  frontend/test/src/container/Tracim.spec.js
  frontend_lib/src/helper.js
  frontend_lib/test/helper.spec.js
Labels: manually tested, frontend, p2

#5103 Fix(frontend) fix severable unstable tests
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
  functionnal_tests/cypress/integration/workspace/create_workspace_spec.js
  functionnal_tests/cypress/support/generic_selector_commands.js
  yarn.lock
Labels: frontend

#5083 Fix(frontend) call notification appears when the callee rejected/accepted the call
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
Labels: manually tested, frontend, p2

#5106 misc: write functional test for the timeline
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/CommentArea.jsx
  functionnal_tests/cypress/integration/app_file/switch_between_apps_spec.js
Labels: frontend

#5108 Fix/4985 don't request read statuses too many times in WorskpaceContent
  frontend/src/container/WorkspaceContent.jsx
Labels: frontend

#5068 add better validator for max length of database fields
  backend/tracim_backend/app_models/validator.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/models/tag.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: backend

#5115 Fix(frontend) Display text in dropdown menu for small devices
  frontend/src/component/FeedItem/FeedItemHeader.jsx
  frontend_lib/src/component/Button/TranslateButton.jsx
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/src/component/Timeline/Comment.jsx
Labels: manually tested, frontend, ux, responsive, p2

#5123 feat(frontend): redirect to advanced ws url
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/component/Workspace/OpenWorkspaceAdvanced.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/Tracim.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/helper.js
Labels: frontend

#5107 Feat/5098 add new users to spaces easily
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Account/AdminUserSpacesConfigItem.jsx
  frontend/src/component/Account/UserSpacesConfig.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/AdminUserSpacesConfig.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/Account.styl
  frontend/src/css/AdminUserSpacesConfig.styl
  frontend/src/css/index.styl
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_admin_workspace_user/test/apiMock.js
  frontend_app_admin_workspace_user/test/container/AdminWorkspaceUser.spec.js
  frontend_app_workspace_advanced/i18next.scanner/de/translation.json
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/helper.js
Labels: frontend

#5122 Fix/5117 header disappear on mobile
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/WorkspaceContent.jsx
Labels: manually tested, frontend, responsive

#5119 Integrate the kanban POC as a regular app.
  backend/development.ini.sample
  backend/tracim_backend/app_models/contents.py
  backend/tracim_backend/applications/content_file/controller.py
  backend/tracim_backend/applications/content_kanban/__init__.py
  backend/tracim_backend/applications/content_kanban/application.py
  backend/tracim_backend/config.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend/dist/assets/branding.sample/color.json
  frontend/src/util/appInterface.js
  frontend_app_kanban/.gitignore
  frontend_app_kanban/README.md
  frontend_app_kanban/build_kanban.sh
  frontend_app_kanban/dist/app
  frontend_app_kanban/dist/assets
  frontend_app_kanban/dist/index.html
  frontend_app_kanban/i18next.scanner/de/translation.json
  frontend_app_kanban/i18next.scanner/en/translation.json
  frontend_app_kanban/i18next.scanner/fr/translation.json
  frontend_app_kanban/i18next.scanner/pt/translation.json
  frontend_app_kanban/package.json
  frontend_app_kanban/src/component/Kanban.jsx
  frontend_app_kanban/src/component/Kanban.styl
  frontend_app_kanban/src/component/KanbanCard.jsx
  frontend_app_kanban/src/component/KanbanCardEditor.jsx
  frontend_app_kanban/src/component/KanbanColumnHeader.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_kanban/src/container/PopupCreateKanban.jsx
  frontend_app_kanban/src/css/index.styl
  frontend_app_kanban/src/debug.js.sample
  frontend_app_kanban/src/i18n.js
  frontend_app_kanban/src/index.dev.js
  frontend_app_kanban/src/index.js
  frontend_app_kanban/test/.mocharc.js
  frontend_app_kanban/test/setup.js
  frontend_app_kanban/webpack.config.js
  frontend_app_kanban/webpack.optimized.config.js
  frontend_app_kanban/webpack.servdev.config.js
  frontend_lib/src/action.async.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_kanban/navigation_create_kanban.js
  yarn.lock
Labels: frontend, backend, app-kanban
