Repository tracim/tracim, pull requests merged in 2021-06, with the labels that each got.

#4690 Feat/4680 add link to contents
  .pre-commit-config.yaml
  backend/doc/database.md
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/utils/utils.py
  backend/tracim_backend/lib/webdav/resources.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/tests/library/test_content_api.py
  backend/tracim_backend/tests/library/test_upload_permission.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend/.gitignore
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/ContentRedirection.jsx
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/Publications.jsx
  frontend/src/container/Tracim.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/package.json
  frontend_lib/src/action.async.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/HTMLContent/HTMLContent.jsx
  frontend_lib/src/component/Input/AutoComplete/AutoComplete.jsx
  frontend_lib/src/component/Input/AutoComplete/AutoComplete.styl
  frontend_lib/src/component/Timeline/CommentTextArea.jsx
  frontend_lib/src/component/Timeline/EditCommentPopup.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/src/mentionOrLink.js
  frontend_lib/src/tinymceAutoCompleteHelper.js
  frontend_lib/test/appContentFactory.spec.js
  frontend_lib/test/component/Comment.spec.js
  frontend_lib/test/component/CommentTextArea.spec.js
  frontend_lib/test/component/Timeline.spec.js
  frontend_lib/test/links.spec.js
  frontend_lib/test/mention.spec.js
  functionnal_tests/cypress/integration/dashboard/button_list__spec.js
  functionnal_tests/cypress/integration/generic_frontend/operation_tinymce.js
  functionnal_tests/cypress/integration/links/autocomplete_advanced_edition_spec.js
  functionnal_tests/cypress/integration/links/autocomplete_simple_edition_spec.js
  functionnal_tests/cypress/integration/links/send_link_comment_spec.js
Labels: backend, frontend

#4704 Hack to disable spreadsheet previews
  backend/tracim_backend/__init__.py
Labels: backend

#4409 stamp head in tracimcli command
  .travis.yml
  backend/README.md
  backend/tracim_backend/command/database.py
  run_dev_backend.sh
  setup_default_backend.sh
  tools_docker/Debian_New_Uwsgi/entrypoint.sh
  tools_docker/Debian_Uwsgi/entrypoint.sh
Labels: backend

#4392 add command line to migrate storage
  backend/doc/migrate_storage.md
  backend/setup.py
  backend/tracim_backend/command/database.py
Labels: backend, low priority

#4744 Feat/2594 remove double header
  frontend/src/container/Sidebar.jsx
  frontend/src/css/Sidebar.styl
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/component/PreviewComponent.jsx
  frontend_app_file/src/component/PreviewComponent.styl
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/css/index.styl
  frontend_app_file/test/component/PreviewComponent.spec.js
  frontend_app_folder_advanced/src/component/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/src/css/index.styl
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/src/css/index.styl
  frontend_app_html-document/test/component/HtmlDocument.spec.js
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_thread/src/css/index.styl
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/src/component/AppContent/AppContentRightMenu.jsx
  frontend_lib/src/component/AppContent/AppContentRightMenu.styl
  frontend_lib/src/component/DropdownMenu/DropdownMenu.jsx
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.jsx
  frontend_lib/src/component/Input/SelectStatus/SelectStatus.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.jsx
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/PopinFixed/PopinFixedContent.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedOption.jsx
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/customEvent.js
  frontend_lib/src/index.js
  frontend_lib/test/component/Comment.spec.js
  frontend_lib/test/component/PopinFixed.spec.js
  frontend_lib/test/component/PopinFixedContent.spec.js
  frontend_lib/test/component/PopinFixedHeader.spec.js
  frontend_lib/test/component/PopinFixedOption.spec.js
  frontend_lib/test/component/SelectStatus.spec.js
  frontend_lib/test/component/Timeline.spec.js
  functionnal_tests/cypress/integration/admin/switching_different_workspace_advanced.js
  functionnal_tests/cypress/integration/app_file/add_file_as_user_spec.js
  functionnal_tests/cypress/integration/app_file/switch_between_file_spec.js
  functionnal_tests/cypress/integration/app_file/translation.js
  functionnal_tests/cypress/integration/app_html-document/operation_dashboard_dashboardbutton_create_html-document.js
  functionnal_tests/cypress/integration/app_html-document/tiny_mce__can_type_content_spec.js
  functionnal_tests/cypress/integration/app_html-document/translation.js
  functionnal_tests/cypress/integration/app_interface/content_name_spec.js
  functionnal_tests/cypress/integration/app_interface/switching_different_apps_feature_spec.js
  functionnal_tests/cypress/integration/app_interface/switching_same_apps_feature_spec.js
  functionnal_tests/cypress/integration/app_thread/delete_content.js
  functionnal_tests/cypress/integration/emojireactions/emojireactions.spec.js
  functionnal_tests/cypress/integration/generic_frontend/operation_tinymce.js
Labels: frontend

#4758 Feat/4701 add link in space description and comment edition
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Input/AutoComplete/AutoComplete.jsx
Labels: frontend

#4769 Fix/4746 handle null user in the notifications
  frontend/src/action-creator.async.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/src/tracimComponent.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/integration/app_file/translation.js
Labels: frontend

#4773 Feat/4766 update header buttons
  frontend_app_collaborative_document_edition/src/index.js
  frontend_app_file/src/container/File.jsx
Labels: frontend
