Repository tracim/tracim, pull requests merged in 2021-03, with the labels that each got.

#4225 Feat/4180 add different types of search
  backend/tracim_backend/command/search.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/models.py
  backend/tracim_backend/tests/functional/test_elasticsearch_search.py
  backend/tracim_backend/views/search_api/schemas.py
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend/src/component/Search/AdvancedSearchSpaceList.jsx
  frontend/src/component/Search/AdvancedSearchUserList.jsx
  frontend/src/container/AdvancedSearch.jsx
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/css/AdvancedSearch.styl
  frontend/src/reducer/searchResult.js
  frontend/src/util/helper.js
  frontend/test/src/reducer/searchResult.spec.js
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_lib/src/component/Input/TextInput.jsx
  frontend_lib/src/helper.js
Labels: backend, frontend

#4227 Feat/4181 add user and space search filters
  backend/tests_configs.ini
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/es_models.py
  backend/tracim_backend/templates/user_custom_properties/default/schema.json
  backend/tracim_backend/templates/user_custom_properties/organization/schema.json
  backend/tracim_backend/templates/user_custom_properties/test/schema.json
  backend/tracim_backend/tests/functional/test_elasticsearch_search.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/tests/functional/test_workspace_subscription.py
  backend/tracim_backend/tests/library/test_elasticsearch.py
  backend/tracim_backend/views/search_api/schemas.py
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend/src/component/Search/AdvancedSearchSpaceList.jsx
  frontend/src/component/Search/CheckboxFilter.jsx
  frontend/src/component/Search/ContentFacets.jsx
  frontend/src/component/Search/SpaceFacets.jsx
  frontend/src/component/Search/UserFacets.jsx
  frontend/src/container/AdvancedSearch.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/SearchFilterMenu.jsx
  frontend/src/css/AdvancedSearch.styl
  frontend/src/reducer/searchResult.js
  frontend/src/util/helper.js
  frontend/test/src/component/ContentFacets.spec.js
  frontend/test/src/container/SearchFilterMenu.spec.js
  frontend/test/src/reducer/searchResult.spec.js
  frontend_lib/src/component/Input/Checkbox.jsx
Labels: backend, frontend

#4230 Fix/4224 integration fixes for advanced search
  frontend/src/component/Activity/ContentActivityHeader.jsx
  frontend/src/component/Dashboard/RecentActivity.jsx
  frontend/src/component/Dashboard/RecentActivity.styl
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend/src/component/Search/AdvancedSearchContentList.styl
  frontend/src/component/Search/AdvancedSearchSpaceList.jsx
  frontend/src/component/Search/AdvancedSearchSpaceList.styl
  frontend/src/component/Search/AdvancedSearchUserList.jsx
  frontend/src/component/Search/ContentItemSearch.jsx
  frontend/src/component/TimedEvent.jsx
  frontend/src/component/TimedEvent.styl
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/container/AdvancedSearch.jsx
  frontend/test/src/component/ContentItemSearch.spec.js
  frontend/test/src/component/RecentActivity.spec.js
  frontend_app_file/src/container/File.jsx
  frontend_lib/src/component/FilenameWithExtension/FilenameWithExtension.jsx
  frontend_lib/src/component/FilenameWithExtension/FilenameWithExtension.styl
  frontend_lib/src/component/PromptMessage/PromptMessage.jsx
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_file/notify_all_content_message_spec.js
  functionnal_tests/cypress/integration/app_interface/content_name_spec.js
  functionnal_tests/cypress/integration/generic_frontend/group_mentions_spec.js
  functionnal_tests/cypress/integration/search/open_content_search_spec.js
  functionnal_tests/cypress/support/generic_selector_commands.js
Labels: frontend

#4279 Feat/4250 update components for publications
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/component/Activity/ContentWithPreviewActivity.jsx
  frontend/src/component/Activity/ContentWithoutPreviewActivity.jsx
  frontend/src/component/FeedItem/FeedItemFooter.jsx
  frontend/src/component/FeedItem/FeedItemFooter.styl
  frontend/src/component/FeedItem/FeedItemHeader.jsx
  frontend/src/component/FeedItem/FeedItemHeader.styl
  frontend/src/component/FeedItem/FeedItemWithPreview.jsx
  frontend/src/component/FeedItem/Preview.jsx
  frontend/src/component/FeedItem/Preview.styl
  frontend_lib/src/component/ScrollToBottomWrapper/ScrollToBottomWrapper.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/test/component/ScrollToBottomWrapper.spec.js
  frontend_lib/test/component/Timeline.spec.js
  functionnal_tests/cypress/integration/activity_feed/action_menu_spec.js
  functionnal_tests/cypress/integration/activity_feed/activity_spec.js
  functionnal_tests/cypress/integration/activity_feed/common_spec.js
Labels: frontend

#4281 Feat/4251 rename activity feed and add publication route
  backend/development.ini.sample
  backend/tracim_backend/app_models/workspace_menu_entries.py
  color.json.sample
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/component/FeedItem/Preview.jsx
  frontend/src/component/FeedItem/Preview.styl
  frontend/src/component/Home/HomeHasWorkspace.jsx
  frontend/src/component/TabBar/TabBar.jsx
  frontend/src/component/TabBar/TabBar.styl
  frontend/src/container/PersonalRecentActivities.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspaceRecentActivities.jsx
  frontend/src/container/withActivity.jsx
  frontend/src/css/RecentActivities.styl
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/activity_feed/action_menu_spec.js
  functionnal_tests/cypress/integration/activity_feed/activity_spec.js
  functionnal_tests/cypress/integration/activity_feed/common_spec.js
  functionnal_tests/cypress/integration/activity_feed/personal_activity_feed.js
  functionnal_tests/cypress/integration/app_interface/switching_between_tabs_spec.js
  functionnal_tests/cypress/integration/login/navigation_login-page_to_home-page.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend

#4303 Feat/4254 add publication page
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/component/Activity/ActivityList.styl
  frontend/src/component/Activity/ContentWithoutPreviewActivity.jsx
  frontend/src/component/Activity/MemberActivity.jsx
  frontend/src/component/FeedItem/FeedItemFooter.jsx
  frontend/src/component/FeedItem/FeedItemFooter.styl
  frontend/src/component/FeedItem/FeedItemHeader.jsx
  frontend/src/component/FeedItem/FeedItemWithPreview.jsx
  frontend/src/component/FeedItem/Preview.jsx
  frontend/src/component/FeedItem/Preview.styl
  frontend/src/component/TabBar/TabBar.styl
  frontend/src/component/TimedEvent.styl
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/Publications.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/withActivity.jsx
  frontend/src/css/FeedItemWithPreview.styl
  frontend/src/css/Publications.styl
  frontend/src/css/index.styl
  frontend/src/reducer/publicationList.js
  frontend/src/reducer/root.js
  frontend/src/reducer/workspaceContentList.js
  frontend/src/util/helper.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Button/IconButton.styl
  frontend_lib/src/component/ScrollToBottomWrapper/ScrollToBottomWrapper.jsx
  frontend_lib/src/component/Timeline/CommentTextArea.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/activity_feed/common_spec.js
Labels: frontend

#4322 Fix/4318 add more user-friendly name for publications
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/Publications.jsx
  yarn.lock
Labels: frontend

#4314 Feat/4252 add publication in recent activities
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/component/FeedItem/FeedItemFooter.jsx
  frontend/src/component/FeedItem/FeedItemHeader.jsx
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/Publications.jsx
  frontend/src/util/helper.js
  functionnal_tests/cypress/integration/activity_feed/common_spec.js
  functionnal_tests/cypress/integration/publication/publication_vue_recent_activities_spec.js
  functionnal_tests/cypress/support/db_commands.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: activity-feed, frontend

#4344 feat(front): add file upload at publication page
  color.json.sample
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/FeedItem/FeedItemHeader.jsx
  frontend/src/component/FeedItem/Preview.jsx
  frontend/src/component/FeedItem/Preview.styl
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/Publications.jsx
  frontend/src/css/Publications.styl
  frontend/src/reducer/publicationList.js
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/action.async.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/FilenameWithExtension/FilenameWithExtension.jsx
  frontend_lib/src/component/Timeline/AddFileToUploadButton.jsx
  frontend_lib/src/component/Timeline/AddFileToUploadButton.styl
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/activity_feed/action_menu_spec.js
  functionnal_tests/cypress/integration/activity_feed/activity_spec.js
  functionnal_tests/cypress/integration/activity_feed/common_spec.js
Labels: frontend

#4329 Fix/4254 add tests for publication page
  frontend/src/component/FeedItem/Preview.jsx
  frontend/test/apiMock.js
  frontend/test/setup.js
  frontend/test/src/component/Preview.spec.js
  frontend/test/src/container/Publications.spec.js
Labels: frontend

#4370 Feat/4353 update dashboard right menu
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/component/Dashboard/AgendaInfo.jsx
  frontend/src/component/Dashboard/AgendaInfo.styl
  frontend/src/component/Dashboard/ContentTypeBtn.jsx
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Dashboard/MemberList.styl
  frontend/src/component/Dashboard/UserStatus.jsx
  frontend/src/component/Dashboard/UserStatus.styl
  frontend/src/component/Dashboard/WebdavInfo.jsx
  frontend/src/component/Dashboard/WebdavInfo.styl
  frontend/src/container/Dashboard.jsx
  frontend/src/container/WorkspaceRecentActivities.jsx
  frontend/src/css/Dashboard.styl
  frontend_lib/src/component/Button/IconButton.jsx
  frontend_lib/src/component/Button/IconButton.styl
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.jsx
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.styl
Labels: frontend
