Repository tracim/tracim, pull requests merged in 2021-02, with the labels that each got.

#4152 fix(backend): spaces without access_type are CONFIDENTIAL
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/tests/library/test_event.py
Labels: manually tested

#4159 feat(backend): set a default custom user properties setting
  backend/development.ini.sample
  backend/doc/user_custom_properties.md
  backend/tests_configs.ini
  backend/tracim_backend/config.py
  backend/tracim_backend/templates/user_custom_properties/default/data_sample.json
  backend/tracim_backend/templates/user_custom_properties/default/locale/en.json
  backend/tracim_backend/templates/user_custom_properties/default/locale/fr.json
  backend/tracim_backend/templates/user_custom_properties/default/locale/pt.json
  backend/tracim_backend/templates/user_custom_properties/default/schema.json
  backend/tracim_backend/templates/user_custom_properties/default/ui.json
  backend/tracim_backend/templates/user_custom_properties/organization/data_sample.json
  backend/tracim_backend/templates/user_custom_properties/organization/locale/fr.json
  backend/tracim_backend/templates/user_custom_properties/organization/schema.json
  backend/tracim_backend/templates/user_custom_properties/organization/ui.json
  backend/tracim_backend/templates/user_custom_properties/test/data_sample.json
  backend/tracim_backend/templates/user_custom_properties/test/locale/fr.json
  backend/tracim_backend/templates/user_custom_properties/test/schema.json
  backend/tracim_backend/templates/user_custom_properties/test/ui.json
  tools_docker/Debian_New_Uwsgi/common.sh
  tools_docker/Debian_Uwsgi/common.sh
Labels: manually tested

#4151 fix/3791 add word-break on notification message
  frontend/src/css/NotificationWall.styl
Labels: frontend

#4156 Feat/4084 add loader for advanced search
  frontend/src/component/AdvancedSearch/AdvancedSearchLoader.jsx
  frontend/src/component/AdvancedSearch/AdvancedSearchLoader.styl
Labels: frontend

#4178 Feat/4094 add faceted search for content
  backend/tracim_backend/command/__init__.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/es_models.py
  backend/tracim_backend/lib/search/elasticsearch_search/models.py
  backend/tracim_backend/lib/search/models.py
  backend/tracim_backend/lib/search/search_factory.py
  backend/tracim_backend/lib/search/simple_search/models.py
  backend/tracim_backend/lib/search/simple_search/simple_search_api.py
  backend/tracim_backend/tests/functional/test_elasticsearch_search.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/search_api/schema.py
  backend/tracim_backend/views/search_api/schemas.py
  backend/tracim_backend/views/search_api/search_controller.py
  backend/update_i18n_json_file.sh
  setup_default_backend.sh
Labels: backend

#4183 Feat/4085 update content search UI at advanced search
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend/src/component/Search/AdvancedSearchContentList.styl
  frontend/src/component/Search/AdvancedSearchLoader.jsx
  frontend/src/component/Search/AdvancedSearchLoader.styl
  frontend/src/component/Search/AdvancedSearchSpaceList.jsx
  frontend/src/component/Search/AdvancedSearchSpaceList.styl
  frontend/src/component/Search/AdvancedSearchUserList.jsx
  frontend/src/component/Search/AdvancedSearchUserList.styl
  frontend/src/component/Search/SearchInput.jsx
  frontend/src/component/Search/SearchInput.styl
  frontend/src/container/AdvancedSearch.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/SimpleSearch.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/AdvancedSearch.styl
  frontend/src/css/ContentItem.styl
  frontend/src/css/ContentItemHeader.styl
  frontend/src/css/SimpleSearch.styl
  frontend/src/css/index.styl
  frontend/src/reducer/root.js
  frontend/src/reducer/searchResult.js
  frontend/src/util/helper.js
  frontend/test/hocMock/redux/searchResult/searchResult.js
  frontend/test/src/component/Search.spec.js
  frontend/test/src/container/Header.spec.js
  frontend/test/src/container/SimpleSearch.spec.js
  frontend/test/src/reducer/searchResult.spec.js
  frontend_lib/src/component/Icon/Icon.jsx
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/search/search_contents_spec.js
  functionnal_tests/cypress/integration/search/search_page_spec.js
  functionnal_tests/cypress/integration/search/see_more_button_spec.js
  functionnal_tests/cypress/support/urls_commands.js
Labels: frontend

#4198 Misc/4094 fixes and tests
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/models.py
  backend/tracim_backend/lib/search/models.py
  backend/tracim_backend/tests/functional/test_elasticsearch_search.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/search_api/schemas.py
Labels: backend

#4164 Fix/3575 add tooltips at notification wall buttons and icons
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/NotificationWall.jsx
  frontend/test/src/container/NotificationWall.spec.js
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/Button/GenericButton.jsx
  frontend_lib/src/component/Icon/ComposedIcon.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  frontend_lib/test/component/ComposedIcon.spec.js
Labels: manually tested

#4205 Feat/4097 add content search filters
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/models.py
  backend/tracim_backend/lib/search/models.py
  backend/tracim_backend/tests/functional/test_elasticsearch_search.py
  backend/tracim_backend/views/search_api/schemas.py
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/package.json
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend/src/component/Search/CheckboxFilter.jsx
  frontend/src/component/Search/CheckboxFilter.styl
  frontend/src/component/Search/ContentFacets.jsx
  frontend/src/component/Search/DateFilter.jsx
  frontend/src/component/Search/DateFilter.styl
  frontend/src/component/Search/SearchFilterMenu.jsx
  frontend/src/component/Search/SearchInput.styl
  frontend/src/component/Workspace/ContentItemHeader.jsx
  frontend/src/container/AdvancedSearch.jsx
  frontend/src/container/SearchFilterMenu.jsx
  frontend/src/container/SimpleSearch.jsx
  frontend/src/css/AdvancedSearch.styl
  frontend/src/css/SearchFilterMenu.styl
  frontend/src/css/index.styl
  frontend/src/reducer/searchResult.js
  frontend/src/util/helper.js
  frontend/test/hocMock/redux/searchResult/searchResult.js
  frontend/test/src/component/ContentFacets.spec.js
  frontend/test/src/container/AdvancedSearch.spec.js
  frontend/test/src/container/SearchFilterMenu.spec.js
  frontend/test/src/reducer/searchResult.spec.js
  yarn.lock
Labels: frontend
