Repository tracim/tracim, pull requests merged in 2022-07, with the labels that each got.

#5739 Feat/2841 add user's to do page
  backend/tracim_backend/applications/content_todo/controller.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Activity/MemberActivity.jsx
  frontend/src/component/ContentListItem.jsx
  frontend/src/component/FeedItem/FeedItemHeader.jsx
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/ToDo.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/ToDo.styl
  frontend/src/css/index.styl
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/i18next.scanner/ar/translation.json
  frontend_app_html-document/i18next.scanner/de/translation.json
  frontend_app_html-document/i18next.scanner/en/translation.json
  frontend_app_html-document/i18next.scanner/fr/translation.json
  frontend_app_html-document/i18next.scanner/pt/translation.json
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/action.async.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Breadcrumbs/Breadcrumbs.jsx
  frontend_lib/src/component/TimedEvent/TimedEvent.jsx
  frontend_lib/src/component/TimedEvent/TimedEvent.styl
  frontend_lib/src/component/ToDo/ToDo.styl
  frontend_lib/src/component/ToDo/ToDoItem.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
Labels: frontend, backend

#5750 feat(frontend): create multiple todos at once
  frontend_lib/src/component/Button/IconButton.styl
  frontend_lib/src/component/Button/LinkButton.jsx
  frontend_lib/src/component/Button/LinkButton.styl
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.jsx
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.styl
  frontend_lib/src/component/ToDo/CreateToDoFromTextPopUp.jsx
  frontend_lib/src/component/ToDo/CreateToDoFromTextPopUp.styl
  frontend_lib/src/component/ToDo/NewToDo.jsx
  frontend_lib/src/component/ToDo/ToDo.styl
  frontend_lib/src/component/ToDo/ToDoManagement.jsx
  frontend_lib/src/component/ToDo/ToDoManagement.styl
Labels: frontend

#5744 add mark/unmark as template revision type
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/webdav/design.py
  backend/tracim_backend/models/data.py
  frontend_lib/src/helper.js
Labels: frontend, backend

#5763 feat(frontend): add todo filter to todo page
  frontend/src/container/ToDo.jsx
  frontend/src/css/ToDo.styl
  frontend_lib/src/component/ToDo/ToDo.styl
Labels: manually tested, frontend

#5665 feat(frontend): Enhance notification wall experience
  frontend/src/container/Login.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/NotificationWall.styl
  frontend_lib/src/component/ToDo/ToDoItem.jsx
  functionnal_tests/cypress/integration/notification_wall/mark_as_read_spec.js
  functionnal_tests/cypress/integration/notification_wall/notification_wall_navigation_spec.js
Labels: frontend, ux

#5755 feat(backend): add todos to template
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  functionnal_tests/cypress/integration/login/username_popup_spec.js
Labels: backend

#5776 fix(frontend): add extension to files when creating a collaborative file
  frontend_app_collaborative_document_edition/src/container/PopupCreateOfficeDocument.jsx
  frontend_lib/src/appContentFactory.js
Labels: frontend

#5786 fix(frontend): wrong text on group of tasks in the notification wall
  frontend/src/container/GroupedNotificationItem.jsx
  frontend/src/container/NotificationWall.jsx
Labels: frontend

#5784 feat(frontend): add text to display that there is no assigned tasks in `my tasks` page
  backend/setup.cfg
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/Favorites.jsx
  frontend/src/container/Publications.jsx
  frontend/src/container/SimpleSearch.jsx
  frontend/src/container/ToDo.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/css/Publications.styl
  frontend/src/css/SimpleSearch.styl
  frontend/src/css/ToDo.styl
  frontend/src/css/Workspace.styl
  frontend_lib/src/component/EmptyListMessage/EmptyListMessage.jsx
  frontend_lib/src/component/EmptyListMessage/EmptyListMessage.styl
  frontend_lib/src/component/Layout/PageWrapper.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_thread/operation_dashboard_dashboardbutton_create_thread.js
  functionnal_tests/cypress/integration/helpers/file.js
  functionnal_tests/cypress/integration/helpers/htmldoc.js
  functionnal_tests/cypress/integration/helpers/thread.js
  functionnal_tests/cypress/integration/search/search_contents_spec.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_allcontent.js
  functionnal_tests/cypress/support/generic_selector_commands.js
Labels: frontend

#5774 feat(frontend): disable to dos according to backend configuration
  frontend/src/component/Workspace/OpenContentApp.jsx
  frontend/src/container/Sidebar.jsx
  frontend/test/src/container/Sidebar.spec.js
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
Labels: frontend

#5788 feat(frontend): add local storage for to dos
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Input/TextAreaApp/TextAreaApp.jsx
  frontend_lib/src/component/Timeline/CommentArea.jsx
  frontend_lib/src/component/ToDo/NewToDo.jsx
  frontend_lib/src/component/ToDo/ToDoManagement.jsx
  frontend_lib/src/localStorage.js
  frontend_lib/test/appContentFactory.spec.js
  frontend_lib/test/localStorage.spec.js
Labels: frontend

#5780 misc(translation): add Spanish on Tracim's interface
  backend/development.ini.sample
  backend/tracim_backend/lib/utils/cors.py
  frontend/dist/assets/_caldavzap/config.tracim.js
  frontend/dist/assets/tinymce-5.10.3/js/tinymce/langs/es.js
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/reducer/lang.js
  frontend/src/util/helper.js
  frontend/src/util/i18n.js
  frontend/test/src/helper.spec.js
  frontend_app_collaborative_document_edition/test/CollaboraEditionFrame.spec.js
  frontend_app_custom-form/src/container/CustomForm.jsx
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/es/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/Input/AutoComplete/AutoComplete.jsx
  frontend_lib/src/component/Input/SingleChoiceList/SingleChoiceList.jsx
  frontend_lib/src/component/Popover/Popover.jsx
  frontend_lib/src/component/ToDo/CreateToDoFromTextPopUp.jsx
  frontend_lib/src/component/ToDo/NewToDo.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.dev.js.sample
  frontend_lib/src/index.js
  frontend_lib/src/mentionOrLink.js
  frontend_lib/test/component/NewShareDownload.spec.js
  functionnal_tests/cypress/integration/account/translation.js
  functionnal_tests/cypress/integration/admin/translation_spec.js
  functionnal_tests/cypress/integration/app_file/translation_spec.js
  functionnal_tests/cypress/integration/app_folder/translation_spec.js
  functionnal_tests/cypress/integration/app_gallery/translation_spec.js
  functionnal_tests/cypress/integration/app_html-document/translation_spec.js
  functionnal_tests/cypress/integration/app_kanban/translations_spec.js
  functionnal_tests/cypress/integration/app_thread/translation_spec.js
  functionnal_tests/cypress/integration/app_workspace_advanced/translation_spec.js
  functionnal_tests/cypress/integration/dashboard/translation_spec.js
  functionnal_tests/cypress/integration/helpers/file.js
  functionnal_tests/cypress/integration/helpers/htmldoc.js
  functionnal_tests/cypress/integration/helpers/thread.js
  functionnal_tests/cypress/integration/home_page/translation_spec.js
  functionnal_tests/cypress/integration/login/translation_spec.js
  functionnal_tests/cypress/integration/notification_wall/translation_spec.js
  functionnal_tests/cypress/integration/profile/translation_spec.js
  functionnal_tests/cypress/integration/publication/translation_spec.js
  functionnal_tests/cypress/integration/sidebar/translation.js
  functionnal_tests/cypress/integration/tags/translation_spec.js
  functionnal_tests/cypress/integration/timeline/translation_spec.js
  functionnal_tests/cypress/support/commands.js
Labels: frontend, backend, documentation

#5791 fix(frontend): fix concurrency display of todos
  frontend/src/css/ToDo.styl
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_lib/src/component/ToDo/ToDoManagement.jsx
Labels: frontend

#5596 Feat/3642 opensearch compat doc
  backend/development.ini.sample
  backend/doc/setting.md
  backend/docker-compose-alternative.yml
  backend/docker-compose.yml
  tools_docker/elasticsearch_ingest/Dockerfile
  tools_docker/opensearch_ingest/Dockerfile
  tools_docker/opensearch_ingest/README.md
Labels: docker, backend

#5804 fix(frontend): fix property not supported on firefox esr and big drop…
  frontend/src/component/Activity/ActivityList.styl
  frontend/src/component/Workspace/Folder.styl
  frontend/src/css/Workspace.styl
Labels: frontend

#5801 Doc: update docker-compose
  backend/.env
  backend/README.md
  backend/development.ini.sample
  backend/doc/live_message_setup.md
  backend/docker-compose-alternative.yml
  backend/docker-compose-optional.yml
  backend/docker-compose.yml
  concourse/scripts/backend-full-tests
  concourse/scripts/backend-quick-tests
  concourse/scripts/install_docker
  run_dev_backend.sh
  tools_docker/concourse/Dockerfile
Labels: docker, documentation

#5812 misc(frontend): add spanish on welcome-simple-text.html
  frontend/dist/assets/branding.sample/welcome-simple-text.html
Labels: frontend, documentation
