Repository tracim/tracim, pull requests merged in 2022-05, with the labels that each got.

#5632 Fix/5622 better performance for notes that has images on Chrome
  frontend/package.json
  frontend/src/component/PublicProfile/TextareaRich.jsx
  frontend/src/util/tinymceInit.js
  frontend_app_kanban/src/component/KanbanCardEditor.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_lib/src/component/Input/TextAreaApp/TextAreaApp.jsx
  frontend_lib/src/component/Timeline/CommentArea.jsx
Labels: frontend

#5628 fix(frontend): display loader when loading space in user config
  frontend/src/component/Account/UserSpacesConfig.jsx
  frontend/test/src/component/UserSpacesConfig.spec.js
Labels: manually tested, frontend

#5651 Fix/3001 consecutive requests to members
  frontend/src/action-creator.async.js
  frontend/src/component/Account/AdminUserSpacesConfigItem.jsx
  frontend/src/component/Account/UserSpacesConfig.jsx
  frontend/src/component/Account/UserSpacesConfigLine.jsx
  frontend/src/container/AdminUserSpacesConfig.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/PersonalRecentActivities.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspacePage.jsx
  frontend/src/reducer/workspaceList.js
  frontend/test/src/component/UserSpacesConfig.spec.js
  frontend/test/src/container/Tracim.spec.js
  frontend_app_workspace_advanced/src/action.async.js
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/action.async.js
Labels: frontend

#5657 Fix/5404 do not display preview of deleted contents
  frontend/src/container/FeedItemWithPreview.jsx
  functionnal_tests/cypress/integration/activity_feed/hidden_preview_activity_spec.js
Labels: frontend

#5661 fix(frontend): Update password position
  frontend/src/component/Account/PersonalData.jsx
Labels: frontend

#5667 feat(frontend): Add loader to tag list
  frontend_lib/src/component/Tags/TagList.jsx
Labels: manually tested, frontend, ux

#5669 feat(frontend): Add loader when adding/removing member from dashboard
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/container/Dashboard.jsx
Labels: frontend, ux

#5671 Feat/5131 add loader to user spaces management
  frontend/src/container/AdminUserSpacesConfig.jsx
Labels: frontend

#5660 Feat/5655 remove raw_content from events
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/migration/versions/6f36ee7d829e_remove_raw_content_from_event.py
  backend/tracim_backend/tests/functional/test_comments.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend/src/container/Publications.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/container/WorkspaceRecentActivities.jsx
  frontend/src/util/activity.js
  frontend/test/apiMock.js
  frontend/test/src/activity.spec.js
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/apiMock.js
  frontend_app_html-document/test/component/HtmlDocument.spec.js
  frontend_app_html-document/test/container/HtmlDocument.spec.js
  frontend_app_html-document/test/setup.js
  frontend_lib/src/action.async.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/index.js
Labels: frontend, backend

#5682 Fix/5679 fix undefined on preview when there is a mention
  frontend/src/container/withActivity.jsx
Labels: frontend
