Repository tracim/tracim, pull requests merged in 2022-03, with the labels that each got.

#5478 doc: prepare new release 4.1.3
  backend/setup.cfg
  changelog.md
  frontend/src/version.json
Labels: documentation

#5486 Feat/5482 better ux for caldav and webdav links
  frontend/dist/index.html
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/WebdavInfo.jsx
  frontend/src/component/Account/WebdavInfo.styl
  frontend/src/component/Workspace/OpenWorkspaceAdvanced.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/css/Account.styl
  frontend/src/reducer/user.js
  frontend/src/util/helper.js
  frontend/test/src/component/WebdavInfo.spec.js
  frontend_app_admin_workspace_user/dist/index.html
  frontend_app_agenda/dist/index.html
  frontend_app_file/dist/index.html
  frontend_app_gallery/dist/index.html
  frontend_app_html-document/dist/index.html
  frontend_app_kanban/dist/index.html
  frontend_app_share_folder_advanced/dist/index.html
  frontend_app_thread/dist/index.html
  frontend_app_workspace/dist/index.html
  frontend_app_workspace_advanced/dist/index.html
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/dist/index.html
  frontend_lib/src/component/AgendaInfo/AgendaInfo.jsx
  frontend_lib/src/component/AgendaInfo/AgendaInfo.styl
  frontend_lib/src/index.js
  frontend_lib/test/component/AgendaInfo.spec.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
Labels: frontend

#5500 fix(front): refactor ForgotPasswordNoEmailNotif.jsx to use hooks
  frontend/src/container/ForgotPasswordNoEmailNotif.jsx
Labels: manually tested, frontend

#5522 Fix/5493 update mention detection to work in every order
  frontend_lib/src/mentionOrLink.js
  frontend_lib/test/mention.spec.js
  functionnal_tests/cypress/integration/tags/content_tags_spec.js
Labels: frontend

#5523 feat(front): invert all icons
  frontend/src/css/IconsRtl.styl
Labels: manually tested

#5524 Fix/5494 update autocomplete style and height for publications
  frontend/src/container/Publications.jsx
  frontend/src/css/Publications.styl
  frontend_lib/src/component/Timeline/CommentArea.jsx
  frontend_lib/src/component/Timeline/CommentArea.styl
  functionnal_tests/cypress/integration/app_workspace_advanced/read_mode_only_spec.js
  functionnal_tests/cypress/integration/publication/open_in_app_spec.js
  functionnal_tests/cypress/integration/workspace/mention_in_publications_coming_from_another_workspace_spec.js
Labels: frontend

#5545 Feat/5512 add multiples translations
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/ContentListItem.jsx
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/Timeline/DisplayFileToUpload.jsx
Labels: frontend

#5556 Misc/add plurals for Arabic language and update translation files
  backend/tracim_backend/locale/ar/LC_MESSAGES/tracim_backend.po
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/container/AdvancedSearch.jsx
  frontend/src/container/GroupedNotificationItem.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/test/src/container/AdvancedSearch.spec.js
  frontend_app_workspace_advanced/i18next.scanner/ar/translation.json
  frontend_app_workspace_advanced/i18next.scanner/de/translation.json
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
Labels: frontend

#5551 Feat/5532 start agenda on Saturday for Arabic
  frontend/dist/assets/_caldavzap/config.tracim.js
Labels: frontend

#5460 add support for pyramid 2
  backend/requirements.txt
  backend/setup.py
  backend/tracim_backend/__init__.py
  backend/tracim_backend/lib/utils/authentification.py
  backend/tracim_backend/lib/utils/authorization.py
  backend/tracim_backend/models/setup_models.py
  backend/tracim_backend/views/base.py
Labels: manually tested
