Repository tracim/tracim, pull requests merged in 2022-08, with the labels that each got.

#5824 Fix/5813 improve access to template
  backend/setup.cfg
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/tests/functional/test_content_templates.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/workspace_controller.py
Labels: backend

#5827 doc(release): create v4.3.2
  backend/setup.cfg
  changelog.md
  frontend/src/version.json
Labels: documentation

#5823 fix(frontend): better handle collabora, kanban and custom button with new sidebar
  frontend/src/component/Sidebar/SidebarUserItemList.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/css/Sidebar.styl
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_kanban/src/css/index.styl
  frontend_lib/src/component/Layout/PageTitle.jsx
  frontend_lib/src/css/Variable.styl
  functionnal_tests/cypress/integration/account/account_main_page.js
  functionnal_tests/cypress/integration/admin/content_admin_user.js
  functionnal_tests/cypress/integration/admin/navigation_admin_user.js
  functionnal_tests/cypress/integration/admin/navigation_admin_workspace.js
  functionnal_tests/cypress/integration/login/login_after_disconnection_spec.js
  functionnal_tests/cypress/integration/login/navigation_home-page_to_login-page.js
Labels: frontend

#5835 feat(frontend): make all news as threads
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Publications.jsx
  frontend/src/css/Header.styl
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/component/Timeline/Comment.jsx
  functionnal_tests/cypress/integration/publication/file_spec.js
Labels: frontend

#5841 feat(frontend): do not show news attached files
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/component/Sidebar/SidebarSpaceList.jsx
  frontend/src/container/withActivity.jsx
  frontend_lib/src/i18n.js
  functionnal_tests/cypress/integration/activity_feed/hidden_attached_file_activity_spec.js
Labels: frontend

#5839 Feat/5800 allow right-click on app edition button
  frontend/src/component/Sidebar/SidebarSpaceItem.jsx
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/PopinFixed/PopinFixedHeader.jsx
  functionnal_tests/cypress/integration/app_file/navigation_create_file.js
  functionnal_tests/cypress/integration/login/navigation_home-page_to_login-page.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_allcontent__spec.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_dashboard_spec.js
  functionnal_tests/cypress/integration/sidebar/presence_sidebar_gallery_spec.js
Labels: frontend

#5852 feat(frontend): add play button on app header
  frontend_app_file/src/container/File.jsx
  functionnal_tests/cypress/integration/app_file/file_header_spec.js
Labels: frontend

#5848 Feat/5843 show discussion on activities
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/component/Activity/ContentWithoutPreviewActivity.jsx
  frontend/src/component/FeedItem/FeedItemFooter.jsx
  frontend/src/component/FeedItem/FeedItemFooter.styl
  frontend/src/component/FeedItem/FeedItemHeader.jsx
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/Publications.jsx
  frontend/src/util/activity.js
  frontend/test/src/activity.spec.js
  frontend_app_gallery/src/css/index.styl
  frontend_lib/src/component/Button/IconButton.styl
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Comment.styl
  frontend_lib/src/component/Timeline/CommentFilePreview.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/Timeline/Timeline.styl
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/activity_feed/show_discussion_spec.js
  functionnal_tests/cypress/integration/publication/toggle_comments_spec.js
Labels: frontend

#5855 feat(frontend): improve sidebar when fullscreen mode and some visual cleaning
  frontend/src/component/Header/MenuActionListItem/MenuProfile.jsx
  frontend/src/component/Sidebar/SidebarSpaceList.jsx
  frontend/src/component/Sidebar/SidebarUserItemList.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/css/Generic.styl
  frontend/src/css/Sidebar.styl
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_kanban/src/css/index.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  functionnal_tests/cypress/integration/account/account_main_page.js
  functionnal_tests/cypress/integration/admin/content_admin_user.js
  functionnal_tests/cypress/integration/admin/navigation_admin_user.js
  functionnal_tests/cypress/integration/admin/navigation_admin_workspace.js
  functionnal_tests/cypress/integration/emojireactions/emojireactions_spec.js
  functionnal_tests/cypress/integration/login/login_after_disconnection_spec.js
  functionnal_tests/cypress/integration/login/navigation_home-page_to_login-page.js
  functionnal_tests/cypress/integration/login/new_user_first_login_spec.js
  functionnal_tests/cypress/integration/notification_wall/notification_button_sidebar_spec.js
  functionnal_tests/cypress/integration/sidebar/click_on_sidebar_titles_spec.js
Labels: frontend

#5853 feat(frontend): display the preview video on click on the preview
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/component/PreviewComponent.jsx
  frontend_app_file/src/container/File.jsx
  functionnal_tests/cypress/integration/app_file/preview_video_spec.js
  functionnal_tests/cypress/integration/app_file/video_play_spec.js
  functionnal_tests/cypress/integration/publication/file_spec.js
Labels: frontend

#5863 feat(frontend) add copy content link button on apps
  frontend/src/container/Publications.jsx
  frontend/src/container/withActivity.jsx
  frontend/src/util/helper.js
  frontend_app_file/src/container/File.jsx
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_file/copy_content_link_spec.js
Labels: frontend

#5859 fix(frontend): content go up activity feed when file attached
  frontend/src/util/activity.js
  functionnal_tests/cypress/integration/activity_feed/first_item_spec.js
Labels: frontend

#5861 feat(frontend): update sidebar colors
  backend/color-test.json
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/utils/utils.py
  backend/tracim_backend/views/frontend.py
  frontend/dist/assets/branding.sample/color.json
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend/src/component/Sidebar/SidebarItem.jsx
  frontend/src/component/Sidebar/SidebarSpaceItem.jsx
  frontend/src/component/Sidebar/SidebarUserItemList.jsx
  frontend/src/component/TabBar/TabBar.styl
  frontend/src/css/Sidebar.styl
  frontend/test/fixture/app/agenda.js
  frontend_lib/src/component/Layout/PageWrapper.styl
  frontend_lib/test/fixture/app/agenda.js
  frontend_lib/test/fixture/sidebarEntryList.js
Labels: frontend, backend

#5794 test(frontend): add tests for to dos
  frontend_lib/src/component/ToDo/CreateToDoFromTextPopUp.jsx
  frontend_lib/src/component/ToDo/ToDoManagement.jsx
  frontend_lib/test/component/ToDo.spec.js
  functionnal_tests/cypress/integration/tags/content_tags_spec.js
  functionnal_tests/cypress/integration/to_dos/create_todos_spec.js
  functionnal_tests/cypress/integration/to_dos/delete_todos_spec.js
  functionnal_tests/cypress/integration/to_dos/modify_todos_spec.js
Labels: frontend

#5870 feat(frontend): improve sidebar on small screens
  frontend/dist/assets/_caldavzap/main.js
  frontend/src/component/Header/MenuActionListItem/MenuProfile.jsx
  frontend/src/component/Logo.jsx
  frontend/src/component/Search/SearchInput.jsx
  frontend/src/component/Sidebar/SidebarItem.jsx
  frontend/src/component/Sidebar/SidebarSpaceItem.jsx
  frontend/src/component/Sidebar/SidebarSpaceList.jsx
  frontend/src/component/Sidebar/SidebarUserItemList.jsx
  frontend/src/container/AdvancedSearch.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/css/Sidebar.styl
  frontend/test/src/component/Logo.spec.js
  frontend/test/src/component/Search.spec.js
  frontend/test/src/container/AdvancedSearch.spec.js
  frontend_lib/src/component/Layout/PageWrapper.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  functionnal_tests/cypress/integration/activity_feed/action_menu_spec.js
  functionnal_tests/cypress/integration/app_file/copy_content_link_spec.js
  functionnal_tests/cypress/integration/publication/options_spec.js
Labels: frontend
