Repository tracim/tracim, pull requests merged in 2022-10, with the labels that each got.

#5913 build(deps): revert pip version to 21.1.3
  backend/requirements-build.txt
Labels: dependencies

#5929 fix(front): Clicking outside new tag input field now hides autocomplete.
  frontend_lib/src/component/Tags/NewTagForm.jsx
  functionnal_tests/cypress/integration/tags/hide_tag_autocomplete_spec.js
Labels: manually tested, frontend

#5931 feat(frontend): remove constant CONTENT_NAMESPACE from frontend and use the one from frontend_lib
  frontend/src/action-creator.async.js
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/Publications.jsx
  frontend/src/container/withActivity.jsx
  frontend/src/reducer/workspaceContentList.js
  frontend/src/reducer/workspaceShareFolderContentList.js
  frontend/src/util/helper.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend/test/src/reducer/workspaceContentList.spec.js
  frontend/test/src/reducer/workspaceShareFolderContentList.spec.js
  frontend_lib/src/helper.js
Labels: manually tested

#5930 Feat/4570 add a profile customisation button in the account settings page
  frontend/src/component/Account/UserInfo.jsx
  frontend/src/component/Account/UserInfo.styl
  frontend/test/src/component/UserInfo.spec.js
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/AdminAccount.spec.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
Labels: manually tested, frontend, feature

#5889 Feat/use prismjs to display code
  backend/development.ini.sample
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/core/system.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/views/core_api/schemas.py
  doc/backend_specific/env_settings.md
  doc/backend_specific/setting.md
  frontend/dist/assets/prism/prism.css
  frontend/dist/assets/prism/prism.min.css
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend/src/component/Search/AdvancedSearchContentList.styl
  frontend/src/component/Workspace/Folder.styl
  frontend/src/css/ContentItem.styl
  frontend/src/css/FeedItemWithPreview.styl
  frontend/src/css/NotificationWall.styl
  frontend/src/util/tinymceInit.js
  frontend/test/setup.js
  frontend_app_admin_workspace_user/test/setup.js
  frontend_app_agenda/test/setup.js
  frontend_app_collaborative_document_edition/test/setup.js
  frontend_app_file/src/container/PopupCreateFile.jsx
  frontend_app_file/test/setup.js
  frontend_app_folder_advanced/test/setup.js
  frontend_app_gallery/test/setup.js
  frontend_app_html-document/test/setup.js
  frontend_app_kanban/test/setup.js
  frontend_app_share_folder_advanced/test/setup.js
  frontend_app_thread/src/css/index.styl
  frontend_app_thread/test/setup.js
  frontend_app_workspace/test/setup.js
  frontend_app_workspace_advanced/test/setup.js
  frontend_lib/package.json
  frontend_lib/src/component/HTMLContent/HTMLContent.jsx
  frontend_lib/src/component/Lists/ListItemWrapper/ListItemWrapper.jsx
  frontend_lib/src/component/Lists/ListItemWrapper/ListItemWrapper.styl
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Comment.styl
  frontend_lib/test/component/ListItemWrapper.spec.js
  functionnal_tests/cypress/integration/activity_feed/show_discussion_spec.js
  functionnal_tests/cypress/integration/app_file/add_invalid_mentions_spec.js
  functionnal_tests/cypress/integration/app_file/switch_between_apps_spec.js
  functionnal_tests/cypress/integration/app_html-document/add_invalid_mentions_spec.js
  functionnal_tests/cypress/integration/app_thread/add_invalid_mentions_spec.js
  functionnal_tests/cypress/integration/emojireactions/emojireactions_spec.js
  functionnal_tests/cypress/integration/generic_frontend/dropdown_menu__in_content_list_spec.js
  functionnal_tests/cypress/integration/links/send_link_comment_spec.js
  functionnal_tests/cypress/integration/publication/file_spec.js
  functionnal_tests/cypress/integration/publication/options_spec.js
  functionnal_tests/cypress/integration/publication/text_spec.js
  functionnal_tests/cypress/integration/publication/toggle_comments_spec.js
  functionnal_tests/cypress/integration/search/search_contents_spec.js
  functionnal_tests/cypress/integration/timeline/comment_size__spec.js
  functionnal_tests/cypress/integration/timeline/edit_comment_spec.js
  functionnal_tests/cypress/integration/timeline/file_spec.js
  functionnal_tests/cypress/integration/timeline/navigation_comment_profile__spec.js
  functionnal_tests/cypress/support/generic_selector_commands.js
  yarn.lock
Labels: manually tested, frontend, frontend-lib

#5950 doc: Fix error in building tracim source documentation
  doc/BUILD.md
Labels: documentation

#5937 feat(frontend): add an account settings button in the profile customization page
  frontend/src/component/PublicProfile/ProfileMainBar.jsx
  frontend/src/css/PublicProfile.styl
  functionnal_tests/cypress/integration/profile/profile_interface_spec.js
Labels: frontend

#5947 fix(frontend): do not display task notification if you are not the assignee
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/event.py
  frontend/src/action-creator.sync.js
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/reducer/notificationPage.js
  frontend/test/src/reducer/notificationPage.spec.js
Labels: manually tested, frontend

#5959 fix(frontend): code cleaning
  frontend/src/container/ReduxTlmDispatcher.jsx
  frontend/src/reducer/notificationPage.js
Labels: manually tested, frontend

#5961 fix(frontend): overflowing comments when there is code
  frontend_lib/src/component/Timeline/Comment.styl
Labels: manually tested, frontend

#5958 feat(frontend): display kanban in activities feeds
  frontend/src/container/withActivity.jsx
  frontend/src/util/activity.js
  frontend_lib/src/action.async.js
  frontend_lib/src/index.js
Labels: manually tested, frontend

#5962 feat(frontend): change font
  frontend/dist/assets/font/Quicksand/Quicksand-Bold.ttf
  frontend/dist/assets/font/Quicksand/Quicksand-Regular.ttf
  frontend/dist/assets/font/Raleway/OFL.txt
  frontend/dist/assets/font/Raleway/Raleway-Bold.ttf
  frontend/dist/assets/font/Raleway/Raleway-ExtraBold.ttf
  frontend/dist/assets/font/Raleway/Raleway-ExtraLight.ttf
  frontend/dist/assets/font/Raleway/Raleway-Heavy.ttf
  frontend/dist/assets/font/Raleway/Raleway-Light.ttf
  frontend/dist/assets/font/Raleway/Raleway-Medium.ttf
  frontend/dist/assets/font/Raleway/Raleway-Regular.ttf
  frontend/dist/assets/font/Raleway/Raleway-SemiBold.ttf
  frontend/dist/assets/font/Raleway/Raleway-Thin.ttf
  frontend/dist/index.html
  frontend/dist/index.mak
  frontend/src/css/Generic.styl
  frontend/src/css/Sidebar.styl
  frontend_app_admin_workspace_user/dist/index.html
  frontend_app_agenda/dist/index.html
  frontend_app_collaborative_document_edition/dist/index.html
  frontend_app_custom-form/dist/index.html
  frontend_app_file/dist/index.html
  frontend_app_folder_advanced/dist/index.html
  frontend_app_gallery/dist/index.html
  frontend_app_html-document/dist/index.html
  frontend_app_kanban/dist/index.html
  frontend_app_share_folder_advanced/dist/index.html
  frontend_app_thread/dist/index.html
  frontend_app_workspace/dist/index.html
  frontend_app_workspace_advanced/dist/index.html
  frontend_lib/dist/index.html
  frontend_lib/src/css/Variable.styl
  functionnal_tests/cypress/integration/activity_feed/common_spec.js
Labels: manually tested

#5970 Feat/mobile Communication with webview
  frontend/src/container/Login.jsx
  frontend/src/container/Sidebar.jsx
  frontend/src/container/Tracim.jsx
Labels: frontend

#5971 feat(frontend): Automatic scroll when click on news see more button
  frontend/src/container/Publications.jsx
Labels: manually tested

#5985 fix(backend, webdav): support kanban files with webdav
  backend/tests_configs.ini
  backend/tracim_backend/app_models/contents.py
  backend/tracim_backend/lib/webdav/resources.py
  backend/tracim_backend/tests/functional/test_webdav.py
Labels: manually tested

#5999 ✨ Feat: prepare new release 4.4.1
  CHANGELOG.md
  backend/setup.cfg
  frontend/src/version.json
Labels: to sort, not in changelog
