Repository tracim/tracim, pull requests merged in 2022-06, with the labels that each got.

#5695 Fix/5395 redirect to content list folder
  frontend/src/component/Activity/ActivityList.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/notification_wall/notification_wall_navigation_spec.js
Labels: frontend

#5694 feat(front):adding login redirection after password reset
  frontend/src/container/ForgotPassword.jsx
Labels: frontend

#5691 fix(back):updating setup file to fix missing comma
  backend/setup.py
Labels: manually tested, backend

#5714 Fix/5687 role choice when adding member to a space
  frontend/src/container/Dashboard.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceMembersList.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  functionnal_tests/cypress/integration/notification_wall/notification_wall_navigation_spec.js
  functionnal_tests/cypress/integration/workspace/add_member_spec.js
Labels: frontend

#5718 fix(front): remove flash message when loading content reactions
  frontend_lib/src/container/EmojiReactions.jsx
Labels: frontend

#5734 feat(backend, frontend): add tlms for todos
  backend/doc/live_messages.md
  backend/tracim_backend/applications/content_todo/controller.py
  backend/tracim_backend/applications/content_todo/models.py
  backend/tracim_backend/applications/content_todo/models_in_context.py
  backend/tracim_backend/applications/content_todo/schema.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/utils/authorization.py
  backend/tracim_backend/lib/utils/request.py
  backend/tracim_backend/migration/versions/0c494b0934df_refactoring_todos.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/ToDo/ToDoItem.jsx
  frontend_lib/src/component/ToDo/ToDoManagement.jsx
  tools_docker/Debian_New_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi_ARM64/Dockerfile
Labels: frontend, backend

#5746 feat(frontend): highlight to do notifications
  frontend/src/component/GroupedNotificationItem/GroupRender.jsx
  frontend/src/component/NotificationItem.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/css/NotificationWall.styl
  frontend_lib/src/css/Variable.styl
Labels: frontend

#5737 Fix/5685 missing set username popup
  frontend/src/action-creator.async.js
  frontend/src/container/CardPopupUsername.jsx
  frontend/src/container/Home.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/css/Home.styl
  frontend/src/util/helper.js
  frontend/test/src/container/CardPopupUsername.spec.js
  frontend/test/src/container/Home.spec.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
  functionnal_tests/cypress/integration/login/username_popup_spec.js
Labels: frontend, p0, bug

#5740 Feat/5738 Be able make to dos to nobody
  backend/tracim_backend/applications/content_todo/controller.py
  backend/tracim_backend/applications/content_todo/schema.py
  backend/tracim_backend/lib/core/content.py
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/es/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/ToDo/NewToDo.jsx
  frontend_lib/src/component/ToDo/ToDoItem.jsx
  frontend_lib/src/component/ToDo/ToDoManagement.jsx
Labels: frontend, backend

#5749 add todo to search
  backend/tests_configs.ini
  backend/tracim_backend/app_models/contents.py
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/lib/search/elasticsearch_search/es_models.py
  backend/tracim_backend/lib/search/elasticsearch_search/models.py
  backend/tracim_backend/lib/search/models.py
  backend/tracim_backend/lib/search/simple_search/models.py
  backend/tracim_backend/lib/search/simple_search/simple_search_api.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/tests/functional/test_elasticsearch_search.py
  backend/tracim_backend/tests/functional/test_simple_search.py
  backend/tracim_backend/views/contents_api/comment_controller.py
  backend/tracim_backend/views/search_api/schemas.py
  frontend/src/container/SearchFilterMenu.jsx
  frontend/src/util/helper.js
Labels: frontend, backend

#5757 fix issue on migration script with existing server default value
  backend/tracim_backend/migration/versions/622464216ab7_convert_allowed_content_as_json.py
Labels: backend
