Repository tracim/tracim, pull requests merged in 2022-01, with the labels that each got.

#5147 Poc/better caldav
  backend/doc/apache.md
  backend/tracim_backend/__init__.py
  backend/tracim_backend/app_models/validator.py
  backend/tracim_backend/applications/agenda/app_factory.py
  backend/tracim_backend/applications/agenda/application.py
  backend/tracim_backend/applications/agenda/authorization.py
  backend/tracim_backend/applications/agenda/controllers/agenda_controller.py
  backend/tracim_backend/applications/agenda/controllers/radicale_proxy_controller.py
  backend/tracim_backend/applications/agenda/lib.py
  backend/tracim_backend/applications/agenda/models.py
  backend/tracim_backend/applications/agenda/schemas.py
  backend/tracim_backend/command/caldav.py
  backend/tracim_backend/command/cleanup.py
  backend/tracim_backend/command/user.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/cleanup/cleanup.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/lib/utils/app.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_caldav.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  tools_docker/Debian_New_Uwsgi/apache2.conf.sample
  tools_docker/Debian_Uwsgi/apache2.conf.sample
  tools_docker/Debian_Uwsgi_ARM64/apache2.conf.sample
Labels: manually tested, backend

#5235 Fix/5234 improve buttons UX
  frontend/src/component/Activity/MemberActivity.styl
  frontend/src/component/FeedItem/FeedItemHeader.styl
  frontend/src/container/Home.jsx
  frontend/src/css/FeedItemWithPreview.styl
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_html-document/src/component/HtmlDocument.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/component/KanbanCard.jsx
  frontend_app_kanban/src/component/KanbanColumnHeader.jsx
  frontend_lib/src/component/CardPopup/CardPopup.jsx
  frontend_lib/src/component/ConfirmPopup/ConfirmPopup.jsx
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/Timeline/CommentArea.jsx
  frontend_lib/src/component/Timeline/EditCommentPopup.jsx
Labels: frontend

#5231 Fix/5227 close main header when click header buttons
  frontend/src/component/Header/MenuActionListItem/AdminLink.jsx
  frontend/src/component/Header/MenuActionListItem/DropdownLang.jsx
  frontend/src/component/Header/MenuActionListItem/MenuProfil.jsx
  frontend/src/component/Header/MenuActionListItem/NotificationButton.jsx
  frontend/src/component/Search/SearchInput.jsx
  frontend/src/container/Header.jsx
  frontend/src/container/Sidebar.jsx
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
Labels: manually tested, frontend

#5240 Fix/5238 admin page interface improvements on mobile
  frontend_app_admin_workspace_user/package.json
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/component/AdminWorkspace.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  functionnal_tests/cypress/integration/account/manage_user_space.js
  yarn.lock
Labels: frontend

#5267 fix(frontend): display call popup on android
  frontend/src/container/Tracim.jsx
Labels: manually tested

#5296 Feat/5290 update from padding-left to padding-inline-start
  frontend/src/component/FeedItem/FeedItemHeader.styl
  frontend/src/component/Workspace/Folder.styl
  frontend/src/css/FeedItemWithPreview.styl
  frontend/src/css/PublicProfile.styl
  frontend/src/css/Sidebar.styl
  frontend_app_html-document/src/css/index.styl
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_app_thread/src/css/index.styl
  frontend_app_workspace/src/css/index.styl
  frontend_lib/src/component/Button/IconButton.styl
  frontend_lib/src/component/HTMLContent/HTMLContent.styl
  frontend_lib/src/component/Layout/PageWrapper.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/ShareDownload/ShareDownload.styl
  frontend_lib/src/component/Timeline/Revision.styl
  frontend_lib/src/component/Timeline/Timeline.styl
Labels: manually tested, frontend

#5300 Feat/5290 update from margin-right to margin-inline-end
  frontend/src/component/Account/MenuSubComponent.styl
  frontend/src/component/Account/PersonalData.styl
  frontend/src/component/Activity/ActivityList.styl
  frontend/src/component/Activity/MemberActivity.styl
  frontend/src/component/Dashboard/MemberList.styl
  frontend/src/component/Dashboard/MoreInfo.styl
  frontend/src/component/FeedItem/FeedItemHeader.styl
  frontend/src/component/Header/MenuActionListItem/DropdownLang.styl
  frontend/src/component/Header/MenuActionListItem/MenuProfil.styl
  frontend/src/component/Home/Home.styl
  frontend/src/component/PublicProfile/Information.styl
  frontend/src/component/Search/AdvancedSearchContentList.styl
  frontend/src/component/Search/ContentItemSearch.styl
  frontend/src/component/TabBar/TabBar.styl
  frontend/src/component/Workspace/Folder.styl
  frontend/src/css/Dashboard.styl
  frontend/src/css/FeedItemWithPreview.styl
  frontend/src/css/Generic.styl
  frontend/src/css/GuestPage.styl
  frontend/src/css/Header.styl
  frontend/src/css/Home.styl
  frontend/src/css/JoinWorkspace.styl
  frontend/src/css/PopupSelectImage.styl
  frontend/src/css/Workspace.styl
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_custom-form/src/css/index.styl
  frontend_app_file/src/css/index.styl
  frontend_app_folder_advanced/src/css/index.styl
  frontend_app_html-document/src/css/index.styl
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_app_workspace/src/css/index.styl
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/src/component/Button/GenericButton.styl
  frontend_lib/src/component/ConfirmPopup/ConfirmPopup.styl
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
  frontend_lib/src/component/Icon/ComposedIcon.styl
  frontend_lib/src/component/Input/SingleChoiceList/SingleChoiceList.styl
  frontend_lib/src/component/Layout/PageWrapper.styl
  frontend_lib/src/component/PromptMessage/PromptMessage.styl
  frontend_lib/src/component/RefreshWarningMessage/RefreshWarningMessage.styl
  frontend_lib/src/component/ShareDownload/ShareDownload.styl
  frontend_lib/src/component/ShareLink/ShareLink.styl
  frontend_lib/src/component/Tags/TagList.styl
  frontend_lib/src/component/Timeline/Comment.styl
  frontend_lib/src/component/Timeline/EditCommentPopup.styl
  frontend_lib/src/component/Timeline/Revision.styl
Labels: manually tested, frontend

#5297 Feat/5290 update from padding-right to padding-inline-end
  frontend/src/component/ContentListItem.styl
  frontend/src/component/FlashMessage.styl
  frontend/src/component/Search/AdvancedSearchContentList.styl
  frontend/src/css/NotificationWall.styl
  frontend_app_gallery/src/css/index.styl
  frontend_app_kanban/src/css/index.styl
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_app_thread/src/css/index.styl
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/src/component/Layout/PageWrapper.styl
Labels: manually tested, frontend

#5301 Feat/5290 adapt all borders to rtl friendly
  frontend/src/component/Dashboard/AgendaInfo.styl
  frontend/src/component/Dashboard/WebdavInfo.styl
  frontend/src/component/FlashMessage.styl
  frontend/src/component/TabBar/TabBar.styl
  frontend/src/css/Sidebar.styl
  frontend_lib/src/component/CardPopup/CardPopup.styl
  frontend_lib/src/component/Lists/ListItemWrapper/ListItemWrapper.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/ProgressBar/ProgressBar.styl
  frontend_lib/src/component/Timeline/Timeline.styl
Labels: manually tested, frontend

#5302 Feat/5290 adapt all text-align to be rtl friendly
  frontend/src/component/Account/PersonalData.styl
  frontend/src/component/Activity/MemberActivity.styl
  frontend/src/component/FeedItem/FeedItemHeader.styl
  frontend/src/css/ContentItemHeader.styl
  frontend/src/css/Home.styl
  frontend/src/css/JoinWorkspace.styl
  frontend/src/css/NotificationWall.styl
  frontend/src/css/Tracim.styl
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_custom-form/src/component/JsonForm/JsonForm.styl
  frontend_app_custom-form/src/css/index.styl
  frontend_app_gallery/src/css/index.styl
  frontend_app_kanban/src/css/index.styl
  frontend_lib/src/component/EmojiReactions/EmojiReactions.styl
  frontend_lib/src/component/Input/TextAreaApp/TextAreaApp.styl
  frontend_lib/src/component/Tags/TagList.styl
  frontend_lib/src/component/Timeline/Revision.styl
Labels: manually tested, frontend

#5295 Feat/5290 update from margin-left to margin-inline-start
  frontend/src/component/Activity/MemberActivity.styl
  frontend/src/component/Dashboard/AgendaInfo.jsx
  frontend/src/component/Dashboard/AgendaInfo.styl
  frontend/src/component/Dashboard/MemberList.styl
  frontend/src/component/Dashboard/MoreInfo.jsx
  frontend/src/component/Dashboard/MoreInfo.styl
  frontend/src/component/Dashboard/WebdavInfo.jsx
  frontend/src/component/Dashboard/WebdavInfo.styl
  frontend/src/component/FeedItem/FeedItemHeader.styl
  frontend/src/component/FlashMessage.jsx
  frontend/src/component/FlashMessage.styl
  frontend/src/component/Home/Home.styl
  frontend/src/component/Search/AdvancedSearchContentList.styl
  frontend/src/component/Workspace/Folder.styl
  frontend/src/css/Dashboard.styl
  frontend/src/css/Generic.styl
  frontend/src/css/GuestPage.styl
  frontend/src/css/Home.styl
  frontend/src/css/JoinWorkspace.styl
  frontend/src/css/PopupSelectImage.styl
  frontend/src/css/PublicProfile.styl
  frontend/src/css/Sidebar.styl
  frontend/src/css/Workspace.styl
  frontend/test/src/component/MoreInfo.spec.js
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_custom-form/src/css/index.styl
  frontend_app_file/src/component/FileProperties.styl
  frontend_app_file/src/css/index.styl
  frontend_app_kanban/src/css/index.styl
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_app_workspace/src/css/index.styl
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/src/component/CardPopup/CardPopup.styl
  frontend_lib/src/component/Input/AutoComplete/AutoComplete.styl
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.styl
  frontend_lib/src/component/Layout/PageWrapper.styl
  frontend_lib/src/component/LinkPreview/LinkPreview.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/component/ShareDownload/ShareDownload.styl
  frontend_lib/src/component/Tags/TagList.jsx
  frontend_lib/src/component/Tags/TagList.styl
  frontend_lib/src/component/Timeline/Comment.styl
  frontend_lib/src/component/Timeline/EditCommentPopup.styl
  frontend_lib/src/component/Timeline/Revision.styl
  frontend_lib/src/component/UserInfo/UserInfo.styl
Labels: manually tested, frontend

#5284 Feat(frontent): New click handle on circle notification to read it without being redirected
  frontend/src/component/NotificationItem.jsx
  frontend/src/container/GroupedNotificationItem.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/css/NotificationWall.styl
  functionnal_tests/cypress/integration/notification_wall/mark_as_read_spec.js
Labels: manually tested, frontend

#5305 Feat/5290 add fallbacks for rtl recent commands
  frontend/src/component/Dashboard/AgendaInfo.styl
  frontend/src/component/Dashboard/WebdavInfo.styl
  frontend/src/component/FlashMessage.styl
  frontend/src/css/Sidebar.styl
  frontend_lib/src/component/CardPopup/CardPopup.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/src/component/ProgressBar/ProgressBar.styl
Labels: manually tested, frontend

#5287 fix(frontend): Add overflow-wrap to translated text
  frontend_lib/src/component/HTMLContent/HTMLContent.styl
Labels: frontend

#5303 Feat/5290 start of adaptation of interface to rtl
  frontend/src/component/Dashboard/ContentTypeBtn.styl
  frontend/src/component/FeedItem/FeedItemFooter.styl
  frontend/src/component/FeedItem/Preview.styl
  frontend/src/component/common/Input/InputGroupText.styl
  frontend/src/css/Dashboard.styl
  frontend/src/css/Generic.styl
  frontend/src/css/PublicProfile.styl
  frontend/src/css/Workspace.styl
  frontend_app_file/src/css/index.styl
  frontend_app_share_folder_advanced/src/css/index.styl
  frontend_lib/src/component/Input/BtnSwitch/BtnSwitch.styl
  frontend_lib/src/component/Input/SingleChoiceList/SingleChoiceList.styl
Labels: frontend

#5309 Fix/5308 update tag and close button for add members form
  frontend_lib/src/component/NewMemberForm/NewMemberForm.jsx
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
  frontend_lib/src/component/Tags/TagList.styl
Labels: manually tested, frontend

#5311 Misc(frontend): Restore the publish icon
  frontend/src/container/Publications.jsx
Labels: frontend

#5314 Fix(frontend): Folder triangles are not displayed correctly in RTL
  frontend/src/component/Workspace/Folder.styl
Labels: frontend
