Repository tracim/tracim, pull requests merged in 2022-09, with the labels that each got.

#5880 Feat/5879 close sidebar by default
  frontend/src/container/Sidebar.jsx
  frontend/src/util/tinymceInit.js
  frontend_app_collaborative_document_edition/src/container/CollaborativeEditionFrame.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  functionnal_tests/cypress/integration/sidebar/close_when_fullscreen_spec.js
Labels: frontend

#5881 Dev workshop 06 09
  backend/setup.cfg
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/container/Dashboard.jsx
  frontend_lib/src/component/CardPopup/CardPopupCreateContent.styl
  frontend_lib/src/component/Timeline/CommentArea.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/src/tinymceAutoCompleteHelper.js
  functionnal_tests/cypress/integration/publication/file_spec.js
  functionnal_tests/cypress/integration/to_dos/delete_todos_spec.js
Labels: frontend

#5876 Feat/5866 integrate Norwegian translation and update cladavzap translations
  backend/development.ini.sample
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
  backend/tracim_backend/models/auth.py
  backend/tracim_backend/tests/functional/test_system.py
  backend/tracim_backend/tests/library/test_user_api.py
  frontend/dist/assets/_caldavzap/config.tracim.js
  frontend/dist/assets/_caldavzap/localization.js
  frontend/dist/assets/_caldavzap/main.js
  frontend/dist/assets/branding.sample/welcome-simple-text.html
  frontend/dist/assets/tinymce-5.10.3/js/tinymce/langs/nb_NO.js
  frontend/src/container/Publications.jsx
  frontend/src/container/SimpleSearch.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/reducer/lang.js
  frontend/src/util/i18n.js
  frontend_app_file/src/container/File.jsx
  frontend_lib/caldav_translation/en/translation.json
  frontend_lib/caldav_translation/es/translation.json
  frontend_lib/caldav_translation/fr/translation.json
  frontend_lib/caldav_translation/pt/translation.json
  frontend_lib/src/component/Timeline/AddFileToUploadButton.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/i18n.js
  frontend_lib/src/index.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/integration/publication/file_spec.js
Labels: frontend, backend

#5878 doc: change apt install line to a working command line
  backend/README.md
Labels: backend

#5846 feat(frontend, backend): add modified to modified comment
  backend/tracim_backend/applications/content_todo/controller.py
  backend/tracim_backend/lib/utils/authorization.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/views/contents_api/comment_controller.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/workspace_controller.py
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/PersonalRecentActivities.jsx
  frontend/src/container/WorkspaceRecentActivities.jsx
  frontend/src/container/withActivity.jsx
  frontend/src/util/activity.js
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_thread/src/container/Thread.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Timeline/Comment.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/src/component/ToDo/CreateToDoFromTextPopUp.jsx
  frontend_lib/src/helper.js
  frontend_lib/src/tracimComponent.js
  frontend_lib/test/component/Comment.spec.js
  frontend_lib/test/component/NewShareDownload.spec.js
  frontend_lib/test/component/Timeline.spec.js
Labels: frontend, backend

#5627 misc(documentation): refactoring documentation
  .github/dependabot.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  backend/CHANGES.txt
  backend/README.md
  doc/BUILD.md
  doc/DCO
  doc/PRODUCTION.md
  doc/TESTING.md
  doc/backend_specific/apache.md
  doc/backend_specific/api.md
  doc/backend_specific/branding.md
  doc/backend_specific/cli.md
  doc/backend_specific/database.md
  doc/backend_specific/devtools.md
  doc/backend_specific/env_settings.md
  doc/backend_specific/hello_world_plugin.py
  doc/backend_specific/i18n.md
  doc/backend_specific/known_issues.md
  doc/backend_specific/live_message_setup.md
  doc/backend_specific/live_messages.md
  doc/backend_specific/migrate_from_v1.md
  doc/backend_specific/migrate_storage.md
  doc/backend_specific/migration.md
  doc/backend_specific/roles.md
  doc/backend_specific/setting.md
  doc/backend_specific/user_custom_properties.md
  doc/backend_specific/webdav.md
  doc/licences/LICENSE_AGPLv3
  doc/licences/LICENSE_CC_BY_SA
  doc/licences/LICENSE_LGPLv3
  doc/licences/LICENSE_MIT
  doc/logos/logo_browserstack.png
  doc/logos/logo_tracim.png
  doc/logos/logo_weblate.png
  logo_browserstack.png
Labels: documentation
