Repository tracim/tracim, pull requests merged in 2022-02, with the labels that each got.

#5325 Feat/5312 add support for rtl on public profile
  frontend/src/component/Account/Calendar.jsx
  frontend/src/component/Account/Timezone.jsx
  frontend/src/component/Header/MenuLinkList.jsx
  frontend/src/component/PublicProfile/CustomFormManager.styl
  frontend/src/css/PopupSelectImage.styl
  frontend/src/css/PublicProfile.styl
  frontend/test/src/component/Calendar.spec.js
  frontend/test/src/component/Timezone.spec.js
  frontend_app_admin_workspace_user/src/component/AdminWorkspace.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_custom-form/src/component/JsonForm/JsonForm.jsx
  frontend_app_custom-form/src/component/JsonForm/JsonForm.styl
  functionnal_tests/cypress/integration/sidebar/sidebar_buttons.spec.js
Labels: frontend

#5322 Feat(frontend): Add RTL support to composed icons
  frontend/src/component/Search/CheckboxFilter.jsx
  frontend/src/component/Search/ContentItemSearch.jsx
  frontend/src/component/Search/DateFilter.jsx
  frontend/src/component/Sidebar/WorkspaceListItem.jsx
  frontend/src/component/Workspace/ContentItem.jsx
  frontend_app_admin_workspace_user/src/component/FormBuilder/FieldType.jsx
  frontend_app_gallery/src/component/MainPreview.jsx
  frontend_lib/src/component/Icon/ComposedIcon.styl
Labels: frontend

#5349 Misc(frontend): put the expand part of the sidebar outside the sidebar
  frontend/src/css/Sidebar.styl
  frontend_lib/src/component/PopinFixed/PopinFixed.styl
  frontend_lib/src/css/Variable.styl
Labels: frontend

#5364 Misc(frontend): change directionality RTL to LTR for kanban in RTL
  frontend_app_kanban/src/css/index.styl
  functionnal_tests/cypress/integration/app_thread/translation.js
Labels: frontend

#5366 Feat/5360 add weblate to read me and documentation
  README.md
  frontend/doc/before_push.md
Labels: documentation

#5362 Fix(frontend): display composed icons correctly in RTL
  frontend_app_file/src/component/PreviewComponent.styl
  frontend_app_file/src/css/index.styl
  frontend_lib/src/component/Icon/ComposedIcon.styl
  frontend_lib/src/component/Input/TextInput.styl
Labels: frontend

#5369 Fix/5368 fix profile dropdown menu on rtl
  frontend/src/component/Header/MenuActionListItem/MenuProfil.styl
  frontend_lib/src/component/DropdownMenu/DropdownMenu.styl
  frontend_lib/src/component/NewMemberForm/NewMemberForm.styl
Labels: frontend

#5410 Misc/5397 remove language flags and update documentation
  frontend/dist/assets/images/flag_ar.png
  frontend/dist/assets/images/flag_de.png
  frontend/dist/assets/images/flag_en.png
  frontend/dist/assets/images/flag_fr.png
  frontend/dist/assets/images/flag_pt.png
  frontend/doc/i18n.md
  frontend/src/component/Header/MenuActionListItem/DropdownLang.jsx
  frontend/src/component/Header/MenuActionListItem/DropdownLang.styl
  frontend/src/img/excel.png
  frontend/src/img/flag_ar.png
  frontend/src/img/flag_de.png
  frontend/src/img/flag_en.png
  frontend/src/img/flag_fr.png
  frontend/src/img/flag_pt.png
  frontend/src/reducer/lang.js
  frontend/test/src/component/DropdownLang.spec.js
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_lib/src/component/DropdownMenu/DropdownMenu.jsx
  frontend_lib/test/component/DropdownMenu.spec.js
  functionnal_tests/cypress/integration/login/content_login_page.js
Labels: frontend

#5386 change css to support RTL and LTR on upload a profil picture
  frontend/src/css/PublicProfile.styl
Labels: frontend

#5440 Fix/5373 rtl gallery
  frontend_app_gallery/package.json
  frontend_app_gallery/src/component/Carousel.jsx
  frontend_app_gallery/src/component/GallerySlider.jsx
  frontend_app_gallery/src/component/MainPreview.jsx
  frontend_app_gallery/src/container/Gallery.jsx
  frontend_app_gallery/src/css/index.styl
  yarn.lock
Labels: frontend, app-gallery

#5456 change shortDate property and update GroupedNotificationItem to function
  frontend/src/component/NotificationItem.jsx
  frontend/src/container/GroupedNotificationItem.jsx
  frontend/src/container/NotificationWall.jsx
Labels: frontend

#5462 Fix/5453 fix note container height
  frontend_app_html-document/src/css/index.styl
  frontend_lib/src/component/Timeline/Timeline.styl
Labels: frontend
