Repository tracim/tracim, pull requests merged in 2022-11, with the labels that each got.

#5980 feat(frontend) Changed labels in the account settings
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/it/translation.json
  frontend/i18next.scanner/ja/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/nl/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/UserInfo.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/test/src/component/UserInfo.spec.js
  functionnal_tests/cypress/integration/account/content_account_spec.js
Labels: manually tested, frontend

#6005 fix(frontend): can't mention when there is more than 15 members
  frontend/src/component/Account/UserSpacesConfig.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/container/WorkspacePage.jsx
  frontend_app_agenda/src/container/Agenda.jsx
  frontend_app_custom-form/src/component/JsonForm/CustomFields/UsersSelectField.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/action.async.js
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/index.js
  frontend_lib/test/apiMock.js
  frontend_lib/test/appContentFactory.spec.js
  frontend_lib/test/fixture/member.js
Labels: manually tested, frontend, mentions

#6009 doc(release): create v4.4.2
  CHANGELOG.md
  backend/setup.cfg
  frontend/src/version.json
Labels: not in changelog

#6019 feat(frontend): "Unknown error" flash is now more descriptive
  frontend/src/action-creator.async.js
  frontend_lib/src/component/ErrorFlashMessageTemplateHtml/ErrorFlashMessageTemplateHtml.jsx
Labels: frontend

#6021 fix(front): add emoji library using the cache token and the csp
  frontend/dist/index.mak
Labels: frontend, tinymce

#6022 Fix/5966 alignement on sidebar
  frontend/src/component/Sidebar/SidebarItem.jsx
  frontend/src/component/Sidebar/SidebarSpaceItem.jsx
  frontend/src/component/Sidebar/SidebarUserItemList.jsx
  frontend/src/css/Sidebar.styl
Labels: manually tested, frontend

#6039 feat(frontend): add filters on content listings
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/UserSpacesConfig.jsx
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/AdminUserSpacesConfig.jsx
  frontend/src/container/Favorites.jsx
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/ToDo.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/css/AdminUserSpacesConfig.styl
  frontend/test/src/container/JoinWorkspace.spec.js
  frontend_app_admin_workspace_user/i18next.scanner/ar/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/de/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/es/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/fr/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/nb_NO/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/component/AdminWorkspace.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_workspace_advanced/i18next.scanner/ar/translation.json
  frontend_app_workspace_advanced/i18next.scanner/de/translation.json
  frontend_app_workspace_advanced/i18next.scanner/en/translation.json
  frontend_app_workspace_advanced/i18next.scanner/es/translation.json
  frontend_app_workspace_advanced/i18next.scanner/fr/translation.json
  frontend_app_workspace_advanced/i18next.scanner/nb_NO/translation.json
  frontend_app_workspace_advanced/i18next.scanner/pt/translation.json
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/src/css/index.styl
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/es/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/nb_NO/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/component/FilterBar/FilterBar.jsx
  frontend_lib/src/component/FilterBar/FilterBar.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  functionnal_tests/cypress/integration/app_kanban/helper.js
  functionnal_tests/cypress/integration/app_kanban/kanban_columns_spec.js
Labels: missing tests

#6040 Feat/6030 sort by
  frontend/src/component/Account/UserSpacesConfig.jsx
  frontend/src/component/Account/UserSpacesConfigLine.jsx
  frontend/src/component/Dashboard/MemberList.jsx
  frontend/src/component/Sidebar/SidebarSpaceList.jsx
  frontend/src/component/Workspace/ContentItemHeader.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/component/Workspace/ShareFolder.jsx
  frontend/src/container/AdminUserSpacesConfig.jsx
  frontend/src/container/Favorites.jsx
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/NotificationWall.jsx
  frontend/src/container/ToDo.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/css/Account.styl
  frontend/src/css/ContentItemHeader.styl
  frontend/src/css/Favorites.styl
  frontend/src/css/JoinWorkspace.styl
  frontend/src/css/SimpleSearch.styl
  frontend/src/reducer/accessibleWorkspaceList.js
  frontend/src/reducer/favoriteList.js
  frontend/src/reducer/workspaceList.js
  frontend/src/util/helper.js
  frontend/test/src/component/ContentItemHeader.spec.js
  frontend/test/src/helper.spec.js
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/component/AdminWorkspace.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_workspace/src/container/PopupCreateWorkspace.jsx
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/Lists/ListHeader/TitleListHeader.jsx
  frontend_lib/src/component/Lists/ListHeader/TitleListHeader.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/src/sortListHelper.js
  frontend_lib/test/helper.spec.js
  frontend_lib/test/sortListHelper.spec.js
  functionnal_tests/cypress/integration/favorites/favorites_spec.js
  functionnal_tests/cypress/integration/join_workspace/join_workspace_page_spec.js
  functionnal_tests/cypress/integration/notification_wall/mark_as_read_spec.js
  functionnal_tests/cypress/integration/workspace/add_member_spec.js
Labels: manually tested, frontend

#5992 doc: changes templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: documentation

#6052 fix(frontend): fix sidebar alignement
  frontend/src/css/Sidebar.styl
Labels: manually tested, frontend

#6054 fix(frontend): consider also public name to autocompletion
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/publication/text_spec.js
Labels: manually tested, frontend

#6056 doc(release): create v4.4.3
  CHANGELOG.md
  backend/setup.cfg
  frontend/src/version.json
Labels: documentation
