Repository tracim/tracim, pull requests merged in 2022-04, with the labels that each got.

#5577 fix(front): fix unit tests with hooks
  frontend/package.json
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/AdminAccount.spec.js
  frontend/test/src/container/NotificationWall.spec.js
  frontend_app_admin_workspace_user/package.json
  frontend_app_agenda/package.json
  frontend_app_collaborative_document_edition/package.json
  frontend_app_file/package.json
  frontend_app_folder_advanced/package.json
  frontend_app_gallery/package.json
  frontend_app_html-document/package.json
  frontend_app_kanban/package.json
  frontend_app_share_folder_advanced/package.json
  frontend_app_thread/package.json
  frontend_app_workspace/package.json
  frontend_app_workspace_advanced/package.json
  frontend_lib/package.json
  frontend_lib/src/component/Popover/Popover.jsx
  frontend_lib/webpack.standalone.config.js
  yarn.lock
Labels: frontend

#5583 Fix/5471 fix not displayed pagination and agenda url
  frontend_app_file/src/component/PreviewComponent.styl
  frontend_app_file/src/container/File.jsx
  frontend_app_file/src/css/index.styl
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  functionnal_tests/cypress/integration/app_file/file_display_spec.js
Labels: frontend

#5582 fix(frontend): Bottom of the tinymce disappears in full screen
  frontend/src/css/Generic.styl
Labels: frontend

#5581 fix(fronted/backend): Strip space in email address
  backend/tracim_backend/views/core_api/schemas.py
  frontend/src/action-creator.async.js
  frontend/src/component/Account/PersonalData.jsx
  frontend/src/container/Account.jsx
  frontend/src/container/AdminAccount.jsx
  frontend/src/container/ForgotPassword.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/ResetPassword.jsx
  frontend_app_admin_workspace_user/src/component/AddUserForm.jsx
  frontend_app_admin_workspace_user/src/component/AdminUser.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_lib/src/helper.js
Labels: frontend, backend

#5571 fix(frontend): add special character and arabic character to tinymce autocompletion
  frontend_lib/src/tinymceAutoCompleteHelper.js
Labels: frontend, tinymce

#5594 fix(frontend): better area for advanced edition on small screens
  frontend_lib/src/component/Timeline/CommentArea.styl
Labels: manually tested, frontend

#5602 fix(frontend): Fix tests
  functionnal_tests/cypress/integration/app_kanban/kanban_cards_spec.js
  functionnal_tests/cypress/integration/login/content_login_page.js
  functionnal_tests/cypress/integration/login/login_after_disconnection_spec.js
  functionnal_tests/cypress/integration/login/navigation_home-page_to_login-page.js
  functionnal_tests/cypress/integration/publication/open_in_app_spec.js
Labels: frontend
