Repository tracim/tracim, pull requests merged in 2023-10, with the labels that each got.

#6169 fix(backend): user username instead of public name
  backend/tracim_backend/lib/core/mention.py
Labels: backend, email, mentions

#6149 fix(frontend): links instead of js events in admin
  frontend_app_admin_workspace_user/src/component/AdminWorkspace.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_admin_workspace_user/src/css/index.styl
Labels: frontend, app-admin

#6066 fix(frontend): better naming and list comparing
  frontend/src/component/FeedItem/Preview.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend_app_admin_workspace_user/src/container/AdminWorkspaceUser.jsx
  frontend_app_file/src/container/File.jsx
  frontend_lib/src/index.js
  frontend_lib/src/sortListHelper.js
  frontend_lib/test/sortListHelper.spec.js
Labels: frontend
