Repository tracim/tracim, pull requests merged in 2023-03, with the labels that each got.

#6112 misc(translation): update translations from weblate
  backend/tracim_backend/locale/ar/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/es/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/fr/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/nb_NO/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/pt/LC_MESSAGES/tracim_backend.po
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/es/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/nb_NO/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_app_file/i18next.scanner/ar/translation.json
  frontend_app_file/i18next.scanner/es/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_html-document/i18next.scanner/ar/translation.json
  frontend_app_html-document/i18next.scanner/es/translation.json
  frontend_app_html-document/i18next.scanner/fr/translation.json
  frontend_app_html-document/i18next.scanner/pt/translation.json
  frontend_app_kanban/i18next.scanner/ar/translation.json
  frontend_app_kanban/i18next.scanner/es/translation.json
  frontend_app_kanban/i18next.scanner/fr/translation.json
  frontend_app_kanban/i18next.scanner/pt/translation.json
  frontend_app_thread/i18next.scanner/ar/translation.json
  frontend_app_thread/i18next.scanner/es/translation.json
  frontend_app_thread/i18next.scanner/fr/translation.json
  frontend_app_thread/i18next.scanner/pt/translation.json
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/es/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
Labels: weblate

#6116 doc(release): create v4.4.3 build_105
  backend/setup.cfg
  frontend/src/version.json
Labels: documentation

#6117 fix(tinymce): open links in external window/tab
  frontend_lib/src/component/TinyEditor/TinyEditor.jsx
Labels: manually tested, frontend

#6123 fix(docker): add Nunito font
  tools_docker/Debian_New_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi_ARM64/Dockerfile
Labels: docker

#6118 perf(backend): improve creation of messages history
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/core/userworkspace.py
  backend/tracim_backend/lib/crud_hook/caller.py
  backend/tracim_backend/lib/crud_hook/hookspec.py
  backend/tracim_backend/models/tracim_session.py
Labels: manually tested, backend, performance

#6126 fix(frontend): translate document state
  frontend_lib/src/component/Timeline/Revision.jsx
Labels: frontend, accessibility
