Repository tracim/tracim, pull requests merged in 2023-01, with the labels that each got.

#5864 feat(backend): permit use update folder api without giving sub_conten…
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/tests/functional/test_contents.py
  backend/tracim_backend/views/core_api/schemas.py
Labels: manually tested

#6070 misc(translation): update translation files
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/ar/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/de/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/es/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/fr/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/nb_NO/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/pt/translation.json
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/es/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/nb_NO/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
Labels: frontend, backlog, weblate

#6076 fix(translation): translation from weblate
  backend/tracim_backend/locale/nb_NO/LC_MESSAGES/tracim_backend.po
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/en/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/es/translation.json
  frontend_app_admin_workspace_user/i18next.scanner/nb_NO/translation.json
  frontend_app_workspace_advanced/i18next.scanner/nb_NO/translation.json
  frontend_lib/i18next.scanner/nb_NO/translation.json
Labels: frontend, weblate

#6053 Feat/5967 improve space settings and dashboard
  frontend/src/container/Dashboard.jsx
  frontend_app_workspace_advanced/src/component/SpaceDescription.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_lib/src/component/PopinFixed/PopinFixedContent.jsx
  functionnal_tests/cypress/integration/app_workspace_advanced/navigation_workspace_advanced_spec.js
  functionnal_tests/cypress/integration/app_workspace_advanced/operation_workspace_advanced.js
  functionnal_tests/cypress/integration/app_workspace_advanced/read_mode_only_spec.js
  functionnal_tests/cypress/integration/dashboard/button_list__spec.js
  functionnal_tests/cypress/integration/share/switch_upload_propery_in_workspace_spec.js
  functionnal_tests/cypress/integration/tags/delete_tags_spec.js
  functionnal_tests/cypress/integration/tags/hide_tag_autocomplete_spec.js
  functionnal_tests/cypress/integration/tags/navigation_workspace_content_spec.js
  functionnal_tests/cypress/integration/tags/workspace_tags_spec.js
  functionnal_tests/cypress/integration/workspace/add_member_spec.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_detail.js
Labels: manually tested, frontend

#6082 📝: Add a warning/remove documentation about mysql
  doc/BUILD.md
  doc/backend_specific/cli.md
  doc/backend_specific/database.md
  tools_docker/README.md
Labels: documentation

#6089 Fix/6088 add customColor to Tag component
  frontend_app_file/src/container/File.jsx
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_workspace_advanced/src/component/WorkspaceAdvancedConfiguration.jsx
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_lib/src/component/Tags/NewTagForm.jsx
  frontend_lib/src/component/Tags/Tag.jsx
  frontend_lib/src/component/Tags/TagList.jsx
Labels: manually tested, frontend

#6067 feat(frontend): POC Refactor listings
  doc/frontend/tables.md
  doc/frontend/tables.png
  frontend/src/component/ContentListItem.jsx
  frontend/src/component/ContentListItem.styl
  frontend/src/component/Search/AdvancedSearchContentList.jsx
  frontend/src/component/Workspace/ContentItem.jsx
  frontend/src/component/Workspace/Folder.jsx
  frontend/src/container/Favorites.jsx
  frontend/src/container/JoinWorkspace.jsx
  frontend/src/container/tables/FavoritesTable/FavoriteRowComponent.jsx
  frontend/src/container/tables/FavoritesTable/FavoritesTable.jsx
  frontend/src/container/tables/FavoritesTable/FavoritesTable.styl
  frontend/src/css/IconsRtl.styl
  frontend/src/util/helper.js
  frontend_lib/package.json
  frontend_lib/src/TracimTableLib/Columns/content/contentFilenameWithBadgesAndBreadcrumbsColumn.jsx
  frontend_lib/src/TracimTableLib/Columns/content/contentFilenameWithBadgesAndBreadcrumbsColumn.styl
  frontend_lib/src/TracimTableLib/Columns/content/contentStatusColumn.jsx
  frontend_lib/src/TracimTableLib/Columns/content/contentStatusColumn.styl
  frontend_lib/src/TracimTableLib/Columns/content/contentTypeColumn.jsx
  frontend_lib/src/TracimTableLib/Columns/favoriteButtonColumn.jsx
  frontend_lib/src/TracimTableLib/Columns/timedEventColumn.jsx
  frontend_lib/src/TracimTableLib/Columns/timedEventColumn.styl
  frontend_lib/src/TracimTableLib/RowWrappers/ContentRowWrapper.jsx
  frontend_lib/src/TracimTableLib/TracimTable/TracimTable.jsx
  frontend_lib/src/TracimTableLib/TracimTable/TracimTable.styl
  frontend_lib/src/TracimTableLib/helper.js
  frontend_lib/src/TracimTableLib/helperClasses.styl
  frontend_lib/src/TracimTableLib/tracimTableLib.js
  frontend_lib/src/component/ContentType/ContentType.jsx
  frontend_lib/src/component/ContentType/ContentType.styl
  frontend_lib/src/component/FilenameWithBadges/FilenameWithBadges.styl
  frontend_lib/src/component/Icon/Icon.jsx
  frontend_lib/src/css/Variable.styl
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/helper.spec.js
  functionnal_tests/cypress/integration/favorites/favorites_spec.js
  yarn.lock
Labels: manually tested, frontend, frontend-lib

#6094 Fix/6065 show scroll on space settings
  frontend_app_workspace_advanced/src/css/index.styl
Labels: manually tested, frontend
