Repository tracim/tracim, pull requests merged in 2023-11, with the labels that each got.

#6260 fix(doc): improve documentation related to saml configuration
  doc/backend/setting.md
Labels: documentation

#6262 Feat: adding documentation on connecting tracim to a Redis cluster
  doc/backend/setting.md
Labels: clustering

#6259 Feat: add external id field to user accounts
  backend/settings_saml2.json
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/lib/utils/authentication.py
  backend/tracim_backend/migration/versions/8a9d929b44b9_add_external_id_to_user.py
  backend/tracim_backend/migration/versions/f4d030ffd43e_add_saml_authentication_enum.py
  backend/tracim_backend/models/auth.py
  doc/backend/setting.md
Labels: SAML

#6263 Feat: allow elastic to search in an elasticsearch cluster containing several nodes
  backend/development.ini.sample
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/search/elasticsearch_search/elasticsearch_search.py
Labels: clustering

#6275 fix(back, front): mentions in recent activities
  backend/tracim_backend/lib/core/user.py
  backend/tracim_backend/models/context_models.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/views/core_api/schemas.py
  backend/tracim_backend/views/core_api/user_controller.py
  frontend/src/action-creator.async.js
  frontend/src/action-creator.sync.js
  frontend/src/component/Mention/Mention.jsx
  frontend/src/container/Dashboard.jsx
  frontend/src/container/FeedItemWithPreview.jsx
  frontend/src/container/Login.jsx
  frontend/src/container/Tracim.jsx
  frontend/src/reducer/currentWorkspace.js
  frontend/src/reducer/knownMemberList.js
  frontend/src/reducer/root.js
  frontend/src/reducer/user.js
  frontend/test/fixture/user/globalManagerAsDigestSchema.js
  frontend/test/fixture/workspaceSetting/globalManagerWorkspaceSetting.js
  frontend/test/src/container/Account.spec.js
  frontend/test/src/container/Tracim.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend/test/src/reducer/knownMemberList.spec.js
  frontend/test/src/reducer/workspaceList.spec.js
  functionnal_tests/cypress/integration/recent_activity/activity_spec.js
Labels: frontend, backend, mentions, activity-feed

#6295 fix(front): avoid serializeWorkspace to overrides memberList
  frontend/src/reducer/currentWorkspace.js
  frontend/src/reducer/workspaceList.js
  frontend/test/fixture/workspace/firstWorkspace.js
  frontend/test/src/component/OpenContentApp.spec.js
  frontend/test/src/reducer/currentWorkspace.spec.js
  frontend/test/src/reducer/workspaceList.spec.js
Labels: frontend
