Repository tracim/tracim, pull requests merged in 2024-04, with the labels that each got.

#6429 fix(back, front): allow more email summary timing
  .gitignore
  backend/development.ini.sample
  backend/official_plugins/tracim_backend_autoinvite/__init__.py
  backend/official_plugins/tracim_backend_parent_access/__init__.py
  backend/tracim_backend/command/periodic.py
  backend/tracim_backend/config.py
  backend/tracim_backend/lib/core/event.py
  backend/tracim_backend/lib/core/subscription.py
  backend/tracim_backend/lib/core/workspace.py
  backend/tracim_backend/locale/ar/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/de/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/en/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/eo/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/es/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/fr/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/it/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/ja/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/nb_NO/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/nl/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/locale/pt/LC_MESSAGES/tracim_backend.po
  backend/tracim_backend/migration/versions/2cfb200caf44_add_period_to_summary_mail.py
  backend/tracim_backend/models/data.py
  backend/tracim_backend/templates/mail/summary_body_html.mak
  backend/tracim_backend/tests/commands/test_commands.py
  backend/tracim_backend/tests/functional/test_caldav.py
  backend/tracim_backend/tests/functional/test_user.py
  backend/tracim_backend/tests/functional/test_workspaces.py
  backend/tracim_backend/tests/library/test_content_api.py
  backend/tracim_backend/views/core_api/schemas.py
  frontend/dist/assets/bootstrap/bootstrap.min.css
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Account/AdminUserSpacesConfigItem.jsx
  frontend/src/component/Account/UserSpacesConfigLine.jsx
  frontend/src/component/Dashboard/UserStatus.jsx
  frontend/src/component/Dashboard/UserStatus.styl
  frontend/src/component/EmailNotificationTypeButton.jsx
  frontend/src/component/EmailNotificationTypeButton.styl
  frontend/src/component/EmailNotificationTypeButton/EmailNotificationTypeButton.jsx
  frontend/src/component/EmailNotificationTypeButton/EmailNotificationTypeButton.styl
  frontend/src/component/EmailNotificationTypeButton/PopoverHelperBody.jsx
  frontend/src/component/EmailNotificationTypeButton/PopoverHelperBody.styl
  frontend/src/css/Dashboard.styl
  frontend/src/util/helper.js
  frontend_lib/src/component/DropdownMenu/DropdownMenu.jsx
  frontend_lib/src/component/Popover/Popover.jsx
  functionnal_tests/cypress/integration/dashboard/information_spec.js
  functionnal_tests/cypress/integration/workspace/content_dashboard_userstatus.js
  i18next.scanner.js
  tools_docker/Debian_New_Uwsgi/send_summary_mails.sh.sample
  tools_docker/Debian_Uwsgi/cron_task_tracim_send_summary_mails
  tools_docker/Debian_Uwsgi/send_summary_mails.sh.sample
Labels: frontend, backend, email

#6367 feat: add support of redis cluster
  backend/development.ini.sample
  backend/requirements.txt
  backend/setup.py
  backend/tracim_backend/__init__.py
  backend/tracim_backend/config.py
  doc/backend/env_settings.md
  doc/backend/setting.md
Labels: backend, dependencies

#6442 Add check for email_notification_type before sending summary mail
  backend/tracim_backend/command/periodic.py
  backend/tracim_backend/lib/core/event.py
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/Dashboard/UserStatus.jsx
  frontend/src/component/EmailNotificationTypeButton/EmailNotificationTypeButton.jsx
  frontend/src/component/EmailNotificationTypeButton/PopoverHelperBody.jsx
  tools_docker/Debian_Uwsgi/send_summary_mails.sh.sample
Labels: backend

#6446 various bugfixes before release
  backend/tracim_backend/migration/versions/2cfb200caf44_add_period_to_summary_mail.py
  frontend_app_thread/src/css/index.styl
  frontend_lib/src/helper.js
  functionnal_tests/cypress/integration/app_interface/switching_same_apps_feature_spec.js
  functionnal_tests/cypress/integration/notification_wall/filter_notification_spec.js
Labels: frontend, backend

#6451 Fix/x add missing dash app thread emoji
  CHANGELOG.md
  frontend_app_thread/src/container/Thread.jsx
Labels: frontend, app-thread

#6460 fix(frontend): changed spacing in email notification details
  frontend/i18next.scanner/ar/translation.json
  frontend/i18next.scanner/de/translation.json
  frontend/i18next.scanner/en/translation.json
  frontend/i18next.scanner/es/translation.json
  frontend/i18next.scanner/fr/translation.json
  frontend/i18next.scanner/nb_NO/translation.json
  frontend/i18next.scanner/pt/translation.json
  frontend/src/component/EmailNotificationTypeButton/PopoverHelperBody.jsx
  frontend/src/component/EmailNotificationTypeButton/PopoverHelperBody.styl
Labels: frontend

#6461 fix(frontend): changed color of dot in logbook timeline
  frontend_app_logbook/src/css/index.styl
Labels: frontend
