Repository tracim/tracim, pull requests merged in 2025-05, with the labels that each got.

#6743 fix(back): improve kanban perf
  backend/tracim_backend/applications/content_file/controller.py
  backend/tracim_backend/applications/content_html_document/controller.py
  backend/tracim_backend/error.py
  backend/tracim_backend/exceptions.py
  backend/tracim_backend/lib/core/content.py
  backend/tracim_backend/lib/core/storage.py
  backend/tracim_backend/lib/translate/providers.py
  backend/tracim_backend/lib/utils/authorization.py
  backend/tracim_backend/lib/utils/request.py
  backend/tracim_backend/tests/library/test_authorization_checker.py
  backend/tracim_backend/views/core_api/workspace_controller.py
Labels: backend

#6749 fix(front): dont merge revision when timeline will be mostly empty
  frontend/src/container/NotificationWall.jsx
  frontend_lib/src/component/Timeline/Timeline.jsx
  frontend_lib/test/component/Timeline.spec.js
  functionnal_tests/cypress/e2e/app_file/switch_between_apps.cy.js
Labels: frontend, frontend-lib, timeline

#6748 fix(front): sanitize note html for toc generation
  frontend_app_html-document/src/component/TableOfContent/TableOfContent.jsx
  frontend_app_html-document/src/helper.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/helper.spec.js
Labels: frontend, app-html

#6754 fix(front): set kanban custom column color as background color
  frontend_app_kanban/src/component/KanbanColumnEditor.jsx
  frontend_app_kanban/src/component/KanbanColumnHeader.jsx
  frontend_app_kanban/src/css/index.styl
  frontend_app_kanban/src/helper.js
Labels: frontend

#6758 fix(front): improve popup create content model selection UX
  CHANGELOG.md
  frontend_app_collaborative_document_edition/src/container/PopupCreateOfficeDocument.jsx
  frontend_app_html-document/src/container/PopupCreateHtmlDocument.jsx
  frontend_app_kanban/src/container/PopupCreateKanban.jsx
  frontend_app_logbook/src/container/PopupCreateLogbook.jsx
  frontend_lib/i18next.scanner/ar/translation.json
  frontend_lib/i18next.scanner/de/translation.json
  frontend_lib/i18next.scanner/en/translation.json
  frontend_lib/i18next.scanner/es/translation.json
  frontend_lib/i18next.scanner/fr/translation.json
  frontend_lib/i18next.scanner/nb_NO/translation.json
  frontend_lib/i18next.scanner/pt/translation.json
  frontend_lib/src/appContentFactory.js
  frontend_lib/src/component/CardPopup/CardPopupCreateContent.jsx
  frontend_lib/src/component/CardPopup/CardPopupCreateContent.styl
  frontend_lib/src/component/Input/RadioBtn/RadioBtn.jsx
  frontend_lib/src/component/Input/RadioBtn/RadioBtn.styl
  frontend_lib/src/component/TemplateContentSelector/TemplateContentSelector.jsx
  frontend_lib/src/component/TemplateContentSelector/TemplateContentSelector.styl
  frontend_lib/src/index.js
  frontend_lib/test/component/CardPopupCreateContent.spec.js
  frontend_lib/test/component/RadioBtn.spec.js
Labels: frontend

#6761 fix(front): fix lightbox download button style when app gallery is de…
  frontend_app_gallery/src/css/index.styl
  frontend_lib/src/component/Timeline/CommentFilePreview.jsx
  frontend_lib/src/component/Timeline/CommentFilePreview.styl
Labels: frontend

#6762 fix(front): avoid displaying 'no favorite' while favorite list is loa…
  frontend/src/action-creator.sync.js
  frontend/src/container/Favorites.jsx
  frontend/src/container/WorkspaceContent.jsx
  frontend/src/reducer/favoriteList.js
Labels: frontend
