Repository tracim/tracim, pull requests merged in 2025-03, with the labels that each got.

#6693 fix(front): add html title to kanban column title
  frontend_app_kanban/src/component/KanbanColumnHeader.jsx
Labels: frontend

#6695 feat(front): add text format viewer + refactor viewer selection into …
  frontend/test/.mocharc.js
  frontend_app_admin_workspace_user/test/.mocharc.js
  frontend_app_agenda/test/.mocharc.js
  frontend_app_collaborative_document_edition/test/.mocharc.js
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/component/IfcViewer/IfcViewer.jsx
  frontend_app_file/src/component/JpegAndVideoViewer/JpegAndVideoViewer.jsx
  frontend_app_file/src/component/JpegAndVideoViewer/JpegAndVideoViewer.styl
  frontend_app_file/src/component/TextViewerSyntaxHighlight/TextViewerSyntaxHighlight.jsx
  frontend_app_file/src/component/TextViewerSyntaxHighlight/TextViewerSyntaxHighlight.styl
  frontend_app_file/src/component/ViewerSelector.jsx
  frontend_app_file/src/component/prismJsLanguageList.js
  frontend_app_file/src/container/File.jsx
  frontend_app_file/test/.mocharc.js
  frontend_app_file/test/component/JpegAndVideoViewer.js
  frontend_app_folder_advanced/src/container/FolderAdvanced.jsx
  frontend_app_folder_advanced/test/.mocharc.js
  frontend_app_gallery/test/.mocharc.js
  frontend_app_html-document/src/container/HtmlDocument.jsx
  frontend_app_html-document/test/.mocharc.js
  frontend_app_kanban/src/container/Kanban.jsx
  frontend_app_kanban/test/.mocharc.js
  frontend_app_logbook/src/container/Logbook.jsx
  frontend_app_logbook/test/.mocharc.js
  frontend_app_share_folder_advanced/test/.mocharc.js
  frontend_app_thread/src/container/Thread.jsx
  frontend_app_thread/test/.mocharc.js
  frontend_app_workspace/test/.mocharc.js
  frontend_app_workspace_advanced/src/container/WorkspaceAdvanced.jsx
  frontend_app_workspace_advanced/test/.mocharc.js
  frontend_lib/src/helper.js
  frontend_lib/src/index.js
  frontend_lib/test/.mocharc.js
  functionnal_tests/cypress/e2e/app_file/add_file_error_messages.cy.js
  functionnal_tests/cypress/e2e/app_file/file_display.cy.js
  functionnal_tests/cypress/e2e/app_file/preview_video.cy.js
  functionnal_tests/cypress/e2e/app_file/switch_between_file.cy.js
Labels: frontend

#6697 #6691 in some case, url string includes a line return, resulting in HTTP 500
  backend/tracim_backend/lib/core/url_preview.py
Labels: backend

#6700 fix(front): better cleanup of ifc viewer on error
  frontend_app_file/src/component/IfcViewer/IfcViewer.jsx
  frontend_app_file/src/component/TextViewerSyntaxHighlight/TextViewerSyntaxHighlight.jsx
Labels: frontend

#6701 fix(docker): set Dockerfile to use node 16 image
  tools_docker/Debian_New_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi/Dockerfile
  tools_docker/Debian_Uwsgi_ARM64/Dockerfile
Labels: docker

#6702 fix(back): allow adding new CSP rule without overwriting default CSP
  backend/development.ini.sample
  backend/tracim_backend/config.py
  backend/tracim_backend/tests/functional/test_frontend.py
  backend/tracim_backend/views/frontend.py
  docs/administration/installation/using_environment_variables_instead_of_configuration_parameters.md
  functionnal_tests/cypress/e2e/generic_frontend/operation_tinymce.cy.js
  run_dev_backend.sh
Labels: backend

#6703 Fix/6694 add size limit to text viewer
  frontend_app_file/i18next.scanner/ar/translation.json
  frontend_app_file/i18next.scanner/de/translation.json
  frontend_app_file/i18next.scanner/en/translation.json
  frontend_app_file/i18next.scanner/es/translation.json
  frontend_app_file/i18next.scanner/fr/translation.json
  frontend_app_file/i18next.scanner/nb_NO/translation.json
  frontend_app_file/i18next.scanner/pt/translation.json
  frontend_app_file/src/component/FileComponent.jsx
  frontend_app_file/src/component/TextViewerSyntaxHighlight/TextViewerSyntaxHighlight.jsx
  frontend_app_file/src/component/TextViewerSyntaxHighlight/TextViewerSyntaxHighlight.styl
  frontend_app_file/src/component/ViewerSelector.jsx
  frontend_app_file/src/container/File.jsx
  frontend_lib/src/component/HTMLContent/HTMLContent.jsx
  frontend_lib/src/component/HTMLContent/HTMLContent.styl
  frontend_lib/src/helper.js
  functionnal_tests/cypress/e2e/generic_frontend/operation_tinymce.cy.js
Labels: frontend

#6706 fix(front): fix fic viewer crash on description edit + plain text gra…
  backend/development.ini.sample
  backend/tracim_backend/config.py
  backend/tracim_backend/tests/functional/test_system.py
  frontend_app_file/src/component/IfcViewer/IfcViewer.jsx
  frontend_app_file/src/component/TextViewerSyntaxHighlight/TextViewerSyntaxHighlight.jsx
  frontend_app_file/src/component/prismJsLanguageList.js
Labels: frontend
